#accoverview{
	background: #F3F6FD;
}
#accoverview .wrap-item{
	width: 14%;
	float: left;
}
#accoverview .box-body{
	padding: 14px;
	border-top: 1px solid #E0E6EF;
}

#accoverview .wrap-item span{
	    clear: both;
    display: block;
    text-align: center;
}
#accoverview .wrap-item .numb{
	font-size: 38px;
}
.accounts-box{
	background: #F3F6FD;
}
.accounts-box .box-body{
	border-top: none;
}
.accounts-box .table>thead:first-child>tr:first-child>th{
	border-top: 1px solid #E4EAF2;
}

.accounts-box .table-bordered > tbody > tr > th, 
.accounts-box .table-bordered > tfoot > tr > th, 
.accounts-box .table-bordered > thead > tr > td, 
.accounts-box .table-bordered > tbody > tr > td, 
.accounts-box .table-bordered > tfoot > tr > td{
	border: 1px solid #E4EAF2;
	border-left: none;
	border-right: none;
	vertical-align: middle;
}
.accounts-box .table-bordered > thead > tr > th{
	border:none;
}
#accoverview .wrap-item .text{
	color: #323232;
    font-size: 17px;
}
#accounts span
{
	vertical-align: middle;
    //line-height: 45px;
}
.title-pusers{
	color: #323232;
	font-weight: normal;
}
#accounts.table-bordered{
	border-bottom:none;
	min-width:100%;
	max-width:100%;
	margin:0;
}
.accounts-box table.dataTable thead .nosort{
	background-image:none;
}
.accounts-box .box-body{
	padding: 0;
}
#accounts tbody tr{
	background: transparent;
}
#accounts tbody tr:nth-last-child(1) td{
	border-bottom:none;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-bottom:none !important;
}
#accounts_wrapper .dataTables_scrollHeadInner,
#accounts_wrapper .dataTables_scrollHeadInner .table-responsive{
	min-width: 100%;
}
.export-acc{
	position: relative; 	
	padding: 6px 28px 6px 16px;
}
.export-acc:after{
	content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: 3px;
    right: 9px;
    font-size: 19px;
}
#pageviews-admin{
	height: 400px;
	width: 100%;
	background: #ECF0F5;
}
.pwusers-block .box-header{
	padding: 0
}
.center-text{text-align:center;}
#linksin.dataTable tbody tr{}

@media (min-width: 991px){
	.dataTables_scrollBody {
	    height: 287px !important;
	}
	.title-pusers{
		font-size:13px;
	}
}
@media (min-width: 1224px){
	.dataTables_scrollBody {
	    height: 283px !important;
	}
}
@media (min-width: 1400px){
	.dataTables_scrollBody {height: 325px !important;}
	.title-pusers{
		font-size:14px;
	}
}