@font-face {
    font-family: 'icomoon';
    src:    url('admin-fonts/icomoon.eot?uueshv');
    src:    url('admin-fonts/icomoon.eot?uueshv#iefix') format('embedded-opentype'),
        url('admin-fonts/icomoon.ttf?uueshv') format('truetype'),
        url('admin-fonts/icomoon.woff?uueshv') format('woff'),
        url('admin-fonts/icomoon.svg?uueshv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'NotoSans';
  src: url('admin-fonts/NotoSans.eot?#iefix') format('embedded-opentype'),  url('admin-fonts/NotoSans.woff') format('woff'), url('admin-fonts/NotoSans.ttf')  format('truetype'), url('admin-fonts/NotoSans.svg#NotoSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('admin-fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),  url('admin-fonts/NotoSans-Bold.woff') format('woff'), url('admin-fonts/NotoSans-Bold.ttf')  format('truetype'), url('admin-fonts/NotoSans-Bold.svg#NotoSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [label^="icon-"], [label*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Open Sans', sans-serif !important;
	color: #323232;
}

.notosan-bold {
	font-family:'Open Sans', sans-serif;
	font-weight: 700!important;
}

.opensan {
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
}


table.table.question-table.list-question thead > tr > th,
 .table.question-table.list-question > tbody > tr > th,
 .table.question-table.list-question > tfoot > tr > th,
 .table.question-table.list-question > thead > tr > td,
 .table.question-table.list-question > tbody > tr > td,
  .table.question-table.list-question > tfoot > tr > td,
  .table.bonus-table.list-bonus > tbody > tr > td {
    padding: 20px 0;
}
table.table.question-table.list-question.ui-sortable-handle:first-child{
    padding: 20px 0;
}
.notosan-bold.question-app-title {
    padding-bottom: 10px;
}
th.notosan-bold.text-center {
    color: #323232;
    font-family: 'Open Sans', sans-serif !important;
}
.icon-Application:before {
    content: "\e900";
}
.icon-Customise:before {
    content: "\e901";
}
.icon-Dashboard:before {
    content: "\e903";
}
.icon-Down_arrow:before {
    content: "\e904";
}
.icon-Gameplay:before {
    content: "\e905";
}
.icon-General:before {
    content: "\e906";
}
.icon-Logout:before {
    content: "\e907";
}
.icon-Setting:before {
    content: "\e908";
}
.icon-Theme:before {
    content: "\e909";
}
.icon-Web:before {
    content: "\e90a";
}
.icon-icon-menu:before {
    content: "\e902";
}
.icon-Icon-Check:before {
    content: "\e90c";
}
.icon-Icon-no:before {
    content: "\e90b";
}

.bg-white {
	background: white !important;
}

.modal-content {
	border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px !important;
}

.date-picker-group input {
	border-radius: 4px 0px 0px 4px;
	background-color: transparent;
	height: 36px;
}

.date-picker-group .input-group-addon {
	border-radius: 0px 4px 4px 0px;
	background-color: transparent;
}

.input-group.date {
	width: 266px;
}
textarea.form-control{
	background:transparent;
	border-color:#a8aebe
	}
.general-block.box-body{
	padding-top:50px;
}
#qs-title,
#bonus-title,
#bonus-point{
	/*background:transparent;*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}
.margin-top-10 {
	margin-top: 10px;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-right-20 {
	margin-right: 20px;
}
.margin-right-28 {
	margin-right: 28px;
}
.bg-block .box-header {
    margin: auto 16px;
    padding: 2px;
}
.box-header .box-title {
	font-weight: normal;
    font-size: 17px;
    text-align: left;
    line-height: 34px;
}

.sidebar-menu .treeview-menu {
    //padding-left: 25px;
    padding-left:0;
}
.treeview-menu .li a span{
	margin-left:25px;
}

.logo-left .sidebar-toggle{
    /*content: "\f0c9";*/
    background: url('../images/hamberger.png');
    background-repeat: no-repeat;
    top:10px!important;
    right:10px!important;
}
.logo-left .sidebar-toggle:hover {
	background: url('../images/hamberger_w.png');
	background-repeat: no-repeat;
}

.logo-left .sidebar-toggle {
	float: initial;
    font-family: fontAwesome;
    color: #323232;
    position: absolute;
    top: -15px;
    right: 4px;
}

.skin-blue .main-header .logo {
	margin-top:30px;
	/*background-color: #222d32;*/
	font-family: 'Noto Sans', sans-serif;
	position:fixed;
}

.skin-blue .main-header .logo span {
	font-weight: bold;
	margin-left:10px;
	opacity:1;
	transition:all 0.5s;
}

.skin-blue .main-header .logo:hover {
    background:none;

}

.logo.logo-left img{
    width: 100%;
}

.content-header {
	background-color: #fff !important;
	border-bottom: 1px solid #dfe1e4;
	padding: 10px 0px;
	text-align: center;
}
.content-header img {
	width: 50px;
}
.content-header span {
	margin: 15px 25px 0px 0px;
	font-size: 22px;
	    color: #7D8398;
}

.center_div{
    margin: 0 auto;
    width: 40%;
}

.answer-choice label.btn {
	font-size: 45px;
    background-color: tranparent;
    margin-right: 10px;
}

.answer-choice label.btn:active,
.answer-choice label.btn.active {
	box-shadow: inherit;
}

.answer-choice label.icon-Icon-Check.active {
	color: #42f62b;
}

.answer-choice label.icon-Icon-no.active {
	color: #ff0000;
}

.btn-style1 {
	padding: 6px 20px;
	border: 1.5px solid #323232;
	border-radius: 20px;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background-color: inherit;
    color: #323232;
    font-size: 15px;
    margin-bottom: 5px;
}
/*.save-btn{
	max-width:125px;
	margin-bottom:10px;
	}*/
.supper-admin input.save-btn{max-width:173px;}
.save-btn{max-width:173px;}
.wrap-btn-uddate{    padding: 27px 0 53px;}
.general-form input{background:transparent;}
.question-form input{background:transparent;}
.btn-style1:hover {
	//border-color: #515974 !important;
	webkit-box-shadow: inherit !important;
    box-shadow: inherit !important;
    background: #323232;
    color: #fff;
}

.btn-style1:active,
.btn-answer-yes:active,
.btn-answer-no:active {
	box-shadow: inherit;
}

.btn-style1:focus,
.btn-style1:active {
	outline: none !important;
}

.btn-custom select {
	position: relative;
	z-index: 99;
    padding-right: 25px !important;
    background: transparent !important;
}
.status-desc {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}
/* APPLICATION */
.question-table,
.bonus-table {
	margin-bottom: 0px;
}
.question-table th,
.question-table td {
	vertical-align: middle !important;
}

.question-image {
	display: block;
	margin: 10px 0px;
	max-width: 250px;
	height: auto;
    width: 100%;
}

.question-table .icon-icon-menu,
.bonus-table .icon-icon-menu {
	cursor: pointer;
}

.question-table .question-item-buttons,
.bonus-table .question-item-buttons {
	margin: 20px 0px;
	text-align: center;
}

.question-item-title {
	font-size: 17px;
    font-weight: normal;
    max-width: 192px;
    line-height: 32px;
}
.question-app-title{
	font-size: 17px;
    font-weight: normal;
    line-height: 10px;
}
.amcharts-balloon-div{z-index:9999999999;}
.question-item-intro {
	font-size: 13px;
}

.question-item-info {
	font-size: 16px;
	text-align: center;
}

.question-item label {
	margin-top: 10px;
}

.bonus-action-choice .btn-style1.active {
	background-color: #dedede;
}

@media (min-width: 768px) {
	.sidebar-mini.sidebar-collapse .main-header .logo span {
	    //display: none;
	    opacity:0;
	}

	.sidebar-mini.sidebar-collapse .main-header .logo {
		padding: 0px;
		position:fixed;
	}
}

.border-bottom {
    border-bottom:1px solid #E4EAF2;
    padding: 25px 0;
}
.img-theme img {
    height: 150px;
}
.img-theme {
    text-align: center;
    margin-top: 15px;
}

.supper-admin input[type=text], .supper-admin input[type=password]  {
	height: 24px;
}

.supper-admin .question-item-title{
	text-align: right;
}
.supper-admin input{
	min-height: 31px;
   	background: transparent;
   	border: 1px solid #323232;
  	margin-left:2px;
  	max-width: 417px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}

.content .successful-message, .content .error-message {
	margin-top: 10px;
}

.export-dashboard {
    width: 108px;
    float: right;
}

.export-dashboard .btnexportdashboard{
    border-radius: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0px 0px 0px 19px;
    cursor: pointer;
    background: transparent;
    border:1.5px solid #323232;
    line-height: 32px;
    font-size: 15px;
    height: 35px;
}
.export-dashboard .btnexportdashboard:hover {
	background: #323232;
    color: #fff;
	//border-color: #515974;
}

.export-dashboard .btnexportdashboard:after{
    content: "\f107";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: 4px;
    right: 9px;
    font-size: 19px;
    right: 22px;
    top: 14px;
}
#auth-button {
	cursor: pointer;
    background: transparent;
	border-radius: 20px;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    border:1.5px solid #323232;
    outline:none;
    font-weight:700;
}
#auth-button:hover {
	background: #323232;
	color: #fff;
}
#btnfilterMonth.btn-drp{
	padding:4px 30px 4px 14px;
}
#btnfilterMonth.btn-drp{
	right:10px;
}
.btn-drp {
    border: 1.5px solid #323232;
    background: transparent;
    color: #323232;
    line-height: 26px;
    font-size: 15px;
    padding: 4px 35px 4px 16px;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}
.btn-drp:focus,
.btn-drp:active,
.btn-drp:target{

    outline:none !important;
}
.btn-drp:hover{
    background: #323232 !important;
    color: #fff;
}
.btn-drp:after{
    top: 6px;
    right: 13px;
}
.dropdown-lst {
    display: none;
    background: #dddddd none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: none;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 99;
}

.dropdown-lst > li {
    cursor: pointer;
    font-size: 14px;
    line-height: 25px;
    padding: 0 17px;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.dropdown-lst > li:hover {
    background: #83899D;
    color: #fff
}

@media print {

	.row {
	    margin-right: -15px;
	    margin-left: -15px;
	}

	.col-md-12 {
	    width: 100%;
	}

	.col-md-3 {
	    width: 25%;
	}

	.col-md-9 {
	    width: 75%;
	}

	#contextExport {
		width: 100%!important;
	}

	.line2print {
		margin-top:300px;
	}

	.line3print {
		margin-top:300px;
	}

	.overview-block {
		display:none;
	}

	.appvisitors-block {
		margin-top:200px;
	}

	.customprint1superadmin {
		margin-bottom: 350px;
	}
	#bouncerate {
	    margin-left: 40px;
	}
	/*
	#pwusertb th {
		width: auto!important;
	}
	*/



}

@page
{
  size: 420mm ;
}

.box-header-superadmin {
	margin: 10px 23px;
}

.box-header-superadmin h3 {
	margin-top: 10px !important;
}

.box-header-superadmin button {
	margin-top: 10px !important;
}
/*
.dataTable th {
	border: 1px solid #000!important;
}
#export-today-pusers td {
	border: 1px solid #000!important;
}
*/
.bgred {
	background: rgb(242, 25, 10);
}
.linetopdashboard {
	position: absolute;
    width: 100%;
    height: 2px;
    top: 145px;
    background: #fff;
    z-index: 1;
}
.linebottomdashboard{
	width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    z-index: 99;
}
.circle-in-bloon {
  font-size:20px;
  top: -11px;
right: -11px;
position: absolute;
}
.circle-in-bloon.repeat{
  color:#d23757;
}
.circle-in-bloon.unique{
  color:#b7d9e5;
}
.linebottomdashboard2{
	width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    z-index: 99;
    bottom: 41px;
}
.clear {
	clear:both;
}
.max-weight{
	font-weight:bolder !important;
}
/* GENERAL PAGE */
#img_profile {
	max-width: 90px;
	max-height: 90px;
}
.padding-wrap-img{padding-top:15px;}
#img_intro {
	max-width: 500px;
	max-height: 280px;
}

/* LEFT MENU */
.main-sidebar .user-panel {
	white-space: initial !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:1224px){
	#nsups-click .export-dashboard {margin-left:8px}
}
@media (min-width:1400px){
	#nsups-click .export-dashboard {margin-left:0px}
}
#today-pusers-export {
	margin-left: 8px;
}
#today-pusers-export li a {
	color: #3D4664;
}

.btnexportquestion li a {
	color: #3D4664;
}

.btnexportbonus li a {
	color: #3D4664;
}
.form-control {
	border-color:#323232!important;
}