
.amcharts-chart-div > a{
	display: none !important;
}
.box.box-solid{
    border-radius: 5px;
    position:relative;
    overflow: hidden;
}
#pageviews-click{
	//padding: 20px;
    float: left;
}
#pageviews{
	width: 100%; 
	height: 400px; 
	//background-color: #F2F6FC;
}
#nsups{
    width: 100%; 
    height:240px;
}
.min-height-398{
    min-height: 398px;
}
.amcharts-chart-div{max-width: 100%;}
.overview-block .bg-block{
    padding: 15px 0;
}
.overview-block .bg-block .box-header{
    border-bottom: none;
}
//.affinityreach-block .fixaffreach{margin: 0 15px 0 0;}
.affinityreach-block .box-body{
	padding:15px 0;
	} 
.amcharts-balloon-div div {text-align:inherit !important;}
.fixbtn{
	position: absolute;
    top: 10px;
    left:18px;
	z-index: 35;
}
.table.links-in{min-width:100%;width:100% important;}
.pageviews-block{
    
}
.export-dashboard .btnexportdashboard{position: relative; color: #323232}
.export-dashboard .btnexportdashboard:after{
	    right: 18px;
    top: 1px;
}
.pageviews-block .title{
}
.bg-block{
    background: #fff;
    //padding: 0;
    //margin: 5px 0;
}
.bg-block .box-header{
        margin: auto 23px;
        padding: 2px;
}
.bncerate-block .bg-block .box-header{padding:0;}
.visitors-block .wrap-row{
	    margin: 10px 0;
	}
.btn.btn-custom .custom-select{
    border-color: #9f9fb6;
    outline:none;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */

}

.btn.btn-custom:hover .custom-select{
    background: #83899d !important;
    color: #fff;
}


.btn-custom:hover:-ms-expand{ color: #fff;}
.box-body{
    padding: 20px 34px 20px 26px;
    border-top: 1px solid #ddd;
}
.bg-block .title{
    font-weight: 800;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    padding: 4px 0;
}
.overview-block .title{
    padding-top: 3px;
}
#pageviews-click .next{
    min-width: 60px;
    border-color: #d2d6de;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: inherit;
    color: #333;
}
#pageviews-click .next .fa{
	margin: 0 0px 0 15px;
} 
#pageviews-click .today{
   min-width: 60px;
    border-color: #d2d6de;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: inherit;
    color: #333;
    margin-left: 20px;
    
}
.total-page-views span{
	float: none;
    display: block;
    line-height:26px;
    text-align: right;
}
.total-page-views .numb{
    font-size: 43px;
    line-height: 33px;
    letter-spacing: 1px;
    font-weight: 700;
}
.total-page-views .text{
	//color: #A7A8BC;
    font-size: 18px;
    line-height:50px;
}
.visitors-block{
    
}
#bouncerate{width       : 100%;
    
    font-size   : 11px;
  }
.visitors-block .box-body{text-align: center;}
.visitors-block .numb{
    font-size: 43px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    font-weight: 700;
}
.visitors-block .text{
    //color: #A0A2B8;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.nsups-hover:hover rect {
	fill: red;
	stroke: red;
}
.box-body .visits{
    width: 210px;
}
.visits span{
    float: none;
    line-height:26px;
    display: block;
    text-align: right;
}
.visits .numb{
    font-size: 43px;
    line-height: 33px;
    letter-spacing: 1px;
    font-weight: 700;
}
.visits .text{
    //color: #A7A8BC;
    font-size: 18px;
    line-height:50px;
}
#agebreak{max-width:290px;}
.donut-chart {
    width       : 100%;
    height      : 200px;
}
.info-gender,
.info-bncrate{
	padding: 30px 0 6px
	}
.info-gender span{
    text-align: center;
    display: block; 
    font-size: 43px;
    font-weight: normal;
}
.info-gender .percent{
    font-weight: bold; 
}
.info-gender .text{
    font-weight: normal;
    font-size: 18px;
    color: #323232;
}
.min-height-block{
    min-height: 388px;
}
.wrap-donut{
    //padding: 3% 0 0 0;
}
.wrap-info-donut{
    padding: 4% 0 0;
}
.wrap-info-donut span{
    text-align: center;
    display: block;
    vertical-align: middle;
}
.wrap-info-donut .percent{
    font-size: 43px;
    font-weight: bold;
}
.wrap-info-donut .text{
    font-weight: normal;
    font-size: 18px;
    color: #323232;
}
#appvisitors{
    width: 100%; 
    height: 400px;
}
#appvisitors-click #repeat{
    background: #f22549;
    color: #e4ebf7;
    padding: 8px 20px;
    border: none;
}
#appvisitors-click #repeat:hover{color: #333}
#appvisitors-click #repeat.hasUnique{
    background: #82c7dc;
    color: #fff;
}
#appvisitors-click #repeat.hasUnique:hover{color: #333}
.info-bncrate span{
    text-align: center;
    display: block; 
    font-size: 43px;
}
.info-bncrate .percent{
    font-weight: bold; 
}
.info-bncrate .text{
    font-weight: normal;
    font-size: 18px;
    color: #323232;
}
.title-pusers{
    line-height: 49px;
    color: #323232;
    font-size: 14px;
    font-weight: normal;
}
.table.pusers > thead > tr > th, 
.table.pusers > tbody > tr > th, 
.table.pusers > tfoot > tr > th, 
.table.pusers > thead > tr > td, 
.table.pusers > tbody > tr > td, 
.table.pusers > tfoot > tr > td,
.table.links-in > thead > tr > th, 
.table.links-in > tbody > tr > th, 
.table.links-in > tfoot > tr > th, 
.table.links-in > thead > tr > td, 
.table.links-in > tbody > tr > td, 
.table.links-in > tfoot > tr > td
{
        border-bottom: 1px solid #D0D7E2;
        padding: 5px 8px;
}
.table.pusers > tbody > tr:nth-last-child(1) > td{
    border-bottom: none;
}
.box-body.wrap-pusers{padding: 0;}
.table.pusers.tab2 > tr:nth-child(1) > td{

}
.table.pusers p{
    line-height: 21px;
    margin: 17px 0 26px;
}
.table.pusers{
    //max-height: 249px;
    overflow-y: scroll; 
    margin-bottom: 0
}
.addborders-pusers{
    border-top: 1px solid #D0D7E2;
}
.addborders-pusers img{
    float: left;
	margin: 12px 10px 0 17px;
    width: 50px;
    vertical-align: middle;
    
}
#linksin tr{

}

#affreach{
    width: 100%; 
    height: 450px;
}
.max-height-scroll{
    height: 340px;
    overflow-y: scroll;
}
.linksin-block .box-body{padding:0 15px 30px;}
.form-group.date-picker-group {
	overflow: initial;
}


/*.table.pusers{
    position: relative;
    //margin: 44px 0 0 0;
}
.table.pusers thead{
    position: absolute;
    //top: -44px;
    width: 100%;
    left: 0;
    z-index: 5;
}
.table.pusers thead tr:nth-child(1) {
    width: 100%;
    display: inline-block;
    background: #f2f6fc;
}
.table.pusers thead tr{
    width: 100%;
    display: inline-block;
}
.table.pusers thead tr th{
    display: inline-block;
}
.table.pusers tbody{
    //overflow-y: scroll;
    padding: 58px 0 0 0;
    height: 350px;
    display: block;
}
.table.pusers tbody tr{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 4px 0px;
}

.table.pusers tbody td{
    display: inline-block;
}
.table.pusers tbody .mCSB_container{
    margin-right: 16px;
}*/
#today-pusers{
    position: relative;
    z-index: 32;
    margin-left: 6px;
}
#wrapbtn{
        position: absolute;
    top: 5px;
    z-index: 30;
}
#wrapbtn:after{z-index: 3}
.dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom: none;}
#pwusertb{float: left;color: #323232;}
#pwusertb tbody p{line-height: 35px;}
#pwusertb.dataTable tbody tr{/*background: #F2F6FC;*/}
.dataTables_scrollHeadInner{min-width: 100%;}
/*.dataTables_scrollHead{overflow: visible !important;}
@-moz-document url-prefix()
{
    .dataTables_scrollHead{
        overflow-y: visible !important;
        overflow: -moz-hidden-unscrollable !important;
    }
}*/
#pwusertb_wrapper .dataTables_scrollBody{border-bottom: none;position: relative;z-index: 29}
/* remove spacing */
#pwusertb_wrapper .row .col-sm-12{
	padding-left:0;
	padding-right:0;
}
#linksin_wrapper .row .col-sm-12{
	padding-left:0;
	padding-right:0;
}
.pleft-intble{
	padding-left: 17px;
}
/* end remove spacing */
table.dataTable thead .nosort.sorting_asc{background-image:none;}
#pwusertb_wrapper .dataTable {border: none;min-width: 100%;}
#pwusertb_wrapper .table-bordered > tbody > tr > td,
#pwusertb_wrapper .table-bordered > thead > tr > th {border-left: none;border-right: none;}

.pageviews-block .amcharts-category-axis .amcharts-axis-label tspan,
.appvisitors-block .amcharts-category-axis .amcharts-axis-label tspan {
	fill: #515974 !important;
}
.pageviews-block .amcharts-category-axis .amcharts-axis-label tspan[y="7"],
.appvisitors-block .amcharts-category-axis .amcharts-axis-label tspan[y="7"] {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: bold;
}
#linksin_wrapper.dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-bottom:none !important;
	height: 275px !important;
}
#linksin.links-in > tbody > tr > td p{margin:12px 0;}	
#linksin.links-in > tbody > tr:nth-last-child(1) > td{border-bottom:none}
#linksin.dataTable tbody tr{/*background:#F2F6FC*/}
.justify-numb{text-align: right;}
@media(min-width:991px){
	.min-height-block {
	    min-height: 353px;
	}
	.dataTables_scrollBody {
	    height: 300px !important;
	}
	.fixaffreach {
	    padding: 0 20px;
	    max-height: 300px;
	    overflow-y: scroll;
	}
}
@media (min-width: 1224px){
    .min-height-block{
        min-height: 365px;
    }
	#nsups{height:240px;}
    .dataTables_scrollBody {
        height: 294px !important;
    }
    .justify-numb {
	    padding-right: 7px;
	}
	.table.pusers p {
   		margin: 17px 0;
    }
    .fixaffreach{
        padding: 0 20px;
		max-height: 300px;
	    overflow-y: scroll;
	}
	.linebottomdashboard{bottom: 41px;}
	.addborders-pusers img{    
	margin: 6px 10px 0 17px;}
	#pwusertb tbody p {
	    line-height: 28px;
	}
	.linksin-block .box-body{
	    padding: 0 15px 26px;
	}
}

@media (min-width: 1400px){
    #nsups{height:285px;}
    .min-height-block{
        min-height: 411px;
    }
    .dataTables_scrollBody {
        height: 329px !important;
    }
    .nsups-block .box-body{
        //min-height: 360px;  
    }
    .table.pusers tbody{
        height: 387px;
    }
    .table.pusers p {
   		margin: 19px 0;
    }
    .justify-numb {
	    padding-right: 17px;
	}
	.fixaffreach{
        padding: 0 20px;
		max-height: 310px;
	    overflow-y: scroll;
	}
	.linebottomdashboard{bottom: 42px;}
	.addborders-pusers img{    
		margin: 12px 10px 0 17px;
	}
	#pwusertb tbody p {
	    line-height: 35px;
	}
	.linksin-block .box-body{
	    padding: 0 15px 26px;
	}
	#btnfilterMonth.btn-drp {
	    right: 0px;
	}
}

/* print */
@media print {
	/*dashboar admin */
	
	
	#linksin_wrapper .dataTables_scrollBody {
		height: auto!important;
		overflow: initial!important;
	}
	#linksin_wrapper.dataTables_wrapper.no-footer .dataTables_scrollBody{
		height: auto!important;
		overflow: inherit;
	}
	.dataTables_scrollBody {
		height: auto!important;
		overflow: inherit;
	}		
	
	table#links-in {
		margin: auto;
	}
	table.no-footer{
		width: 100%!important;
	} 
	.dataTables_scrollHeadInner {
		width: auto!important;	
	}
	table.no-footer tr td:last-child{
		text-align: center;
	}
	
	#today-pusers {
		display: none;
	}
	 
	.dataTables_scrollHeadInner table.pusers {
		display:none;
	}
	.rowprint td {
		text-align:right;
	}
	.rowprint td:last-child {
		text-align:right!important;
	}
	
	
}
