.login-logo {
	margin-top: 5%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.login-logo img{
	width: 203px;
	height: 203px;
}

.login-input {
	width: 80%;
	background: none;
	border: none;
    outline: none;
    color: white;
    font-size: 16px;
}
.login-input::-webkit-input-placeholder {
	color: white;
	font-size: 16px;
}

.input-wrapper {
	padding: 20px 30px 10px 30px;
	border-bottom: 1px solid #DDDDDD;

}
.input-wrapper.colorblack{
	border-bottom: 1px solid #000;

}
.input-wrapper.colorblack input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.input-wrapper.colorblack input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.input-wrapper.colorblack input:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.input-wrapper.colorblack input:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
.login-label {
	vertical-align: bottom;
	margin-bottom: 0px;
	margin-right: 10px;
}


.input-wrapper {
	margin-bottom: 5px;
}

.forgot-password {
	text-align: right;
	padding-right: 30px;
	padding-top: 10px;
}
.sign-in-btn {
	margin-left: -15px;
    margin-right: -15px;
}
.my-container form {
	font-family: 'Open Sans', sans-serif;
}
.sign-in-btn input {
	margin-top: 5%;
	padding: 25px 0px;
	width: 100%;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
}
.fb-login-wrapper span {
	font-family: 'Open Sans', sans-serif;
}
.fb-login-wrapper img {
	margin-right: 15px;
}

.title {
	font-size: 45px;
	margin: 5% 0px;
}

.back {
	font-size: 26px;
    padding: 40px 0px;
}

.back a {
	text-decoration: none;
}
.forgot-pass-text {
    font-size: 32pt;
    padding-bottom: 50px;
    padding-left: 10px;
}
.forgot-label {
	font-size: 24pt;
    padding-right: 25px;
    opacity: 0.5;
}

.forgot-btn{
	padding-top: 100px;
}

.text-login {
    padding-left: 40px;
    padding-top: 40px;
}

.disable {
	opacity: 0.5;
}
