@font-face {
	font-family: 'Avenir LT Std 45 Book';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir LT Std 45 Book'), url('fonts/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vcuz7k');
  src:  url('fonts/icomoon.eot?vcuz7k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vcuz7k') format('truetype'),
    url('fonts/icomoon.woff?vcuz7k') format('woff'),
    url('fonts/icomoon.svg?vcuz7k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e913";
}
.icon-trophy_star:before {
  content: "\e914";
}
.icon-icon-menu:before {
  content: "\e902";
}
.icon-Icon_Envolope:before {
  content: "\e912";
}
.icon-Application:before {
  content: "\e900";
}
.icon-Customise:before {
  content: "\e901";
}
.icon-Dashboard:before {
  content: "\e903";
}
.icon-Down_arrow:before {
  content: "\e904";
}
.icon-Gameplay:before {
  content: "\e905";
}
.icon-General:before {
  content: "\e906";
}
.icon-Logout:before {
  content: "\e907";
}
.icon-Setting:before {
  content: "\e908";
}
.icon-Theme:before {
  content: "\e909";
}
.icon-Web:before {
  content: "\e90a";
}
.icon-icon-Close-Full:before {
  content: "\e90f";
}
.icon-icon-Back:before {
  content: "\e910";
}
.icon-Icon-Check:before {
  content: "\e90c";
}
.icon-icon-Email:before {
  content: "\e911";
}
.icon-Icon-no:before {
  content: "\e90b";
}
.icon-icon-Password:before {
  content: "\e90d";
}
.icon-icon-Username:before {
  content: "\e90e";
}
.icon-icon-NewPassword:before {
  content: "\e90d";
}

html {
	font-family: 'Open Sans'!important;
}
body {
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	/*font-family:'Avenir LT Std 45 Book';*/
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 16px;
	overflow-x:hidden;
}

.modal-body {
	color: black;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
}

a.a-password {
	color: #fff;
    text-decoration: none;
}

a.a-password:hover  {
	color: #fff;
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-40 {
	margin-top: 40px;
}

.my-container {
	/* background: green; */
	width: 508px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-pink {
	color: #fff;
	background-color: #f22549;
    border-color: #f22549;
    border: none;
    border-radius: 0;
}

.btn-pink:hover,
.btn-pink:focus {
	color: #fff;
}

.btn-pink:focus,
.btn-pink:active:focus {
	outline: 0px;
}

.go-next-page {
	cursor: pointer;
}
#catch-rotate{width:100%;height:100%;position:fixed;z-index:99999;background-color:#f1627b;display:none;text-align:center;top: 0;
 opacity:0.8;
 color: #fff;
}
#catch-rotate p{position:absolute;font-size:22px;top:40%;margin:0 auto;display:block;width:100%;    color: #fff;}
#animation-rotate{margin-left:5%;margin-top:10%;}
/* The side navigation menu */
.sidenav {
    max-width: 450px;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: all 0.5s ease-in-out 0s; /* 0.5 second transition effect to slide in the sidenav */
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

/* The navigation menu links */
.sidenav a {
    padding: 20px 8px 20px 50px;
    text-decoration: none;
    font-size: 20pt;
    color: #1d1d26;
    display: block;
    transition: 0.3s;
    border-bottom: 1.5px solid #f3f3f4;

}

.straits {
    font-size: 20pt;
    color: #034079;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
    font-family: initial;
    border-bottom: none;
    padding: 30px 0;
}
.qs-result {
    padding: 0 25px;
}

.sidenav a:first-child {
    border-top: 1.5px solid #f3f3f4;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    background-color: #a7dae6;
    color: #fff;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    top: 0;
    margin-left: 30px;
    font-size: 30px;
    color: #f22549;
    cursor: pointer;
    margin-left: 15px;
}

.marginside {
    margin-bottom: 0;
}

.marginside .col-xs-8{
	height:80px;
	margin: 7.5px 0;
	display: flex;
	display: -webkit-flex;
    align-content: center;
    align-items: center;
}

.menu-logo-bottom {
	text-align: center;
	margin: 55px 0 15px;
}

.menu-logo-bottom img {
	width: 170px;
	height: 170px;
}

/* Vertically center your modals without declaring a height */
.modal {
  text-align: center;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
}

.qs-bonus {
    padding-top: 115px;
    font-size: 40px;
    text-transform: uppercase;
}

.light .qs-bonus {
    color: #323232;
}

.dark .qs-bonus {
    color: #fefefe;
}

.light .awesome
{
    font-size: 40px;
    background: #a7dae6;
}

.dark .awesome
{
    font-size: 40px;
    background: #323232;
}

.awesome .check-wrapper {
    padding: 15px 0 40px 0;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-top: 0 !important;
  margin: 0;
  height: 100%;
}

.modal {
     z-index: 98;
}

.question-modal .modal-dialog .modal-content {
    border: 0;
    height: 100%;
	background-color: rgba(242,37,73,0.7);
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.modal-dialog .modal-body {
	color: #fff;
}

.modal-backdrop.in {
    opacity: 0 !important;
}

.modal-backdrop {
    position: inherit;
}

#mySidenav .col-xs-2.avatar-wrapper {
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
	display: block;
}

.avatar-wrapper img {
    margin: 0px !important;
    cursor: pointer;
    border-radius: 50%;
    width: auto;
    height: 100%;
}

.arrow {
        padding: 40px 30px 30px;
    text-align: left;
    font-size: 26px;
}
.arrow a{
    color: #e0e0e0;
    text-decoration: none;
}
.profile-info {
    font-size: 24px;
    color: #f22549;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 35px;
    font-family: 'Open Sans', sans-serif;
}

.avatar img {
    /*width: 120px !important;
    height: auto !important;
    border-radius: 60px;
    border: 5px solid #d2b573;
    */
}

.nav-profile {
    list-style: none;
    font-size: 24px;
    margin-top: 20px;
    text-align: left;
    padding-left: 0;
    margin-left: -25px;
    margin-right: -25px;
    height: 400px;
    overflow-y: auto;
}

.nav-profile{
    color:#b7b7b7;
    text-decoration: none;
}
.nav-profile span {
    padding-right: 20px;
}

.text-profile{
    font-size: 20px;
    vertical-align: text-top;
    border: none;
    width: 80%;
}
 input[disabled] {
 	-webkit-text-fill-color:#363636;
 	opacity: 1;
 }
 
 input[disabled='disabled'] {
 -webkit-text-fill-color:#363636;
 opacity: 1;
 }
  
ul.nav-profile li {
    border-bottom: .1px solid #f0f0f0;
    padding: 30px 20px 10px 40px;
}

.padding-left-45{
    padding-left: 45px;
}
.check-profile{
    color: #e0e0e0;
    font-size: 80px;
    padding-bottom: 20px;
}
textarea:focus, input:focus{
    outline: none;
}

.terms {
    color: #000;
    font-size: 14px;
    padding:0 20px;
    text-align: justify;
    height: 80%;
   /* overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
}
/*
::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent!;
}

::-webkit-scrollbar-thumb:window-inactive {
   background: #ababaf !important;
 }

 ::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
   background: #41617D !important;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;

 }

 ::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
   -webkit-border-radius: 10px !important;
   border-radius: 10px !important;
 }
 */


/* Fix input auto fill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

button[disabled], html input[disabled] {
	background: transparent;
}

#OpenImgUpload {
	cursor: pointer;
}

#iconChecksubmit {
	cursor: pointer;
}
.avatar .boxavatar {
	width: 120px;
	height: 120px;
	margin: auto;
	display: block;
	overflow: hidden;
	border: 3px solid #f22549;
    border-radius: 50%;
}
.avatar .boxavatar label{
        margin-bottom: 0;
}
.avatar img {
   
}

.sign-in-btn .text-center {
    padding: 25px 0;
    background: #3b5998;
}

/* LEADERBOARD */
#inviteModal .modal-dialog {
	width: 310px;
	color: #323232;
    top: 50px;
}
#inviteModal .modal-dialog .modal-body {
	text-align: center;
}
.invite-input {
	padding: 0px 15px;
}
.invite-label .icon-icon-Email {
	font-size: 25px;
    vertical-align: middle;
    margin-right: 15px;
}
.invite-label input {
	vertical-align: middle;
}
.invite-btn {
	margin-top: 20px;
}
#inviteModal input[disabled] {
	color: #323232;
	background: #ffffff !important;
}
.invite-btn input {
	color: #323232;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    border:1px solid #323232;
    height: 35px;
    font-weight: bold;
}

.invite-btn input:hover {
	color: #ffffff;
	background: #323232;
}