.cursor-inherit {
	cursor: inherit !important;
}

.bg-size-100 {
    background-size: 100% 100% !important;
}

.color-yellow {
    color: #d2b573;
}

.font-size-20 {
    font-size: 20px;
}

.menu-wrapper {
    position:relative;
    z-index: 99;
}
.menu-wrapper .menu-top {
    width: 100%;
    height: 50px;
    position: absolute;
    margin:0;
}

.menu-icon-wrapper {
    padding-top: 8px;
}

.menu-wrapper .menu-top .icon-icon-menu {
    cursor: pointer;
    font-size: 30px;
    margin: 7.5px 0px 0px 15px;
    color: #f22549;
}

.avatar-wrapper {
    text-align: right;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fff;
    height: 80px;
    width: 80px;
    display: flex;
    display: -webkit-flex;
    align-content: center;
    align-items: center;
    margin: 7.5px 0;
    padding: 0;
    text-align: center;
}

.percent-competion-wrapper {
    padding: 10px 0;
    background-color:#f1f1f2;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 999999;
}

.percent-competion-wrapper img{
    height: 90%;
}

.my-container {
    width: 440px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
}

.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    background-color: #f1f1f2;
}
p.question-title.bonus {
    margin: 0px 0 0 0;
    text-transform: none;
    font-weight: normal;
}
.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.05s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.pt-page-current,
.no-js .pt-page {
    visibility: visible;
    z-index: 1;
    opacity: 1;
}

.walkthrough-page {
    background-color: #f1f1f2;
}


.walkthrough-icon-wrapper {
    text-align: center;
    margin-top: 12%;
}

.walkthrough-icon-wrapper img{
    margin-right: 10px;
}

.walkthrough-img-wrapper {
    text-align: center;
    margin-top: 30%;
}
.walkthrough-img-wrapper img {
    width: 100%;
}

.walkthrough-desc {
    width: 100%;
    margin-top: 30%;
    text-align: center;

    padding:0 20%;
    color: #000;
}

.walkthrough-next {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.walkthrough-next button {
    width: 100%;
    padding: 20px 0px;
    font-size: 16px;
}

.question-page {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
}
.my-container.leaderboadcontainer .question-page{
    height: 100%;
}
.wrapper-question {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index:90;
}


.question-content {
    position: relative;
    padding-top: 0;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    height: calc(100% - 74px);
    top:74px;
}
.my-container.leaderboadcontainer .question-content{
    top:0;
    height: 100%;
}
.question-content.awesome{
    border-radius: 0px;
   /* display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;*/
}
.awesome .question-title {
    position: static;
    height: calc(100% - 145px);
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    -ms-flex-direction: column;
}
.item-awesome{
    margin: auto;
    width: 100%;
}

.awesome .question-title .col-xs-12.text-center {
    margin-bottom: 40px;
}
.awesome .question-title .check-wrapper span{
    font-size: 60px;
    text-transform: uppercase;
}
.awesome .question-title .check-wrapper span.icon-trophy_star {
    color: #fff;
    font-size: 90px;

}
.question-content img {
    width: auto;
    height: 100%;
    margin-top: 0;
}

.question-title {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    bottom: 115px;
    padding: 15px 50px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    margin-bottom: 2px;
    width: 100%;
    position: absolute;
    top: 150px;
}

.light .question-title{
    color: #323232;
}

.dark .question-title {
    color: #fefefe;
}


.question-title-like{
    font-size: 24px;
    font-weight: 500;
    text-align: justify;
    bottom: 88px;
    padding: 15px 20px;
    background-color:rgba(0, 0, 0, 0.3);
    margin-bottom: 2px;
    width:100%;
}
.like-page .question-content .fb-wrapper-module {
    margin: calc(16px + 8%) 0;
}
.share-page .question-content .fb-wrapper-module {
    margin: calc(40px + 8%) 0;
}
.fb-wrapper-module {
    margin: 100px 0;
    display: none;
}
.pt-page-current .fb-wrapper-module{
    display: block;
}
.fb-wrapper-like{
	margin-bottom:15%;
}
.question-title-like.bonus{
	text-align: center;
	background: none;
	padding: 0 20px;
    font-size: 16px;
}
.bn-round-iframe{
	width:100%;
	max-width:100%;
}
.question-footer {
    width: 100%;
    bottom: 0px;
}
.check-wrapper {
    font-size: 90px;
    padding: 15px 0 25px 0;
    /*background-color: rgba(0,0,0,0.3);*/
}
.check-wrapper .text-right {
    padding-right: 8%
}
.check-wrapper .text-left {
    padding-left: 8%
}
.check-wrapper div span {
    cursor: pointer;
}

.check-wrapper.answer-action div span.icon-Icon-no:hover {
    color: #d31a1a;
}

.check-wrapper.answer-action div span.icon-Icon-Check:hover {
    color: #42f62b;
}

.question-bottom-info {
    margin: 3% 0;
}
.bonus.question-bottom-info span {
    font-size: 30px;
}

.rotate-180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 15px;
}

.question-bottom-info span {
    font-size: 30px;
}

p.skip.bonus {
    font-size: 14px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    text-transform: uppercase;
}

.row.question-bottom-info.bonus {
    margin: 0;
}

img.shareimg {
    position: relative;
    width: auto;
    height: 55px;
    cursor: pointer;
    z-index: 999;
}

span.icon-icon-Back.go-next-page {
    font-size: 28px;
}

.col-xs-4.rotate-180 {
    position: absolute;
    right: 0;
    bottom: 0;
}
p.share.bonus {
    font-size: 20px;
    margin: 0;
    font-family: sans-serif;
}

.score {
    position: absolute;
    top: 0;
    color: #f22549;
    right: 0;
    text-align: center;
    right: 50px;
    padding-top: 7px;
    font-family: 'Open Sans', sans-serif;
}
.scoreld {
    top: 0;
    text-align: center;
    padding-top: 14.5px;
    font-family: 'Open Sans', sans-serif;
}
 .score-num {
    font-size: 32px;
    line-height: 32px;
    font-family: inherit;
    letter-spacing: 2px;
}

.question-bottom-text {
    font-size: 12px;
}

.question-bottom-text.score-text {
    font-size: 11px;
}
.qs-result .qs-title-1 {
    padding-top: 30%;
    margin-bottom: 20%;
    font-size: 35px;
    color: #d2b573;
}
.modal-body .text-center:first-child{
    margin-bottom: 50px;
    margin-top: 20px;
}
.modal-body .text-center {
    font-size: 55px;
    text-transform: uppercase;
}

.modal-body .help-content {
    margin: 15px 10px;
    font-size: 18px;
    margin-bottom: 150px;
    padding: 0 20%;
    text-align: center;
    line-height: 30px;
}

.modal-body .icon-Icon-Check {
    font-size: 90px;
    cursor: pointer;
}
.contentboxshare{
    display: block;
    margin-top: 0px;
    position: relative;
    margin-top: 35%;
    background:#fff;
    border-radius:10px;
    overflow: hidden;
}
.contentboxshare img{
    margin-top:0px;
}
.contentboxshare .btnshare{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 20%;
    display: block;
}
.contentboxshare .btnshare img{
    width:auto;
    cursor: pointer;
}
.titlebonusround{
    font-size: 35px;
    color: #d2b573;
}
.titlebonusround +p{
    font-size:23px;
}
#countPlayModal h2{
    font-size: 16px;
}

div.question-footer div.fb-like {
    display: none;
}

.question-page.pt-page-current div.question-footer div.fb-like {
    display: inline-block;
    padding-top: 33px;
}

.qs-title-1.text-leaderboard {
    font-size: 18pt;
    margin-bottom: 20px;
    padding-top: 75px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f22549;
}

.timeline {
        color: #d2b573;
        border-collapse: collapse;
        border-spacing: 0;
        position: relative;
        table-layout: fixed;
        width: 100%;
    }

.top1:before, .timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%;
}

.timeline-desk {
    vertical-align: top;
    width: 50%;
    height: 100%;
}

.top1 .timeline-desk {
    margin: auto;
}

.timeline-desk .panel {
    display: block;
    position: relative;
    text-align: left;
    background: none;
    margin-bottom: 5px;
    height: 100%;
}

.panel-body {
    padding: 5px 15px;
}

.va-container{
    position:relative;
    margin:40px auto 0 auto;
}
.va-wrapper{
    width:100%;
    position:relative;
    overflow:hidden;
}
.va-slice{
    cursor:pointer;
    width:100%;
    left:0px;
    overflow: hidden;
    border-bottom: 1px solid #d7d7d7; */
}
.va-slice-1{
    background:#000 url(../images/1.jpg) no-repeat center center;
}
.va-slice-2{
    background:#000 url(../images/2.jpg) no-repeat center center;
}
.va-slice-3{
    background:#000 url(../images/3.jpg) no-repeat center center;
}
.va-slice-4{
    background:#000 url(../images/4.jpg) no-repeat center center;
}
.va-slice-5{
    background:#000 url(../images/5.jpg) no-repeat center center;
}
.va-slice-6{
    background:#000 url(../images/6.jpg) no-repeat center center;
}
.va-slice-7{
    background:#000 url(../images/7.jpg) no-repeat center center;
}
.va-slice-color-1{
    background-color:#97c5eb;
}
.va-slice-color-2{
    background-color:#68ace5;
}
.va-slice-color-3{
    background-color:#0072cf;
}
.va-slice-color-4{
    background-color:#0039a6;
}
.va-slice-color-5{
    background-color:#00338e;
}
.va-slice-color-6{
    background-color:#002c76;
}
.va-slice-color-7{
    background-color:#002144;
}
.va-title{
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform:uppercase;
    font-size:60px;
    margin-left:20px;
    color:#fff;
    text-shadow: 0px 0px 1px white;
}
.va-content{
    display:none;
    margin-left:25px;
}
.va-slice p{
    font-size: 22px;
    font-style: italic;
    font-family:Georgia, serif;
}
.va-slice ul{
    margin-top:20px;
}
.va-slice ul li{
    float:left;
    margin:0px 2px;
}
.va-slice ul li a{
    color:#000;
    background:#eede2f;
    padding:3px 6px;
    font-size:14px;
    font-family:'PT Sans', sans-serif;
    text-transform:uppercase;
}
.va-slice ul li a:hover{
    background:#000;
    color:#fff;
    text-shadow:none;
}
.va-nav span{
    width:40px;
    height:25px;
    top:-25px;
    left:50%;
    margin-left:-20px;
    text-indent:-9000px;
    opacity:0.7;
    cursor:pointer;
    display:none;
    z-index:100;
    position: absolute;
    background: transparent url(/images/prev.png) no-repeat center center;
}
.va-nav span.va-nav-next{
    background-image: url(/images/next.png);
    top:auto;
    bottom:-25px;
}
.va-nav span:hover{
    opacity:1.0;
}

 .align-ab {
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    height: 100%;
}

.leader-img-date {
    position: relative;
    overflow: inherit;
    clear: both;
    height: 100%;
}
.timeline .img-leader {
    height: 80%;
    border-radius: 150px;
}

.check-wrapper-profile{
        padding: 15px 0 20px 0;
}

.timeline .timeline-date {
    width: 100%;
    padding-left: 20%;
    height: 100%;
}

.top1 .timeline-date {
    text-align: right;
    position: absolute;
    z-index: 1;
}

.timeline .name {
    font-size: 14px;
}

.top4 .name {
    font-size: 20px;
}

.timeline .img-leader {
    width: auto;
    height: 80%;
    top: 0;
    border-radius: 150px;
    margin: auto;
}
.timeline .img-leader  img{
    border: 3px solid #d2b573;
    border-radius: 200px;
    opacity: 0.8;
}


.top1 .align-ab {
    left: 0;
    right: 0;
}

.top2 .align-ab {
    right: 30px;
}

.top5 .align-ab, .top3 .align-ab{
   right: -50%;
}

.top4 .align-ab {
    right: 30px;
}
.top2 .img-leader {
   right: 10%;
    left: inherit;
}

.top4 .img-leader {
    width: auto;
    height: 100%;
    border-radius: 150px;
    right: 10%;
    left: inherit;
}
.top2  .timeline-date {
    margin-left: 115%;
}
.top3  .timeline-date, .top5 .timeline-date {
    text-align: right;
    margin-right: 15px;
    float: right;
}

.top4  .timeline-date {
    margin-left: 115%;
    font-size: 25px;
    font-weight: bold;
}

.top1 .hover-leader {
    border-radius: 150px;
    text-align: center;
    background-color: rgba(0, 0, 0);
    top: 0;
    width: 90px;
    left: 0;
    right: 0;
    border-radius: 200px;
    margin: auto;
}

.hover-leader {
    border-radius: 150px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
}

.margin-top-40 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 40%;
    color: #fff;
    z-index: 9999;
}
.leaderboard-font {
	cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    padding: 21px 0;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    overflow: hidden;
}

.wrapper-img-date {
    height: 100%;
}

.leaderboard-font span.icon-Icon_Envolope {
    font-size: 30px;
    float: right;
}

.leaderboard-background {background-color: #f00;}
.tab-leaderboard.nav>li {
    float:none;
    display:inline-block;
    border: 1px solid #d7d7d7;
    width: 40%;
    max-width: 170px;
    min-width: 120px;
}

#va-accordion {
    margin: 0 auto 0 auto;
    color: #323232;
}
ul.nav.tab-leaderboard {
    margin-bottom: 30px;
}
.tab-leaderboard.nav>li:first-child {
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
}
.tab-leaderboard.nav>li:last-child {
    border-left:none;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
}

.tab-leaderboard.nav>li>a {
    display: inline-block;
    color: #323232;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
}

.tab-leaderboard.nav>li.active {
    background-color: #a7dae6;
}

.tab-leaderboard.nav>li.active a {
    color: #fff;
}

.tab-leaderboard.nav>li>a:focus, .tab-leaderboard.nav>li>a:hover{
    background: none;
}

.leaderboard-font .icon {
    width: 19.3%;
    float: left;
    text-align: center;
}

.leaderboard-font .recruit{
    width: 80.7%;
    float: right;
    text-align: left;
    padding-right: 5px;
}

.leaderboard-table {
    width: 100%;
    color: #323232;
    text-align: left;
    font-size: 22px;
    padding: 10px 0;
    height: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;          
    align-items: center;
    align-content: center;
}
.leaderboard-table .score-col {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    float: left;
    padding-left: 25px !important;
    color: #f22549;
}

.you .leaderboard-table .score-col {
    color: #fff;
}
 .leaderboard-table .score-col {
    width: 19.3%;
}

.leaderboard-table .first-col {
    width: 19%;
    text-align: center;
    float: left;
    height: 100%;
    vertical-align: middle;
    padding: 0 7px ;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;          
    align-items: center;
    align-content: center;
}
.avatar-img {
    border-radius: 100px;
    border: 3px solid #d7d7d7;
}

.leaderboard-table .second-col {
    width: 41%;
    text-align: left;
    font-size: 22px;
    float: left;
}

.leaderboard-table div {
    padding:0;
    display: inline-block;
}

.leaderboard-table img {
    border-radius: 100px;
    height: 100%;
    border: 3px solid #d7d7d7;
}

.question-footer .leaderboard-table img {
    height: auto;
    min-width: 70px;
}
.question-footer .leaderboard-table{
    color:#fff;
}
.you.va-slice {
    background-color: #a7dae6;
}
#everyone .you.va-slice.stuck{
    position:initial;
}
#everyone .you.va-slice {
    background-color: #a7dae6;
    bottom: 0;
    top: initial !important;
    z-index: 9;
}
#everyone .you.fix {
	position: fixed;	
}

#everyone.va-wrapper{
    height: 100%;
    margin-bottom: 50px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

}
#friends {
    overflow-y: scroll;
    height: 100%;
}
.you .leaderboard-table {
    color:#fff;
}
#friends .nolist{
	text-align:center;
}
#friends .nolist img {
	width: 115px;
	height: auto;
	margin-top: 35%;
    margin-bottom: 10%;
}
#friends .nolist .desc{
	font-size:14px;
}
/*
::-webkit-scrollbar {
    width: 2px;
}
 */
/* Track */
/*
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 */
/* Handle */
/*
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(66, 66, 66);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(66, 66, 66);
}

@-moz-document url-prefix(http://),url-prefix(https://) {
    scrollbar {
       background: rgb(0,255,0) !important;
    }
    thumb,scrollbarbutton {
       -moz-appearance: none !important;
       background-color: rgb(0,0,255) !important;
    }

    thumb:hover,scrollbarbutton:hover {
       -moz-appearance: none !important;
       background-color: rgb(255,0,0) !important;
    }

    scrollbar[orient="vertical"] {
      min-width: 2px !important;
    }
}

*/

#cirle-progress {
    max-width: 50px;
    max-height: 50px;
    margin: 2px auto;
    position: relative;
}
#cirle-progress svg{
    max-height: 50px;
}
.small-percent {
    vertical-align: 95%;
    line-height: 5px;
    font-size:8px;
}
@media (min-width:1024px) {
	.modal-body .text-center:first-child {
	    margin-bottom: 50px;
	    margin-top: 40px;
	}
	.modal-body .help-content {
	    margin: 15px 10px;
	    margin-bottom: 150px;
	    padding: 0 10%;
	}
}

@media (min-width:1224px) {
	.fb-wrapper-like {
	    margin-bottom: 8%;
	}
	.leaderboard-table .score-col {
   	 	font-size: 25px;
    	padding-left: 18px !important;
	    padding: 0 6px;
	}
	.leaderboard-table .second-col {
	    font-size: 20px;
	}
}
@media (min-width: 1400px){ 
	.fb-wrapper-like {
	    margin-bottom: 25%;
	}
	.leaderboard-table .score-col {
	    font-size: 36px;
	    padding-left: 25px !important;
	}
	.leaderboard-table .second-col {
	    font-size: 22px;
	}
	
}
@media (min-width:1800px) {
	.like-page .question-content .fb-wrapper-module {
	    margin: calc(16px + 20%) 0;
	}
	.share-page .question-content .fb-wrapper-module {
	    margin: calc(40px + 20%) 0;
	}
	.fb-wrapper-like {
	    margin-bottom: 50%;
	}
	.modal-body .text-center:first-child {
	    margin-bottom: 50px;
	    margin-top: 20px;
	}
	.modal-body .help-content {
	    margin: 15px 10px;
	    margin-bottom: 150px;
	    padding: 0 20%;
	}
}