@media screen and (min-device-width: 800px) and (min-device-height: 950px){

	.timeline .timeline-date {
		padding-left: 25%;
	}

	.top1 .img-leader {
		left: -25%;
	}

	.top5 .img-leader, .top3 .img-leader {
		right: -65%;
	}
}



@media (min-width:768px){

	.modal-dialog.modal-sm {
	/*padding: 0 70px;*/
	}

	.back {
		padding: 40px 20px;
	}
	.forgot-pass-text {
		padding-left: 30px;
	}
	.forget-input{
		padding-left: 50px;
	}
}


@media (max-width:800px){
	.back {
		padding: 40px 20px;
	}
	.forgot-pass-text {
		padding-left: 30px;
	}
	.forget-input{
		padding-left: 50px !important;
	}
	#everyone.va-wrapper{
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	#friends.va-wrapper{
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	#menu-icon {
		color: #f22549;
	}
	.my-container {
		width: 100%;
	}

	.menu-wrapper .menu-top .icon-icon-menu {
		margin: 3.5px 0 0 0;
	}

	.menu-icon-wrapper {
		padding-top: 8px;
	}

	.question-content {
		background-size: 100% auto !important;
	}
	.question-content{top:59px;height: calc(100% - 59px);}
	.my-container.percent-competion-wrapper.text-center {
		z-index: -1;
		position: absolute;
	}
	.modal-dialog.modal-sm {
	/*padding: 0 7%;*/
	}

	span.profile {
		color: #e0e0e0;
	}

	ul.nav-profile{
		margin-top: 0;
	}

	.modal-body .text-center:first-child{
		margin-bottom: 20px;
	}
	.modal-body .text-center {
		font-size: 36px;
	}
	.modal-body .help-content{
		margin-bottom: 50px;
		padding: 0 20px;
		line-height: 26px;
	}
	.modal-body .icon-Icon-Check {
		font-size: 70px;
	}
	.percent-competion-wrapper{
		padding: 5px 0;
	}
	#cirle-progress {
		max-width: 45px;
		max-height: 45px;
	}

	.score-num {
		font-size: 26px;
		line-height: 26px;
	}

	.score {
		padding-top: 7px;
	}

	.awesome .question-title .check-wrapper span {
		font-size: 36px;
	}

	.awesome .question-title .check-wrapper span.icon-trophy_star {
		color: #fff;
		font-size: 70px;
	}

	.awesome .question-title .col-xs-12.text-center {
		margin-bottom: 20px;
	}

	.awesome .check-wrapper {
		padding: 15px 0 20px 0;
	}

	.awesome .question-title {
		height: calc(100% - 125px);
	}

} 
@media only screen and (max-width: 800px) and (min-width: 540px) {
	.timeline .name {
		font-size: 25px;
	}

	.score-leader {
		font-size: 28px;
	}

	sup {
		font-size: 100%;
	}
	.walkthrough-img-wrapper {
		margin-top: 30%;
	}

	.walkthrough-desc {
		margin-top: 20%;
	}

	.walkthrough-img-wrapper img {
		width: 100%;
		max-width: 300px;
	}

}
@media all and (max-width:351px) {
	.sidenav a {
		line-height: 14pt;
		padding:10px 8px 10px 30px;
	}
}
@media (max-width:767px){
	.leaderboard-table{
		padding: 10px 0;
	}
	.leaderboard-table .first-col{
		height: 100%;
		width: 22%;
		font-size: 22px;
	}
	.leaderboard-table div{
		font-size: 16px;
	}
	.leaderboard-table .second-col{
		font-size: 16px;
	}
	.leaderboard-table .score-col{
		width: 15%;
		font-size: 30px;
		padding-left: 15px !important;
	}
	.avatar-img {
		border: 1px solid #d7d7d7;
	}
	.leaderboard-font{
		font-size: 16px;
	}

	.menu-icon-wrapper {
		padding-top: 8px;
	}
	span.caption {
		color: #fff;
		font-size: 16px;
		display: block;
		text-transform: none;
		font-weight: 100;
	}
	.score {
	right: 10px;
	}
	.my-container {
		width: 100%;
		padding:0;
	}

	p.qs-title-1 {
		font-size: 24px;
	}
	.input-wrapper {
		padding: 20px 25px 10px;
	}

	/* START MENU */
	.menu-wrapper {
		padding-right: 0px;
		padding-left: 0px;
		margin-right: auto;
		margin-left: auto;
	}

	.menu-wrapper .menu-top .icon-icon-menu {
		font-size: 24px;
		margin: 3.5px 0 0 0;
	}
	/* END MENU */

	/* START SLIDE MENU */

	.sidenav a {
		font-size: 16pt;
		line-height: 16pt;
		padding:18px 8px 18px 30px;
	}
	.straits {
		font-size: 15pt;
		padding: 20px 0;

	}
	.avatar-wrapper img {
		margin: 10px 25px 0px 0px;
		width: auto;
		height: 100%;

	}

	.check-wrapper {
		font-size: 70px;
	}
	.awesome .question-title{
		height: calc(100% - 105px);
	}
	
	.sidenav .closebtn {
		left: 14px;
		font-size: 20px;
	}
	.menu-logo-bottom {
		margin: 9px 0;
	}
	.sidenav .menu-logo-bottom img {
		width: 150px;
		height: 150px;
	}
	/* END SLIDE MENU */

	.question-title {
		font-size: 16px;
	}

	.question-content {
		padding-top: 0;
	}
	.question-content {
		top: 49px;
		height: calc(100% - 49px);
	}

	.question-content img {
		margin-top: 0;
	}

	.question-bottom-info {
		margin: 4% 0 2% 0;
	}

	.menu-wrapper .menu-top {
		margin: 0px 0px 0px 0px;
	}

	.question-bottom-info span {
		font-size: 25px;
		font-weight: inherit;
	}

	.question-bottom-info .score-num {
		margin-top: -5px;
	}

	.question-content img {
		max-height: 100%;
	}

	img.shareimg {
		max-width: 300px;
		max-height: 100px;
	}



	.login-logo img{
		/* width: 40%; */
		width: 165px;
		height: 165px;
	}
}

@media only screen and (min-device-height: 569px) and (max-device-height: 667px) {
	.login-logo {
		margin-top: 15%;
	}
	.modal-body .text-center:first-child {
		margin-bottom: 0px;
		margin-top: 65px;
	}
}

@media only screen and (min-device-height: 667px) and (max-device-height: 736px) {
	.login-logo {
		margin-top: 19%;
	}
	.walkthrough-desc {
		margin-top: 25%;
		padding: 0 17%;
	}
	.walkthrough-icon-wrapper img{
		max-width:8px;
	}
	.walkthrough-icon-wrapper img:nth-child(1) {
		margin: 0;
	}
	.walkthrough-icon-wrapper img:nth-child(2) {
		margin: 0 24px;
	}
	.walkthrough-icon-wrapper img:nth-child(3) {
		margin: 0;
	}

	.walkthrough-img-wrapper {
		margin-top: 30%;
	}
	.my-container.percent-competion-wrapper.text-center {
		height: 60px;
	}
	#cirle-progress {
		margin: 6px auto;
	}
	.check-wrapper {
		font-size: 65px;
	}
	.modal-body .text-center:first-child {
		margin-top: 30%;
	}
	.modal-body .help-content {
		margin: 30px auto;
		padding: 12px 45px 60px;
	}

}

@media (max-device-height: 736px) {
	.leaderboard-font{
		padding: 12px 0;
	}
}

/* FOR DESTOP */
@media (max-height:750px) and (min-width:768px){
	.walkthrough-icon-wrapper {
		margin-top: 5%;
	}

	.walkthrough-img-wrapper {
		margin-top: 30%;
	}

	.walkthrough-desc {
		margin-top: 20%;
	}

	.question-content img {
		margin-top: 0;
		max-width: 100%;
		max-height:100%;
	}

	.modal-dialog.modal-sm {
	/*padding: 0 70px;*/
	}
	}

	@media (max-height:725px) and (min-width:768px){
	.question-content img {
		margin-top: 0;
	}
}

@media (max-height:680px) and (min-width:768px){
	.question-title {
		font-size: 21px;
	}

	.question-content img {
		margin-top: 0;
	}
}

@media (max-height:640px) and (min-width:768px){
	.question-content {
		padding-top: 0;
	}

	.question-title {
		font-size: 18px;
	}

	.question-content img {
		margin-top: 0;
	}
}

@media (max-height:600px) and (min-width:768px){
	.question-content img {
		max-width: 100%;
	}
}

@media (max-height:560px) and (min-width:768px){
	.walkthrough-img-wrapper {
		margin-top: 10%;
	}

	.walkthrough-img-wrapper img {
		width: 75%;
	}

	.walkthrough-desc {
		margin-top: 15%;
	}
}

@media (max-height:550px) and (min-width:768px){
	.question-content img {
		margin-top:0;
	}

	.check-wrapper {
		font-size: 65px;
	}
}

@media (max-height:500px) and (min-width:768px){
	.question-content img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media (max-height:450px) and (min-width:768px){
	.walkthrough-img-wrapper {
		margin-top: 5%;
	}

	.walkthrough-img-wrapper img {
		width: 60%;
	}

	.walkthrough-desc {
		margin-top: 8%;
	}

	.question-title {
		font-size: 15px;
	}

	.question-content img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media (min-width:768px){
	.login-logo {
		margin-top: 5%;
	}

	span.caption {
		display: none;
		color: #fff;
		font-size: 16px;
		text-transform: none;
	}
}

@media (max-width:500px){
	.sign-in-btn input {
		letter-spacing: 0.5px;
	}

	.forgot-label {
		font-size: 20pt;
		padding-right: 25px;
	}
	.back {
		font-size: 26px;
		padding: 20px 0px;
	}
	.forgot-pass-text {
		font-size: 28px;
	}
	.forgot-btn {
		padding-top: 50px;
	}
	.forgot-pass-text {
		padding-left: 10px;
	}
	.forget-input {
		padding-left: 30px !important;
	}

	.forgot-pass-text {
		padding-bottom: 20px;
	}
	.question-title {
		font-weight: bold;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	}

	.check-wrapper {
		padding: 10px 0 23px 0;
	}
	.awesome .check-wrapper {
		padding: 15px 0 23px 0;
	}
	.awesome .question-title{
		height: calc(100% - 108px);
	}
	.question-page.pt-page-current div.question-footer div.fb-like {
		padding-top: 19px;
	}


	.fb-like {
		height: 32px;
	}

	.question-title-like {
		bottom: 72px;
	}

}
@media (max-device-height: 736px){

	.qs-title-1.text-leaderboard{
		padding-top: 25px;
		margin-bottom: 10px;
	}
	.tab-leaderboard.nav>li>a{
		font-size: 12px;
		padding: 5px;
	}
	.leaderboard-font {
		font-size: 12px;
		line-height: 16px;
	}
	#va-accordion{
		margin: 0 auto;
	}
	.check-profile {
		font-size: 50px;
	}
	ul.nav-profile li {
		padding: 20px 20px 10px 40px;
	}

	.text-profile {
		font-size: 16px;
	}

	.avatar img {
		width: 100% !important;
		height: auto;
		//border: 3px solid #f22549;
	}

	.profile-info {
		font-size: 20px;
		color: #f22549;
		font-weight: bold;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.top5 .img-leader, .top3 .img-leader {
		right: -50%;
	}

}

@media (max-device-height: 568px){
	.awesome .question-title {
		top: 50px;
	}

	ul.nav-profile li {
		padding: 10px 20px 10px 40px;
	}

	.text-profile {
		font-size: 16px;
	}

	.timeline .timeline-date {
		padding-top: 0;
	}
	.margin-top-40 {
		font-size: 12px;
		top: 30%;
	}

	.va-container{
		margin: 0 auto;
	}

	.top4 .name {
		font-size: 18px;
	}
	.top4 .timeline-date {
		font-size: 16px;
	}
	.score-leader {
		font-size: 16px;
	}
}
@media all and (min-width: 768px) {
	.sidenav a {
		padding: 13px 8px 13px 50px;
	}
	.menu-logo-bottom {
		margin: 15px 0 15px;
	}
	p.question-title.bonus {
	    margin: 0px 0 0 0;
		font-size: 16px;
		text-transform: none;
	}
}

@media all and (max-width: 1365px) and (min-width: 1279px) {
	.sidenav a {
		padding: 14px 8px 14px 50px;
		font-size: 16pt;
	}
	.sidenav {
		max-width: 350px;
	}
	.menu-logo-bottom {
		margin: 20px 0 15px;
	}
	.my-container{
		width: 400px;
	}
}
@media all and (max-width: 1365px) and (min-width: 1279px) and (max-height: 662px){
	.sidenav a {
		padding: 9px 8px 9px 50px;
		font-size: 15pt;
	}
	.login-logo {
		margin-top: 3%;
	}	
	.sign-in-btn input {
		padding-top:25px;
		padding-bottom:25px;
	}
	.sign-in-btn .text-center {
		padding-top:25px;
		padding-bottom:25px;
	}
}

/* iPhone 6 plus ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.question-content img {
		margin-top: 0;
		max-width: 100%;
	}

	.top1 .img-leader {
		left: -13%;
		right: inherit;
	}
}
@media all and (max-device-width: 414px) and (max-device-height: 696px) {

}
/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {
}
@media all and (max-device-width: 375px) and (max-device-height: 559px) {
	.walkthrough-img-wrapper {
		margin-top: 20%;
	}
	.walkthrough-desc{
		margin-top: 18%;
	}
	.walkthrough-icon-wrapper img{
		max-width:8px;
	}
	.walkthrough-icon-wrapper img:nth-child(1) {
		margin: 0;
	}
	.walkthrough-icon-wrapper img:nth-child(2) {
		margin: 0 24px;
	}
	.walkthrough-icon-wrapper img:nth-child(3) {
		margin: 0;
	}
	.sidenav a {
		font-size: 14pt;
		line-height: 14pt;
		padding: 10px 8px 10px 30px;
	}
	.sign-in-btn input{
		padding:12px 0;
		margin-top: 0;
	}
	.sign-in-btn .text-center{
		padding:12px 0;
	}
	.input-wrapper {
		padding: 10px 25px;
	}
	.login-logo img {
		/* width:35%; */
		width: 130px;
		height: 130px;
	}
	.forgot-password{
		padding: 5px 30px 5px 0;
	}
}
/* iPhone 6 ----------- */
@media all and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

	.walkthrough-desc {
		margin-top: 20%;
	}

	.top1 .img-leader {
		left: -17%;
	}
	.walkthrough-img-wrapper {
		margin-top: 35%;
	}
}

@media all and (max-width: 375px) and (max-height: 559px){
	.input-wrapper{
		padding: 10px 25px;
	}
	.sign-in-btn input{
		margin: 0;
		padding: 15px 0;
	}
	.sign-in-btn .text-center{
		padding: 15px 0;
	}
	.forgot-password{
		padding: 10px 30px 10px 0;
	}
	.login-logo{
		margin-top: 10px;
	}
	.walkthrough-img-wrapper{
		margin-top: 18%;
	}
	.walkthrough-desc {
		margin-top: 20%;
		padding: 0px 14%;
	}
	.my-container.percent-competion-wrapper.text-center {
		height: 60px;
	}
	.modal-body .text-center:first-child {
		margin: 50px 0;
	}
	.modal-body .help-content {
		margin-bottom: 50px;
		padding: 30px 20px;
	}
	.question-page.pt-page-current div.question-footer div.fb-like {
		padding-top: 23px;
	}
	.leaderboard-table .score-col {
		font-size: 22px;
		padding-left: 20px !important;
	    line-height: 60px;
	}
	.leaderboard-table .first-col {
		height: 100%;
		font-size: 22px;
		padding: 5px 0;
	}
	.leaderboard-table .first-col img{
		//max-width: 55px;
		//max-height: 55px;
	}
	.leaderboard-font .recruit {
		width: 75%;
		float: left;
	}
	.leaderboard-table .second-col {
		font-size: 14px;
	}
	.fb-wrapper-module {
	    margin: 5% 0;
	}
	.fb-wrapper-like {
	    margin: 5% 0;
	}
}

/* iPhone 5 ----------- */
@media all and (max-width: 320px) and (max-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	html,body { -webkit-text-size-adjust:none; }
	.question-content img {
		margin-top: 0;
		max-width: 100%;
		max-height: 100%;
	}
	.top1 .img-leader {
		left: -16%;
	}
	.question-bottom-text {
		font-size: 8px;
	}

	.qs-result .qs-title-1 {
		padding-top: 20%;
	}
	.walkthrough-img-wrapper{
		margin-top: 18%;
	}
	.walkthrough-desc {
		margin-top: 10%;
		padding: 0px 15%;
	}
	.my-container.percent-competion-wrapper.text-center{
		height: 60px;
	}
	.sidenav a {
		font-size: 10pt;
		line-height: 8pt;
		padding: 8px 8px 8px 30px;
	}
	.login-logo img {
		/* width: 25%; */
		width: 80px;
		height: 80px;
	}
	.input-wrapper {
		padding: 10px 25px;
	}
	.sign-in-btn input {
		padding: 12px 0px;
		margin-top: 0;
	}
	.sign-in-btn .text-center {
		padding: 12px 0;
	}
	.walkthrough-icon-wrapper img{
	max-width:8px;
	}
	.walkthrough-icon-wrapper img:nth-child(1) {
	margin: 0;
	}
	.walkthrough-icon-wrapper img:nth-child(2) {
	margin: 0 24px;
	}
	.walkthrough-icon-wrapper img:nth-child(3) {
	margin: 0;
	}
	.forgot-password {
	padding: 10px 30px 10px 0;
	}	
}
@media all and (max-width: 320px) and (max-height: 568px) {
	html,body { -webkit-text-size-adjust:none; }
	.walkthrough-img-wrapper{
		margin-top: 18%;
	}
	.walkthrough-desc {
		margin-top: 10%;
		padding: 0px 15%;
	}
	.my-container.percent-competion-wrapper.text-center{
		height: 60px;
	}
	.sidenav a {
		font-size: 9pt;
		line-height: 8pt;
		padding: 8px 8px 8px 30px;
	}
	.login-logo img {
		width: 25%;
	}
	.input-wrapper {
		padding: 10px 25px;
	}
	.sign-in-btn input {
		padding: 12px 0px;
		margin-top: 0;
	}
	.sign-in-btn .text-center {
		padding: 12px 0;
	}
	.walkthrough-icon-wrapper img{
		max-width:8px;
	}
	.walkthrough-icon-wrapper img:nth-child(1) {
		margin: 0;
	}
	.walkthrough-icon-wrapper img:nth-child(2) {
		margin: 0 24px;
	}
	.walkthrough-icon-wrapper img:nth-child(3) {
		margin: 0;
	}
	.forgot-password {
		padding: 10px 30px 10px 0;
	}	
	.qs-bonus{
	    padding-top: 90px;
	}
	
	.fb-wrapper-like .fb-like{
		padding:15px 0;
	}
	.fb-wrapper-module .fb-page{
		
	}
}
/* iPhone 4 ----------- */
@media all and (min-device-width : 320px) and (max-device-height : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	html,body { -webkit-text-size-adjust:none; }
	.walkthrough-img-wrapper {
		margin-top: 15%;
	}
	.leaderboard-table{
		padding: 5px 0;
	}

	.walkthrough-desc {
		margin-top: 20%;
	}

	.qs-result .qs-title-1 {
		padding-top: 24%;
	}

	.question-content img {
		max-width: 100%;
		max-height: 100%;
	}

	.modal-dialog .modal-content {
		/*background-color: rgba(0,0,0,0.8);*/
	}

	img.shareimg {
		width: auto;
		height: 35px;
	}

	.score-num {
		font-size: 30px;
	}

	.rotate-180 {
		margin-top: 0;
	}

	.percent-competion-wrapper img {
		height: 100%;
	}

	.score {
		padding-top: 10px;
	}

	.qs-bonus {
		padding-top: 71px;
	}

	p.share.bonus {
		font-size: 15px;
	}

	ul.nav-profile li {
		padding: 5px 20px 5px 40px;
	}

	.text-profile {
		font-size: 14px;
	}

	.nav-profile {
		list-style: none;
		font-size: 16px;
	}
	.sidenav a {
		font-size: 9pt;
		line-height: 7pt;
		padding: 8px 8px 8px 30px;
	}

}
@media all and (max-width: 320px) and (max-height: 441px) {
	html,body { -webkit-text-size-adjust:none; }
	.sidenav a {
		font-size: 9pt;
		line-height: 7pt;
		padding: 8px 8px 8px 30px;
	}
}
/* START RESPONSIVE DESKTOP 3 FIRST STEP OF QUESTION */
@media only screen and (max-width: 800px) and (min-width: 440px) and (max-height: 775px) {
	.walkthrough-icon-wrapper {
		margin-top: 3%;
	}
}

@media only screen and (max-width: 800px) and (min-width: 440px) and (max-height: 700px) {
	.walkthrough-desc {
		margin-top: 10%;
	}
}

@media only screen and (max-width: 800px) and (min-width: 440px) and (max-height: 620px) {
	.walkthrough-img-wrapper img {
		width: 50%;
	}
}

@media only screen and (max-width: 800px) and (min-width: 440px) and (max-height: 500px) {
	.walkthrough-img-wrapper {
		margin-top: 8%;
	}

	.walkthrough-img-wrapper img {
		width: 40%;
	}

	.walkthrough-desc {
		margin-top: 8%;
	}
}
/* END RESPONSIVE DESKTOP 3 FIRST STEP OF QUESTION */
@media only screen and (min-device-width: 220px) and (max-device-width: 320px)
	and (-webkit-min-device-pixel-ratio: 2) {
	.sidenav a {
		padding: 5px 8px 15px 5px;
	}
	.sidenav .menu-logo-bottom img {
		width: 140px;
		height: 140px;
	}
	.sidenav a {
		font-size: 14pt;
		line-height: 14pt;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {
	.sidenav a {
		font-size: 12pt;
		line-height: 8pt;
		padding: 10px 8px 10px 30px;
	}
	.menu-bottom-logo{
		margin: 0;
	}
	.walkthrough-desc{
		margin-top: 15%;
	}
}
@media only screen and (min-device-width : 768px)
	and (orientation : landscape) {
	.sidenav a {
		padding: 20px 8px 20px 50px;
		font-size: 20pt;
	}
	
}
@media only screen and (min-width : 1024px)
	and (orientation : landscape){
	.sidenav a {
		padding: 2px 8px 2px 50px;
	}
	.avatar-wrapper img{
		margin-left: -12px;
	}
	.sidenav {
		max-width: 326px;
	}
	.img-circle{
		//border-radius: 0;
	}
	
}
@media only screen and (min-width:1400px){
	.login-logo{
		margin-top:35%;
	}
}
@media only screen and (min-device-width: 1280px) and (max-device-width: 1365px)
	and (-webkit-min-device-pixel-ratio: 1) {
	.sidenav a {
		padding: 10px 8px 10px 50px;
		font-size: 18pt;
	}
	.sidenav {
		max-width: 350px;
	}

}
@media screen and (min-device-width: 1366px) and (max-device-width: 1400px)
	and (-webkit-min-device-pixel-ratio: 1) {
	.sidenav a {
		padding: 8px 8px 8px 50px;
		font-size: 16pt;
	}

}
@media screen and (min-device-width: 1600px) and (max-device-width: 1800px)
	and (-webkit-min-device-pixel-ratio: 1) {
	.sidenav a {
		padding: 10px 8px 10px 50px;
	}
}

@media screen  and (min-device-width: 1900px) and (-webkit-min-device-pixel-ratio: 1) {
	.sidenav a {
		padding: 20px 8px 20px 50px;
	}
	.avatar-wrapper img{
		margin-left: -12px;
	}
	.sidenav {
		max-width: 400px;
	}
	.menu-logo-bottom{
		margin: 15px 0;
	}
	.my-container {
		width: 500px;
	}
	.menu-logo-bottom img {
		width: 220px;
		height: 220px;
	}

}
