html, body {
    padding: 0px;
    font-family: 'Noto Sans', sans-serif !important;
}
a {
  color: #00B7FF;
}
#slides{
	position:absolute;
	height:100%;
	width:100%;
}
.boxcontent .innercontent ul li a, .home-left.innercontent ul li a {
	color: #fff;
}
.boxcontent .innercontent h1, .home-left.innercontent h1{
    padding-bottom: 0;
	margin: 0;
	font-size: 36px;
}
.boxcontent .innercontent h4, .home-left.innercontent h4{
	margin: 1% 0;
}
.boxcontent .innercontent h4:nth-child(3), .home-left.innercontent h4:nth-child(3){
	margin-top: 4%;
	font-size: 20px;
	font-weight: 200;
}

#home-body {
	overflow: inherit !important;
}
#home-logo {
	margin-top: 3%;
	text-align: center;
}
.home-left, .home-right {
	float: right;
	display: inline-block;
	width: 50%;
	line-height: 1.5;
}
.home-left {
	color: #fff;
}
.boxcontent .innercontent, .home-left.innercontent {
    padding-left: 1%;
    padding-top: 7%;
}
#catch-rotate{width:100%;height:100%;position:fixed;z-index:99999;background-color:#f1627b;display:none;text-align:center;top: 0;
 opacity:0.8;
 color: #fff;
}
#catch-rotate p{position:absolute;font-size:22px;top:40%;margin:0 auto;display:block;width:100%;    color: #fff;}
@media only screen and (max-width : 1024px){
	.home-left.innercontent {
		padding-left: 3%;
		padding-top: 15px;
	}
	.home-left, .home-right {
		width: 100%;
		padding-right: 3%;
		padding-left: 3%;
		text-align: center;
	}
	.home-left, .home-right {
		padding-top: 3%;
	}
	.home-right img{
		max-width: 100%;
	}
	.home-left.innercontent h1 {
		font-size: 36px;
	}
	.home-left.innercontent h1:first-child{
		    font-size: 24px;
			margin-bottom:45px;
	}
	.home-left.innercontent h1:first-child {
		margin-bottom: 25px;
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
	#home-body {
		background: url(/images/s1-res-mobile.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.home-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	#home-logo {
		margin-top: 10%;
	}
	#home-logo img {
		width: 58%;
	}
	.boxcontent {
    	top: 9%;
	}
	.boxcontent .innercontent, .home-left.innercontent {
	    width: 100%;
    	text-align: center;
    	margin: 0 auto;
    	float: none;
    	padding: 0;
		margin-bottom: 6%;
    }
    .boxcontent .innercontent h4, .home-left.innercontent h4{
    	display:none;
    }
    .boxcontent .innercontent .input-email, .home-left.innercontent .input-email {
		max-width: 65%;
    	float: none;
    	margin: 5% auto;
	}
	.boxcontent .innercontent .put-email, .home-left.innercontent .put-email {
	   	float: none;
    	clear: both;
    	margin-top: 3%;
	}
	.boxcontent .innercontent h1, .home-left.innercontent h1 {
    	padding-bottom: 0%;
    	font-size: 20px;
	}
	.boxcontent .innercontent h1:nth-child(1), .home-left.innercontent h1:nth-child(1) {
	    margin-top: 5%;
	}
}
 
/* Smartphones (landscape) ----------- */ 
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
	#home-body {
		background: url(/images/s1-res-mobile.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	#slides{
		background: url("/images/s1-res-mobile.png") no-repeat scroll 0 0 / 100% auto;
	}
	.boxcontent .innercontent .put-email, .home-left.innercontent .put-email{
	    clear: both;
	    background:#F52548;
	    border-color:#F52548;
	}
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email{
		max-width: 300px;
	    margin: 7% auto;
	    border: none;
	    border-radius: 0;
	}
	.boxcontent {
		position: absolute;
	    z-index: 9;
	    color: #fff;  
	    width: 100%;
	    top: 14%;
	    text-align: center;
	}
	.boxcontent .innercontent h1, .home-left.innercontent h1{
		font-size: 22px;
		line-height: 1.5;
		
	}
	
	.boxcontent .innercontent h4, .home-left.innercontent h4{
		display:none;
	}
}

@media only screen
and (min-width : 350px) {
	.boxcontent {
    	top: 12%
	}
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
	.boxcontent {
    	position: absolute;
	    z-index: 9;
	    color: #fff;  
	    width: 100%;
	    top: 14%;
	    text-align: center;
	}
	#home-body {
		background: url("/images/s1-res-mobile.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	#slides{
		background: url("/images/s1-res-mobile.png") no-repeat scroll 0 0 / 100% auto;
	}
	.boxcontent .innercontent .put-email, .home-left.innercontent .put-email{
	    clear: both;
	    background:#F52548;
	    border-color:#F52548;
	}
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email{
		max-width: 240px;
	    margin: 7% auto;
	    border: none;
	    border-radius: 0;
	}
	.boxcontent .innercontent h1, .home-left.innercontent h1{
		font-size: 22px;
	}
	.boxcontent .innercontent h4, .home-left.innercontent h4{
		display:none;
	}
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1023px) {
/* STYLES GO HERE */
	#home-body {
		background: url("/images/s1-responsive.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.home-right {
	    float: none;
	    width: 100%;
	    text-align: center;
	    padding-left: 0px;
	    padding-top: 3%;
	}
	#slides{
		background: url("/images/s1-responsive.png") no-repeat scroll 0 0 / 100% auto;
	}
	.boxcontent .innercontent, .home-left.innercontent{
		width: 100%;
    	text-align: center;
    	margin: 0 auto;
    	float: none;
    	padding-right: 0;
	}
	.boxcontent {
    	top: 13%;
	}
    .boxcontent .innercontent h4, .home-left.innercontent h4{
    	display:none;
    }
    .boxcontent .innercontent .input-email, .home-left.innercontent .input-email {
		max-width: 65%;
    	float: none;
    	margin: 3% auto;
	}
	.boxcontent .innercontent .put-email, .home-left.innercontent .put-email {
	    float: none;
	    clear: both;
	    margin-top: 0;
	}
	.boxcontent .innercontent h1, .home-left.innercontent h1 {
	    margin: 0;
	    padding-bottom: 0%;
	}
	.boxcontent .innercontent h1:nth-child(1), .home-left.innercontent h1:nth-child(1){
		
	}
	.boxcontent .innercontent h1:nth-child(2), .home-left.innercontent h1:nth-child(2){
		margin-top: 3%;
	}
	.home-right img {
		width: auto;
		height: 590px;
	}
}
 /* iPads (add) ----------- */ 
@media only screen
and (min-width : 400px) {
	.boxcontent {
    	top: 12%
	}
}
@media only screen 
and (min-width: 350px) and (max-width:500px) {
	.boxcontent {
	    top: calc(12% + 20px);
	}
}
@media only screen
and (min-width : 480px) {
	.boxcontent {
    	top: 30%;
	}
}
@media only screen
and (min-width : 650px) {
	.boxcontent {
    	top: 40%;
	}
}
@media only screen
and (min-width : 768px) {
/* STYLES GO HERE */
	#home-body {
		background: url("/images/s1-responsive.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.home-right {
		width: 100%;
		float: none;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 3%;
	}
	.home-left {
		width: 100%;
		float: none;
		text-align: center;
		padding-left: 3%;
		padding-right: 3%;
	}
	#slides{
		background: url("/images/s1-responsive.png") no-repeat scroll 0 0 / 100% auto;
	}
	.boxcontent .innercontent .put-email, .home-left.innercontent .put-email{
	    clear: both;
	    background:#F52548;
	    border-color:#F52548;
	}
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email{
		max-width: 450px;
	    margin: 3% auto;
	    border: none;
	    border-radius: 0;
	}
	.boxcontent {
		position: absolute;
	    z-index: 9;
	    color: #fff;  
	    width: 100%;
	    top: 180px;
	    text-align: center;
		font-weight: 400;
	}
	.boxcontent .innercontent h1, .home-left.innercontent h1{
		font-size: 36px;
	}
}
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* STYLES GO HERE */
	/* #home-body {
		background: url("/images/s1-responsive.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	#slides{
		background: url("/images/s1-responsive.png") no-repeat scroll 0 0 / 100% auto;
	}
	.boxcontent .innercontent, .home-left.innercontent{
		width: 100%;
    	text-align: center;
    	margin: 0 auto;
    	float: none;
    	padding-right: 0;
	}
	.home-right {
		width: 100%;
		float: none;
		text-align: center;
	} */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1025px) {
	.boxcontent {
	    top: 35%;
	}
	#home-body {
		background: url("/images/s1.png") no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.home-left.innercontent {
	    width: 50%;
	    text-align: right;
	    margin: 0 auto;
	    float: right;
	    padding-right: 5%;
	    padding-top: 10%;
	}
	.boxcontent .innercontent h1, .home-left.innercontent h1 {
	    font-size: 32px;
		line-height: 1.5;
	}
	.home-left.innercontent h4 {
	    display: block;
	}
	.home-left.innercontent .input-email{
	    max-width:330px;
	    float: right;
	    margin: 1% auto;
	}
	.home-left.innercontent .put-email{
	    float: right;
	    clear: both;
	    margin-top: 1%;
	}
	.home-left.innercontent h4{
		display:block;
		line-height: 1.5;
	}
	.home-right {
		width: 50%;
		float: right;
		padding-left: 10%;
    	padding-top: 3%;
	}
}
@media only screen
and (min-width : 1224px) {
	/* STYLES GO HERE */
	#slides{
		background: url("/images/s1.png") no-repeat scroll 0 0 / 100% auto;
	}
	.boxcontent {
	    top: 20%;
	}
	.boxcontent .innercontent h4, .home-left.innercontent h4 {
	    display: block;
	}
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email{
	    max-width:330px;
	    float: right;
	    margin: 1% auto;
	}
	.boxcontent .innercontent .put-email, .home-left.innercontent .put-email{
	    float: right;
	    clear: both;
	    margin-top: 1%;
	}
	.boxcontent {
		position: absolute;
	    z-index: 9;
	    color: #fff;  
	    width: 100%;
	    top: 29%;
	    text-align: center;
	}
	.boxcontent .innercontent h4, .home-left.innercontent h4{
		display:block;
		line-height: 1.2;
	}
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
	/* STYLES GO HERE */
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email {
	    margin: 2% auto;
	}
}
/* iPhone 6 plus ----------- */
@media only screen
and (min-device-width: 399px)
and (max-device-height: 736px){
	.boxcontent .innercontent h1:nth-child(1), .home-left.innercontent h1:nth-child(1){
		margin-top:5%;
	}
	.boxcontent .innercontent h1:nth-child(2), .home-left.innercontent h1:nth-child(2){
		margin-top:0%;
	}
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email {
	    max-width: 65%;
	    float: none;
	    margin: 6% auto;
	}
} 
 /* iPhone 6 ----------- */
@media all 
and (max-width: 375px)
and (max-height: 559px){
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email{
	   margin: 4% auto;
	}
	.boxcontent .innercontent h1:nth-child(1), .home-left.innercontent h1:nth-child(1){
		margin-top:10%;
	}
	.boxcontent .innercontent h1:nth-child(2), .home-left.innercontent h1:nth-child(2){
		margin-top: 10%;
		margin-bottom: 6%;	
	}
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email{
		margin:3% auto
		margin-top: 6%;
	}
	.boxcontent .innercontent .put-email, .home-left.innercontent .put-email {
	    margin-top: 4%;
	}
	.boxcontent .innercontent h1, .home-left.innercontent h1 {
	    font-size: 20px;
	}
	#home-body {
		background: url("/images/s1-res-mobile.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	#slides{
		background: url("/images/s1-res-mobile.png") no-repeat scroll 0 0 / 100% auto;
	}
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */

/* Portrait */
@media screen 
and (min-device-width: 350px) 
and (max-device-width: 500px) 
and (-webkit-device-pixel-ratio: 2) 
and (orientation: portrait) {
  	.boxcontent {
	    top: 10%;
	}
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
	
}
/* iPhone 5 ----------- */
@media all 
and (max-width: 320px)
and (max-height: 568px) {
	.boxcontent .innercontent h1, .home-left.innercontent h1{
    	font-size: 20px;
	}
	.boxcontent .innercontent h1:nth-child(2), .home-left.innercontent h1:nth-child(2){
		margin-top: 10%;
		margin-bottom: 6%;	
	}
	.boxcontent .innercontent .input-email, .home-left.innercontent .input-email{
		margin:5% auto
	}
	.boxcontent .innercontent .put-email, .home-left.innercontent .put-email{
	    margin-top: 4%;
	}
	.boxcontent .innercontent h1:nth-child(1), .home-left.innercontent h1:nth-child(1) {
		margin-top: 8%
	}
	/* #slides{
		background: url("/images/s1-res-mobile.png") no-repeat scroll 0 0 / 100% auto;
	} */
	
}

