extends layout
block css

	link(rel='stylesheet', href='/libs/amchart-js/jquery.mCustomScrollbar.css')
	link(rel='stylesheet', href='/libs/amchart-js/jquery.dataTables.min.css')
	link(rel='stylesheet', href='/stylesheets/admin-main.css')
	link(rel='stylesheet', href='/stylesheets/accounts.css')
block content
	div.row
		div.col-md-12
			div#accoverview.box.box-solid
				div.box-header.with-border.box-header-superadmin
					h3.notosan-bold.box-title.title Account Overview
					button#auth-button.pull-right Sign in Google Account
				div.box-body
					div.wrap-item
						span.notosan-bold.numb #{listApp.length}
						span.text Accounts
					div.wrap-item
						span.notosan-bold.numb #{countAppActive}
						span.text Active
					div.wrap-item
						span.notosan-bold.numb= numberWithCommas(totalPages)
						span.text Total Pages
					div.wrap-item
						span.notosan-bold.numb= numberWithCommas(totalVisits)
						span.text Total Visits
					div.wrap-item
						span.notosan-bold.numb #{sumUser}
						span.text Total Users
					div.wrap-item
						span.notosan-bold.numb #{avgPages}
						span.text Avg. Pages
					div.wrap-item
						span.notosan-bold.numb#dataBounceRate &nbsp;
						span.text Bounce Rate
	div.row
		div.col-md-12
			div.accounts-box.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title Accounts
				div.box-body.wrap-acclist
					table#accounts.table-responsive.table.table-bordered.pusers
						thead
							tr
								th.nosort(style="",targets="0" ,oderable =false)
									span(style="color:transparent") 
								th.text-center 
									span.title-pusers Date Launched
								th.text-center 
									span.title-pusers Users
								th.text-center 
									span.title-pusers Pages
								th.text-center
									span.title-pusers Views
								th.text-center
									span.title-pusers Status
								th.nosort(style="width:20%;",targets="0" ,oderable =false)
									span.text-center(style="color:transparent") 
						tbody.addborders-pusers
							each app, index in listApp
								tr
									td.text-left(style="padding-left: 24px;")
										span(style="text-transform: capitalize;")
											strong
												a(href="/#{app.url}/admin/dashboard", target="_blank", style="color: #515974") #{app.app_name}
											p #{app.app_name}
									td.text-center
										span #{moment(app.created).format('DD MMMM YYYY')}
									td.text-center
										span #{dataCountUserApp[index]}
									td.text-center
										span= numberWithCommas(app.totalPages)
									td.text-center
										span= numberWithCommas(app.visited)
									td.text-center
										span #{app.app_status ? 'Active' : 'Disable'}
									td.text-left
										a(href="/superadmin/edit-account/#{app._id}").edit-acc.btn.btn-style1.margin-right-20 Edit	
block js	
	script(src='/libs/amchart-js/jquery.dataTables.min.js')
	script(src='/libs/amchart-js/dataTables.bootstrap.js')
	script(src='/js/superadmin/ga_superadmin.js')
	script(src='/js/superadmin/accounts.js')
	script(src='https://apis.google.com/js/client:platform.js')
	script(src='https://apis.google.com/js/platform.js?onload=authorize')