extends layout
block css
	link(rel='stylesheet', href='/stylesheets/admin/croppie.css')
block content
	div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title New Account
				div.box-body.supper-admin
						form#add-account.general-form(action="/superadmin/add-account", method="post")
							div.error-message.col-md-push-3.col-md-8
								if errorMessage.length > 0
									div.col-md-12
										p
											strong Unable to activate account due to the following issues:
										each m in errorMessage
											p.text-danger(style="font-weight: bold;") - #{m}
							div.col-md-8
								div.form-group
									label.question-item-title.col-sm-5.notosan-bold(for="app-name") Application Name
									div.row.col-sm-7.col-md-7.col-xs-12
										input#app-name.form-control(name="app_name", type="text", value="#{retainingInfo[0]}")
								div.form-group
									label.question-item-title.col-sm-5.notosan-bold(for="brand_name") Brand Name
									div.row.col-sm-7.col-md-7.col-xs-12
										input#brand_name.form-control(name="brand_name", type="text", value="#{retainingInfo[1]}")
								div.form-group
									label.question-item-title.col-sm-5.notosan-bold(for="tracking-id") Tracking ID
									div.row.col-sm-7.col-md-7.col-xs-12
										input#tracking-id.form-control(name="ga_tracking_id", type="text", value="#{retainingInfo[2]}")
								div.form-group
									label.question-item-title.col-sm-5.notosan-bold(for="view-id") View ID
									div.row.col-sm-7.col-md-7.col-xs-12
										input#view-id.form-control(name="ga_view_id", type="text", value="#{retainingInfo[3]}")
								div.no-margin.form-group
									label.notosan-bold.col-sm-2(style="font-size:17px;") URL
								div.form-group.margin-bottom-20.row
									label.notosan-bold(for="app-url").question-item-title.col-xs-5.col-md-5 www.quizzu.rocks/
									div.col-xs-4.col-md-4
										input#app-url.form-control(name="url", type="text", value="#{retainingInfo[4]}", style="text-transform: lowercase;")
									div.col-xs-3.col-md-3 &nbsp;
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold.question-item-title Profile Image
										div.status-desc.margin-bottom-10 Dimensions: 800 x 800, PNG format
										label.btn.btn-style1(style="margin-top: 5px") Click to Upload
											input(type="file", name="profile_file", accept="image/*", style="display: none;" width="800")
											if retainingInfo[8]
												input(type="text",value="#{retainingInfo[6]}", name="profile_file1", id="profile_file1", style="display: none;")
											else
												input(type="text", name="profile_file1", id="profile_file1", style="display: none;")
										span.file-name-profile(style="padding-left: 10px; font-style: italic;")
										div.padding-wrap-img
											if retainingInfo[8]
												img(src="#{retainingInfo[6]}" id="img_profile" width="800")
											else
												img(src="" id="img_profile" width="800" style="display: none;")
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(style="font-size:17px;") Application Introduction
										div.status-desc Format: PNG or JPEG
										div.status-desc.margin-bottom-10 Note: Introduction will be used acrossed all platforms. Layout will be cropped when viewed on portrait mode.
										label.btn.btn-style1(style="margin-top: 5px") Click to Upload
											input(type="file", name="intro_file", accept="image/*", style="display: none;")
											if retainingInfo[8]
												input(type="text",value="#{retainingInfo[7]}", name="intro_file1", style="display: none;")
											else
												input(type="text", name="intro_file1", style="display: none;")
										span.file-name-intro(style="padding-left: 10px; font-style: italic;")
										div.padding-wrap-img
											if retainingInfo[8]
												img(src="#{retainingInfo[7]}" width="500" id="img_intro")
											else
												img(src="" width="500" id="img_intro" style="display: none;")
								div.form-group.margin-bottom-40
									label.notosan-bold.question-item-title.col-sm-5(for="app_email") Admin Email
									div.row.col-sm-7.col-md-7.col-xs-12
										input#app_email.form-control(name="app_email", type="text", value="#{retainingInfo[5]}")
								div.form-group.margin-bottom-40
									label.notosan-bold.question-item-title.col-sm-5(for="app-password") Admin Password
									div.row.col-sm-7.col-md-7.col-xs-12
										input#app-password.form-control(name="app_password", type="password", value="")
								div.form-group.margin-bottom-40
									label.notosan-bold.question-item-title.col-sm-5(for="app-repassword") Verify Password
									div.row.col-sm-7.col-md-7.col-xs-12
										input#app-repassword.form-control(name="app_repassword", type="password", value="")
								div.form-group
									div.col-sm-12
										label(for="only_login_fb") Login Facebook Only
										br
										input#only_login_fb(name="only_login_fb", type="checkbox")
								div.form-group
									div.col-sm-12.margin-bottom-40
										label.notosan-bold.question-item-title Status
										div.status-desc Activation will launch for usage,.
										div.status-desc.margin-bottom-20 To delete or deactivate application, please click on the 'Edit' function in Accounts page..
										div
											input.save-btn.btn.btn-style1.margin-right-20(value="Activate Account", type="submit")
											
	div.modal.fade.bs-example-modal-lg#modal-upload(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
		div.modal-dialog.modal-lg(role="document")
			div.modal-content
				div.modal-body
					div.upload-wrap.col-md-12.no-padding
						div.croppie-container
					div.modal-footer
						a.crop-btn.btn.btn-style1 Crop
						a.btn.btn-style1(data-dismiss="modal") Cancel
block js
	script(src='/js/admin/croppie.min.js')
	script(src='/js/admin/exif.js')