extends layout

block css
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/accounts.css')
	link(rel='stylesheet', href='/stylesheets/admin/bootstrap-datetimepicker.min.css')
	link(rel='stylesheet', href='/libs/amchart-js/jquery.mCustomScrollbar.css')
	link(rel='stylesheet', href='/libs/amchart-js/jquery.dataTables.min.css')
	
block content
	div.row
		div.col-md-12.overview-block
			div.bg-block.box.box-solid
				div.box-header.with-border
					h3.opensan.box-title.title Dashboard Overview (All Applications)
					div.export-dashboard
						span.form-control.btnexportdashboard Export
	div#contextExport
		div.row.customprint1superadmin
			div.col-md-12.pageviews-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'Page Views'
					div.box-body
						div
							div.pull-left#pageviews-click.pull-left.margin-right-20
								div.export-dashboard
									button.btn.btn-drp.btn-custom Week
									ul.dropdown-lst#pageviews-select
										li.active(data-value="week") Week
										li(data-value="month") Month
										li(data-value="custom") Custom
							div.form-group.date-picker-group.pull-left.margin-right-20
								div.input-group.date.hidden#datetimepicker1
									input.form-control(type='text', placeholder="From Date")
									span.input-group-addon
										span.glyphicon.glyphicon-calendar
										
							div.form-group.date-picker-group.pull-left.margin-right-20
								div.input-group.date.hidden#datetimepicker2
									input.form-control(type='text', placeholder="To Date")
									span.input-group-addon
										span.glyphicon.glyphicon-calendar
										
							div.btn.btn-style1.hidden.pull-left#page-view-custom-btn Submit
							
							div.pull-right.total-page-views#total-page-view
								span.opensan.numb= numberWithCommas(totalPageView)
								span.text Total Page Views
						#pageviews
		div.row
			div.col-lg-3.col-md-4.visitors-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'Unique Visitors'
					div.box-body.min-height-block
						div.wrap-row.total
							p.opensan.numb= numberWithCommas(totalUnique)
							p.text Total Unique Visitors
						div.wrap-row.new
							p#unique-today-numb.opensan.numb= numberWithCommas(uniqueToday)
							p.text 
								| New Visitors <br />
								| (Today)	
						div.wrap-row.pagevisit
							p.opensan.numb #{avgPageVisits}
							p.text Avg. Page Visits
	
			div.col-lg-9.col-md-8.nsups-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'New Sign Ups'
					div.box-body.min-height-block
						div.pull-left#nsups-click
							div.export-dashboard
								button#btnfilterMonth.btn.btn-drp.btn-custom= moment().format('MMMM, YYYY')
								ul.dropdown-lst#newsgnups
									- for (var x = 0; x < 12; x++)
										li(data-value = moment().subtract(x, 'month').format('YYYY-MM'), class=x == 0 ? "active" : "")= moment().subtract(x, 'month').format('MMMM, YYYY')
						div.pull-right.total-page-views
							span.opensan.numb= numberWithCommas(totalNewSignup)
							span.text Total Sign Ups
						div.linetopdashboard
						div.linebottomdashboard2
						#nsups
		div.row
			div.col-md-12.appvisitors-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'Repeat Visitors / Unique Visitors'
					div.box-body
						div
							div#appvisitors-click.margin-right-20.pull-left
								div.pull-left.export-dashboard.margin-right-20
									button.btn.btn-drp.btn-custom Week
									ul.dropdown-lst#appvisitors-select
										li.active(data-value="week") Week
										li(data-value="month") Month
										li(data-value="custom") Custom
								a#repeat.btn.btn-style1 Repeat Visits
							
							div.form-group.date-picker-group.pull-left.margin-right-20
								div.input-group.date.hidden#datetimepickerRepeat1
									input.form-control(type='text', placeholder="From Date")
									span.input-group-addon
										span.glyphicon.glyphicon-calendar
										
							div.form-group.date-picker-group.pull-left.margin-right-20
								div.input-group.date.hidden#datetimepickerRepeat2
									input.form-control(type='text', placeholder="To Date")
									span.input-group-addon
										span.glyphicon.glyphicon-calendar
										
							div.btn.btn-style1.hidden.pull-left#repeat-chart-custom-btn Submit
							
							div.pull-right.visits
								span.opensan.numb #{avgRepeatRatio}
								span.text Avg, Repeat Ratio
						#appvisitors
		div.row
			div.col-lg-3.col-md-4.gender-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'Gender'
					div.box-body.min-height-block
						#gender.donut-chart
						div.row.info-gender
							div.col-md-6
								span.opensan.percent #{percentMale}%
								span.text Males
							div.col-md-6
								span.opensan.percent #{percentFemale}%
								span.text Females
	
	
			div.col-lg-9.col-md-8.agebrkdown-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'Age Breakdown'
					div.box-body.min-height-block
						button#auth-button.pull-right Sign in Google Account
						div.col-lg-6.col-md-5.wrap-donut
							#agebreak.donut-chart
						div.col-lg-6.col-md-7.wrap-info-donut
							div.row
								div.col-lg-3.col-md-4
									span.opensan.percent#data1824 0%									
									span.text 18 - 24									
								div.col-lg-3.col-md-4
									span.opensan.percent#data2534 0%
									span.text 25 - 34
								div.col-lg-3.col-md-4
									span.opensan.percent#data2544 0%
									span.text 35 - 44
							div.row
								div.col-lg-3.col-md-4
									span.opensan.percent#data4554 0%
									span.text 45 - 54
								div.col-lg-3.col-md-4
									span.opensan.percent#data5563 0%
									span.text 55 - 63
								div.col-lg-3.col-md-4
									span.opensan.percent#data65 0%
									span.text 65 and Above
		
		div.row
			div.col-lg-3.col-md-4.bncerate-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'Bounce Rate'
					div.box-body.min-height-block
						#bouncerate.donut-chart
						div.row.info-bncrate
							div.col-md-12
								span.opensan.percent#dataBounceRate 0%
								span.text Bounce Rate
	
			div.col-lg-9.col-md-8.pwusers-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'Power Users'
					div.box-body.wrap-pusers.min-height-block
						div.col-xs-12
								div.fixbtn.export-dashboard.pull-left
									form.general-form(action="/superadmin/exportpowerusersuperadmin", method="post", id="frmsubperadminpoweruser")
										input(type="hidden", name="app_type", value="", id="export_type")
										span#today-pusers.btn.btn-drp.btn-custom Export
										ul.dropdown-lst#today-pusers-export
											li
												a PDF
											li
												a Excel
						div.col-xs-12.table-responsive
							table#pwusertb.table.table-bordered.pusers
								thead
									tr
										th.nosort(style="",targets="0" ,oderable =false)
										th.text-center(style="") 
											span.title-pusers Points
										th.text-center(style="") 
											span.title-pusers Friends
										th.text-center(style="") 
											span.title-pusers Views
										th.text-center(style="") 
											span.title-pusers Shares
										th.text-center(style="") 
											span.title-pusers Likes
								tbody.addborders-pusers.export-today-pusers#export-today-pusers
									each item in poweruser
										if item.user_id
											tr
												td(style="")
													span
													if item.user_id.avatar != undefined && item.user_id.avatar
														img.img-circle(src="#{item.user_id.avatar}", width="90")
													else
														img.img-circle(src="/images/no-avatar.jpg", width="90")
													p(style="text-transform: capitalize;") 
														strong #{item.user_id.name}
												td.text-center(style="")
													p= numberWithCommas(item.point)
												td.text-center(style="")
													if item.user_id.fb_friends != undefined && item.user_id.fb_friends
														p= numberWithCommas(item.user_id.fb_friends)
													else
														p 0
												td.text-center(style="")
													if item.count_view
														p= numberWithCommas(item.count_view)
													else
														p 0
												td.text-center(style="")
													if item.share
														p= numberWithCommas(item.share)
													else
														p 0
												td.text-center(style="")
													if item.like
														p= numberWithCommas(item.like)
													else
														p 0
							div#exportsubperadminpoweruser.hidden
								table(border="1")
									tr
										td(colspan="7") Power Users
									tr
										td No.
										td Users
										td Points
										td Friends
										td Visits
										td Shares
										td Likes
									each item, i in poweruser
										if item.user_id
											tr
												td #{(i+1)}
												td #{item.user_id.name}
												td
													p= numberWithCommas(item.point)
												td
													if item.user_id.fb_friends != undefined && item.user_id.fb_friends
														p= numberWithCommas(item.user_id.fb_friends)
													else
														p 0
												td
													if item.count_view
														p= numberWithCommas(item.count_view)
													else
														p 0
												td
													if item.share
														p= numberWithCommas(item.share)
													else
														p 0
												td
													if item.like
														p= numberWithCommas(item.like)
													else
														p 0
	
		div.row
			div.col-md-12.appvisitors-block
				div.bg-block.box.box-solid.linksin-block
					div.box-header.with-border
						h3.opensan.box-title.title
							!= 'Links In'
					div.box-body
						table#linksin.table.links-in
							thead
								tr
									td.nosort
										span.title-pusers.pleft-intble Url
									td.nosort.center-text
										span.title-pusers Count
							tbody.addborders-pusers.linksin


block js	
	script(src='/libs/amchart-js/jquery.dataTables.min.js')
	script(src='/libs/amchart-js/dataTables.bootstrap.js')
	script(src='/libs/moment/moment.js')
	script(src='/libs/moment/moment-timezone-with-data.js')
	script(src='/js/admin/bootstrap-datetimepicker.min.js')
	script(src='/libs/amchart-js/jquery.dataTables.min.js')
	script(src='/libs/amchart-js/dataTables.bootstrap.js')
	script(src='/libs/amchart-js/jquery.mCustomScrollbar.concat.min.js')
	script(src='/libs/amchart-js/amcharts.js')
	script(src='/libs/amchart-js/serial.js')
	script(src='/libs/amchart-js/pie.js')
	script(src='/libs/amchart-js/light.js')
	script(src='/libs/amchart-js/chalk.js')
	script.
		moment.tz.setDefault("Asia/Singapore");
		var pageViewDatas = JSON.parse('!{appViews}');
		var appViewToDate = "#{appViewToDate}";
		var numMale = #{numMale};
		var numFemale = #{numFemale};
		var percentMale = "#{percentMale}";
		var percentFemale = "#{percentFemale}";
		var signupThisMonth = JSON.parse('!{signupThisMonth}');
		var numDayFromBeginThisMonth = #{numDayFromBeginThisMonth};
		var appRepeatDatas = JSON.parse('!{appRepeats}');
		var appRepeatToDate = "#{appRepeatToDate}";
	script(src='/js/superadmin/dashboardsuperad.js')
	script(src='/js/superadmin/ga_superadmin.js')
	script(src='https://apis.google.com/js/client:platform.js')
	script(src='https://apis.google.com/js/platform.js?onload=authorize')