doctype html
html
	head
		title QUIZZU - #{title}
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		link(rel="icon", type="image/png", href="/images/favicon.png")
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
		link(rel='stylesheet', href='/stylesheets/admin/AdminLTE.css')
		link(rel='stylesheet', href='/stylesheets/admin/_all-skins.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet')
		link(rel='stylesheet', href='/libs/jquery-ui/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/admin-main.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js')
		block css
		
	body.hold-transition.skin-blue.sidebar-mini
		div.wrapper
			header.main-header
				div.logo.logo-left
					div.col-sm-10
						img(src="/images/logoquizzu.png")
					a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
		
			aside.main-sidebar
				section.sidebar
					div.user-panel
						div.pull-left.image
							img(src="/images/user2-160x160.png").img-circle
						div.pull-left.info
							p #{user.name}
					div.wrap-menu-left
						a.header-main
							i.fa.fa-th-large(aria-hidden="true") 
							span Main 
						ul.sidebar-menu#navMenus
							li.treeview(class=activeMenu.parent === "dashboard" ? "active" : "")
								a(href="/superadmin/dashboard")
									div(style="display:inline-block").icon-Dashboard.left-menu-icon
									span &nbsp;&nbsp;Dashboard
							li.treeview(class=activeMenu.parent === "add-account" ? "active" : "")
								a(href="/superadmin/add-account")
									div(style="display:inline-block").icon-Application.left-menu-icon
									span &nbsp;&nbsp;Add Account
							li.treeview(class=activeMenu.parent === "accounts" ? "active" : "")
								a(href="/superadmin/accounts")
									div(style="display:inline-block").icon-Customise.left-menu-icon
									span &nbsp;&nbsp;Accounts
			div.content-wrapper
				section.content-header
					img(src="/images/header-logo.png")
					a(href="/superadmin/logout") #[span.pull-right.icon-Logout]
					a(href="/superadmin/setting") #[span.pull-right.icon-Setting]
					
				section.content
					block content

		script(src='/js/jquery-2.2.4.min.js')
		script(src='/libs/bootstrap/js/bootstrap.min.js')
		script(src='/js/superadmin/bootstrap-checkbox.min.js')
		script(src='/js/admin/jquery.slimscroll.min.js')
		script(src='/js/admin/fastclick.min.js')
		script(src='/js/admin/app.min.js')
		script(src='/libs/jquery-ui/jquery-ui.js')
		script(src='/js/config.js')
		script(src='/js/admin/Blob.js')
		script(src='/js/admin/Export2Excel.js')
		script(src='/js/admin/FileSaver.js')
		script(src='/js/admin/xlsx.core.min.js')
		script(src='/js/admin/jspdf.min.js')
		script(src='/js/admin/jspdf.plugin.autotable.src.js')
		script(src='/js/superadmin/addeditaccount.js')

		block js
		script.
			var clickmenu = 0;
			$('.sidebar-toggle').click(function() {
				if(clickmenu == 0 ){
						clickmenu = 1;
						$('.logo.logo-left img').attr('style','display:none');
				}else {
					clickmenu = 0;
					$('.logo.logo-left img').attr('style','display:inline-block');
				}
					
			});