html
	head
		title QUIZZU Super Admin - #{title}
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui')
		meta(name="description", content="Quizzu")
		meta(name="keywords", content="Quizzu")
		meta(name="author", content="Quizzu")
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/login.css')
		block css
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		script(src='/js/jquery-2.2.4.min.js')
		script(src='/libs/bootstrap/js/bootstrap.min.js')

	body(style="background-image: url('/../../images/background1.jpg');-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; height:100%;")
		div.my-container
			div.login-logo
				img(src= "/images/logo.png")
			form(action='/superadmin/sp-login',method='post')
				div.input-wrapper
					label(for='email', class='login-label')
						img(src= "/images/icon-person.png")
					input(id='email',class="login-input",type='text',value='',placeholder='Email',name='email')
				div.input-wrapper
					label(for='password', class='login-label')
						img(src= "/images/icon-password.png")
					input(id='password',class="login-input",type='password',value='',placeholder='Password',name='password')
				div.forgot-password.hidden
					a(href="#").a-password Forgot Password
				if message.length > 0
					p.text-danger.margin-top-10 #{message}
				div.sign-in-btn
					input(type='submit',value='Sign In',class="btn btn-pink")