extends layout

block content		
		div.row
		div.col-md-12
			div.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title Settings
					div.box-body.no-padding
						form.general-form(action="/superadmin/setting", method="post")
							div.error-message.col-md-push-3.col-md-8
								if message.length > 0
									div.col-md-12
										each m in message
											p.text-danger(style="font-weight: bold;") #{m}
							div.successful-message.col-md-push-3.col-md-8
								if successful.length > 0
									div.col-md-12
										each m in successful
											p.text-success(style="font-weight: bold;") #{m}
							div.col-md-12.border-bottom.setting-page
								div.col-md-8
									div.form-group
										label.notosan-bold.question-item-title.col-sm-4(for="app-email") Email
										div.col-sm-8.col-md-8.col-xs-12
											input#app-email.form-control(name="app_email", type="email", value="#{user.email}", readonly)
							div.col-md-12.setting-page.seting-padding
								div.col-md-8
									div.form-group
										label.notosan-bold.question-item-title.col-sm-4(for="app_password") Current Password
										div.col-sm-8.col-md-8.col-xs-12
											input#app_password.form-control(name="app_password", type="password", value="")
									div.form-group
										label.notosan-bold.question-item-title.col-sm-4(for="app-newpassword") New Password
										div.col-sm-8.col-md-8.col-xs-12
											input#app-newpassword.form-control(name="app_newpassword", type="password", value="")
									div.form-group
										label.notosan-bold.question-item-title.col-sm-4(for="app-verpassword") Verify Password
										div.col-sm-8.col-md-8.col-xs-12
											input#app-verpassword.form-control(name="app_verpassword", type="password", value="")
							div.clearfix
							div.wrap-btn-uddate
								div.text-center
									input.save-btn.btn.btn-style1.margin-right-20.update-setting-btn(value="Update", type="submit")