extends layout
block css
	link(rel='stylesheet', href='/stylesheets/admin/croppie.css')
block content
	div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title Edit Account
				div.box-body.supper-admin
						form.general-form(action="/superadmin/edit-account/", method="post")
							input(type="hidden", value="#{dataApp._id}", name="app_id")
							input(type="hidden", value="#{userEmail}", name="app_email_old")
							input(type="hidden", value="#{dataApp.admin_id._id}", name="app_user_id")
							div.error-message.col-md-push-3.col-md-8
								if errorMessage.length > 0
									div.col-md-12
										each m in errorMessage
											p.text-danger(style="font-weight: bold;") #{m}
											
							div.error-message.col-md-push-3.col-md-8
								if successfulMessage.length > 0
									div.col-md-12
										each m in successfulMessage
											p.text-success(style="font-weight: bold;") #{m}
							div.col-md-8
								div.form-group
									label.question-item-title.col-sm-5.notosan-bold(for="app-name") Application Name
									div.row.col-sm-7.col-md-7.col-xs-12
										input#app-name.form-control(name="app_name", type="text", value="#{dataApp.app_name}")
								div.form-group
									label.question-item-title.col-sm-5.notosan-bold(for="brand-name") Brand Name
									div.row.col-sm-7.col-md-7.col-xs-12
										input#brand-name.form-control(name="brand_name", type="text", value="#{dataApp.brand_name}")
								div.form-group
									label.question-item-title.col-sm-5.notosan-bold(for="tracking-id") Tracking ID
									div.row.col-sm-7.col-md-7.col-xs-12
										input#tracking-id.form-control(name="ga_tracking_id", type="text", value="#{dataApp.ga_tracking_id}")
								div.form-group
									label.question-item-title.col-sm-5.notosan-bold(for="view-id") View ID
									div.row.col-sm-7.col-md-7.col-xs-12
										input#view-id.form-control(name="ga_view_id", type="text", value="#{dataApp.ga_view_id}")
								div.form-group
									label.notosan-bold.col-sm-2(style="font-size:17px;") URL
								div.form-group.margin-bottom-20.row
									label.notosan-bold(for="app-url").question-item-title.col-xs-5.col-md-5 www.quizzu.rocks/
									div.col-xs-4.col-md-4
										input#app-url.form-control(name="url", type="text", value="#{dataApp.url}", style="text-transform: lowercase;")
									div.col-xs-3.col-md-3 &nbsp;
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold Profile Image
										div.margin-bottom-10 Dimensions: 800 x 800, PNG format
										label.btn.btn-style1(style="margin-top: 5px") Click to Upload
											input(type="file", name="profile_file", accept="image/*", style="display: none;")
											input(type="text", name="profile_file1", id="profile_file1", style="display: none;")
										span.file-name-profile(style="padding-left: 10px; font-style: italic;")
										div.padding-wrap-img
											input(type="hidden" id="profile_img" value="#{dataApp.profile_img}")
											img(src="#{dataApp.profile_img}" id="img_profile")
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold Application Introduction
										div Format: PNG, JPEG or GIF
										div.margin-bottom-10 Note: Introduction will be used acrossed all platforms. Layout will be cropped when viewed on portrait mode.
										label.btn.btn-style1(style="margin-top: 5px") Click to Upload
											input(type="file", name="intro_file", accept="image/*", style="display: none;")
											input(type="text", name="intro_file1", style="display: none;")
										span.file-name-intro(style="padding-left: 10px; font-style: italic;")
										div.padding-wrap-img
											input(type="hidden" id="intro_file" value="#{dataApp.intro_file}")
											img(src="#{dataApp.intro_file}" width="500" id="img_intro")
								div.form-group.margin-bottom-40
									label.notosan-bold.question-item-title.col-sm-5(for="app-email") Admin Email
									div.row.col-sm-7.col-md-7.col-xs-12
										input#app-email.form-control(name="app_email", type="text", value="#{userEmail}")
								div.form-group.margin-bottom-40(class=dataApp.only_login_fb != undefined && dataApp.only_login_fb==true ? "hidden" : "")
									label.notosan-bold.question-item-title.col-sm-5(for="app-password") Admin Password
									div.row.col-sm-7.col-md-7.col-xs-12
										input#app-password.form-control(name="app_password", type="password", value="")
								div.form-group.margin-bottom-40(class=dataApp.only_login_fb != undefined && dataApp.only_login_fb==true ? "hidden" : "")
									label.notosan-bold.question-item-title.col-sm-5(for="app-repassword") Verify Password
									div.row.col-sm-7.col-md-7.col-xs-12
										input#app-repassword.form-control(name="app_repassword", type="password", value="")
								div.form-group
									div.col-sm-12
										label(for="only_login_fb") Login Facebook Only
										br
										input#only_login_fb(name="only_login_fb", type="checkbox", checked=(dataApp.only_login_fb != undefined && dataApp.only_login_fb==true ? "checked" : undefined))
								div.form-group
									div.col-sm-12.margin-bottom-10
										label.notosan-bold.question-item-title Status
										div Activation will launch for usage,.
										div.margin-bottom-20 To delete or deactivate application, please click on the 'Edit' function in Accounts page..
										div
											if dataApp.app_status
												input.btn.btn-style1.margin-right-20.save-btn.bgred(value="Deactivate Account", type="button", style="background:#F2190A")#btnactive
											else											
												input.btn.btn-style1.margin-right-20.save-btn(value="Activate Account", type="button", style="background:#0AE3F2")#btnactive
																																													
											input(type="hidden" name="status" value="#{dataApp.app_status}" id="status")
						
							div.text-center.clear
								input.btn.btn-style1.text-right.save-btn(value="Update", type="submit")
	
	div.modal.fade.bs-example-modal-lg#modal-upload(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
		div.modal-dialog.modal-lg(role="document")
			div.modal-content
				div.modal-body
					div.upload-wrap.col-md-12.no-padding
						div.croppie-container
					div.modal-footer
						a.crop-btn.btn.btn-style1 Crop
						a.btn.btn-style1(data-dismiss="modal") Cancel
	
	script.
		var countclick = #{dataApp.app_status};
										
block js
	script(src='/js/admin/croppie.min.js')
	script(src='/js/admin/exif.js')
