extends layout
block content
	div.row
		div.col-md-6
			div.boxoverview.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title Application overview
					div.box-body.no-padding
						div.row
							div.col-md-4.text-center
								div.boxscored
									h2.notosan-bold #{countQuestion}
									p Questions
							div.col-md-4.text-center
								div.boxscored
									h2.notosan-bold= numberWithCommas(maxScored)
									p Highest Score
							div.col-md-4.text-center
								div.boxscored
									h2.notosan-bold #{avergeScored}
									p Average Scored
			
	div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title Questions
				div.box-body.no-padding
					div.question-table-header
						table.table.question-table
							tr
								th(colspan="2", style="width:60%;")
									a.pull-left.btn.btn-style1.margin-left-10.margin-right-20(href="/#{currentApp.url}/admin/new-question") Add New Question
									form.general-form(action="#{appUrl}/admin/exportapplication", method="post", id="frmapplication_question")
										input(type="hidden", name="app_id", value="#{app_id}", id="app_id")
										input(type="hidden", name="app_name", value="#{app_name}", id="app_name")
										input(type="hidden", name="app_type", value="", id="export_type")
										div.pull-left.export-dashboard
											span.btn.btn-drp.btn-custom Export
											ul.dropdown-lst#pageviews-select.btnexportquestion
												li.active
													a PDF
												li
													a Excel
								th.notosan-bold.text-center(style="width:16%") Date Posted
								th.notosan-bold.text-center(style="width:12%") Views
								th.notosan-bold.text-center(style="width:12%") Score
								
					div.sortable-list
						each question in questions
							table.table.question-table.list-question(data-id="#{question._id}")
								tr
									td(style="width: 5%;").notosan-bold.text-center #[span.icon-icon-menu(style="font-size: 18px;")]
									td(style="width:55%")
										div.notosan-bold.question-app-title #{question.title}
										div.question-item-intro #{question.question}
									td.question-item-info(style="width:16%")
										if question.qs_status == '1'
											span.created-at= moment(question.created).format('DD MMM YYYY')
										else
											span.created-at Draft
									td.question-item-info(style="width:11%")= numberWithCommas(question.count_views)
									if question.count_views == 0
										td.question-item-info(style="width:12%") #{Math.round((question.count_correct_answers/1)*100)}%
									else
										td.question-item-info(style="width:12%") #{Math.round((question.count_correct_answers/question.count_views)*100)}%
								tr(style="display: none;")
									td
										div &nbsp;
									td(colspan="6", style="width:90%")
										form.question-delete-form(action="/#{currentApp.url}/admin/delete-question", method="post", id="#{question._id}")
											input(type="hidden", name="qs_id_delete", value="#{question._id}")
									
										form.question-form(action="/#{currentApp.url}/admin/upsert-question", method="post", enctype="multipart/form-data")
											input(type="hidden", name="qs_id", value="#{question._id}")
											input(type="hidden", name="qs_current_image", value="#{question.image}")
											div.row.question-item
												div.col-md-8
													div.error-message
													div.form-group
														label.notosan-bold(style="font-size: 17px;", for="qs-title") Title
														input#qs-title.form-control(name="qs_title", type="text", value=question.title, readonly="readonly")
													div.form-group
														label.notosan-bold(style="font-size: 17px;", for="qs-question") Question
														span(style="font-size: 17px;") &nbsp;(Max 200 characters)
														textarea#qs-question.form-control(name="qs_question", rows="2", maxlength="200", readonly="readonly") !{question.question}
													div.form-group
														label.notosan-bold(style="font-size: 17px;") Correct Answer
														div.answer-choice(data-toggle="buttons")
															label.btn.icon-Icon-no(class="#{question.correct_answer == '0' ? 'active' : ''}")
																input(type="radio", name="qs_answer", value="0", checked=(question.correct_answer == '0'))
															label.btn.icon-Icon-Check(class="#{question.correct_answer == '1' ? 'active' : ''}")
																input(type="radio", name="qs_answer", value="1", checked=(question.correct_answer == '1'))
													div.form-group
														label.notosan-bold(style="font-size: 17px;") Font Colour
														div.bonus-action-choice(data-toggle="buttons")
															label.btn.btn-style1.margin-right-10(class="#{question.font_color == 'black' ? 'active' : ''}") Black
																input(type="radio", name="font_color", value="black", checked=(question.font_color == 'black'))
															label.btn.btn-style1(class="#{question.font_color == 'white' ? 'active' : ''}") White
																input(type="radio", name="font_color", value="white", checked=(question.font_color == 'white'))
													div.form-group
														label.notosan-bold(style="font-size: 17px;", for="qs-explain") Explanation for Answer 
														span(style="font-size: 17px;") &nbsp;(Max 200 characters)
														textarea#qs-explain.form-control(name="qs_explain", rows="2", maxlength="200", readonly="readonly") !{question.explain}
													
												div.col-md-4
													div.form-group
														label.notosan-bold(style="font-size: 17px;") Upload Image
														div Dimensions: 606 x 1080
														img.question-image(src="#{question.image}", alt="Question image")
														label.hidden.btn.btn-style1(style="margin-top: 5px") Change Image
															input(type="file", name="qs_file", accept="image/*", style="display: none;")
														span.hidden.file-name(style="padding-left: 10px; font-style: italic;")
												
											div.question-item-buttons
												input.btn.btn-style1.margin-right-20(value="Delete", type="submit", form="#{question._id}")
												span.btn.btn-style1.margin-right-20.cancel-btn Cancel
												a.btn.btn-style1.margin-right-20(href="/#{currentApp.url}/admin/update-question/#{question._id}") Update
	
	div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title Bonus Round
				div.box-body.no-padding
					div.question-table-header
						table.table.question-table
							tr
								th(colspan="2", style="width:60%;")
									a.pull-left.btn.btn-style1.margin-left-10.margin-right-20(href="/#{currentApp.url}/admin/new-bonus") New Bonus Question
									div.pull-left.export-dashboard
										form.general-form(action="#{appUrl}/admin/exportbonus", method="post", id="frmapplication_bonus")
											input(type="hidden", name="app_id", value="#{app_id}", id="app_id")
											input(type="hidden", name="app_name", value="#{app_name}", id="app_name")
											input(type="hidden", name="app_type", value="", id="export_type_bonus")
											span#btnExport.btn.btn-drp.btn-custom Export
											ul.dropdown-lst#pageviews-select.btnexportbonus
												li.active
													a PDF
												li
													a Excel
								th.notosan-bold.text-center(style="width:16%") Date Posted
								th.notosan-bold.text-center(style="width:6%") Views
								th.notosan-bold.text-center(style="width:6%") Score
								th.notosan-bold.text-center(style="width:6%") Shares
								th.notosan-bold.text-center(style="width:6%") Likes
								
					div.sortable-list
						each bn in bonus
							table.table.bonus-table.list-bonus(data-id="#{bn._id}")
								tr
									td.notosan-bold(style="width: 5%;").text-center #[span.icon-icon-menu(style="font-size: 18px;")]
									td(style="width:55%")
										div.notosan-bold.question-app-title #{bn.title}
										div.question-item-intro #{bn.caption}
									td.question-item-info(style="width:16%")
										if bn.bonus_status == '1'
											span.created-at= moment(bn.created).format('DD MMM YYYY')
										else
											span.created-at Draft
									td.question-item-info(style="width:6%")= numberWithCommas(bn.count_views)
									if bn.count_views == 0
										td.question-item-info(style="width:6%") #{Math.round((bn.count_share_like/1)*100)}%
									else
										td.question-item-info(style="width:6%") #{Math.round((bn.count_share_like/bn.count_views)*100)}%
									if bn.required_action == 'share'
										td.question-item-info(style="width:6%")= numberWithCommas(bn.count_share_like)
										td.question-item-info(style="width:6%") - 
									else
										td.question-item-info(style="width:6%") - 
										td.question-item-info(style="width:6%")= numberWithCommas(bn.count_share_like)
								tr(style="display: none;")
									td
										div &nbsp;
									td(colspan="6", style="width:90%")
										form.question-delete-form(action="/#{currentApp.url}/admin/delete-bonus", method="post", id="#{bn._id}")
											input(type="hidden", name="bn_id_delete", value="#{bn._id}")
									
										form.question-form(action="", method="post")
											div.row.question-item
												div.col-md-8
													input(type="hidden", name="bonus_id", value="#{bn._id}")
													input(type="hidden", name="bonus_status", value="0")
													div.error-message
													div.form-group
														label.notosan-bold(style="font-size: 17px;", for="bonus-title") Title
														input#bonus-title.form-control(name="bonus_title", type="text", value="#{bn.title}", readonly="readonly")
													div.form-group
														label.notosan-bold(style="font-size: 17px;", for="bonus-question") Caption 
														span(style="font-size: 17px;") &nbsp;(Max 100 characters)
														textarea#bonus-question.form-control(name="bonus_caption", rows="3", maxlength="100", readonly="readonly") #{bn.caption}
													div.form-group
														label.notosan-bold(style="font-size: 17px;", for="bonus-fb-link") Facebook Link
														textarea#bonus-fb-link.form-control(name="bonus_fb_link", rows="3", readonly="readonly") #{bn.fb_link}
													div.form-group
														label.notosan-bold(style="font-size: 17px;") Required Action
														div.bonus-action-choice(data-toggle="buttons")
															label.btn.btn-style1.margin-right-10(class="#{bn.required_action == 'like' ? 'active' : ''}") Like Post
																input(type="radio", name="bonus_action", value="like")
															label.btn.btn-style1(class="#{bn.required_action == 'share' ? 'active' : ''}") Share Post
																input(type="radio", name="bonus_action", value="share")
													div.form-group
														label.notosan-bold(style="font-size: 17px;") Background
														div.bonus-action-choice(data-toggle="buttons")
															label.btn.btn-style1.margin-right-10(class="#{bn.background == 'dark' ? 'active' : ''}") Dark
																input(type="radio", name="background", value="dark", checked=(bn.background == 'dark'))
															label.btn.btn-style1(class="#{bn.background == 'light' ? 'active' : ''}") Light
																input(type="radio", name="background", value="light", checked=(bn.background == 'light'))
													div.form-group
														label.notosan-bold(style="font-size: 17px;", for="bonus-point") Bonus Points
														input#bonus-point.form-control(name="bonus_point", type="number", min="0", style="width: 120px;", value="#{bn.point}", readonly="readonly")
													
												div.col-md-4
													div.form-group
														label.notosan-bold(style="font-size: 17px;") Upload Image
														div Dimensions: 606 x 1080
														img.question-image(src="#{bn.image}", alt="Bonus image")
														label.hidden.btn.btn-style1(style="margin-top: 5px") Change Image
															input(type="file", name="qs_file", accept="image/*", style="display: none;")
														span.hidden.file-name(style="padding-left: 10px; font-style: italic;")
												
											div.question-item-buttons
												input.btn.btn-style1.margin-right-20(value="Delete", type="submit", form="#{bn._id}")
												span.btn.btn-style1.margin-right-20.cancel-btn Cancel
												a.btn.btn-style1.margin-right-20(href="/#{currentApp.url}/admin/update-bonus/#{bn._id}") Update
	div.exportquestion#exportquestion.hidden
		table(border=1)
			tr
				td(colspan="6", style="font-weight:bold") #{app_name.toUpperCase()}
			tr
				td(colspan="6", style="font-weight:bold") Questions
			tr
				td(style="font-weight:bold") No.
				td(style="font-weight:bold") Title
				td(style="font-weight:bold") Question
				td(style="font-weight:bold") Date posted
				td(style="font-weight:bold") Views
				td(style="font-weight:bold") Score	
			each question, i in questions
				tr
					td #{(i+1)}
					td #{question.title}
					td #{question.question}
					td #{moment(question.created).format('DD MMM YYYY')}
					td #{question.count_views}
					if question.count_views == 0
						td #{Math.round((question.count_correct_answers/1)*100)}%
					else
						td #{Math.round((question.count_correct_answers/question.count_views)*100)}%
						
	div#exportbonus.hidden
		table(border=1)
			tr
				td(colspan="7") #{app_name.toUpperCase()}
			tr
				td(colspan="7") Bonus Round
			tr
				td No.
				td Title				
				td Date posted
				td Views
				td Score
				td Shares
				td Likes
			each bn, i in bonus
				tr
					td #{(i+1)}
					td(style="width:55%")
						div.notosan-bold.question-app-title #{bn.title}
					td.question-item-info(style="width:16%")
						if bn.bonus_status == '1'
							span.created-at= moment(bn.created).format('DD MMM YYYY')
						else
							span.created-at Draft
					td.question-item-info(style="width:6%")= numberWithCommas(bn.count_views)
					if bn.count_views == 0
						td.question-item-info(style="width:6%") #{Math.round((bn.count_share_like/1)*100)}%
					else
						td.question-item-info(style="width:6%") #{Math.round((bn.count_share_like/bn.count_views)*100)}%
					if bn.required_action == 'share'
						td.question-item-info(style="width:6%")= numberWithCommas(bn.count_share_like)
						td.question-item-info(style="width:6%") - 
					else
						td.question-item-info(style="width:6%") - 
						td.question-item-info(style="width:6%")= numberWithCommas(bn.count_share_like)
	script.
		var qsIndexList = '!{qsIndexList}'.split(','),
			bnIndexList = '!{bnIndexList}'.split(',');