extends layout
block css
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
	link(rel='stylesheet', href='/stylesheets/admin/bootstrap-datetimepicker.min.css')
	link(rel='stylesheet', href='/libs/amchart-js/jquery.mCustomScrollbar.css')
	link(rel='stylesheet', href='/libs/amchart-js/jquery.dataTables.min.css')
	
block content
	div.row
		div.col-md-12.overview-block
			div.bg-block.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title
						!= 'Dashboard Overview'
					div.export-dashboard
						span.form-control.btnexportdashboard Export
	div#contextExport
		div.row
			div.col-md-12.pageviews-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Page Views'
					div.box-body
						div
							div.pull-left#pageviews-click.pull-left.margin-right-20
								div.export-dashboard
									button.btn.btn-drp.btn-custom Week
									ul.dropdown-lst#pageviews-select
										li.active(data-value="week") Week
										li(data-value="month") Month
										li(data-value="custom") Custom
							div.form-group.date-picker-group.pull-left.margin-right-20
								div.input-group.date.hidden#datetimepicker1
									input.form-control(type='text', placeholder="From Date")
									span.input-group-addon
										span.glyphicon.glyphicon-calendar
										
							div.form-group.date-picker-group.pull-left.margin-right-20
								div.input-group.date.hidden#datetimepicker2
									input.form-control(type='text', placeholder="To Date")
									span.input-group-addon
										span.glyphicon.glyphicon-calendar
										
							div.btn.btn-style1.hidden.pull-left#page-view-custom-btn Submit
								
							div.pull-right.total-page-views#total-page-view
								span.notosan-bold.numb= numberWithCommas(totalPageView)

								span.text Total Page Views
						div#pageviews
		div.row.line2print
			div.col-lg-3.col-md-4.visitors-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Unique Visitors'
					div.box-body.min-height-block
						div.wrap-row.total
							p.notosan-bold.numb= numberWithCommas(totalUnique)
							p.text Total Unique Visitors
						div.wrap-row.new
							p#unique-today-numb.notosan-bold.numb= numberWithCommas(uniqueToday)
							p.text 
								| New Visitors <br />
								| (Today)
						div.wrap-row.pagevisit
							p.notosan-bold.numb #{avgPageVisits}
							p.text Avg. Page Visits
	
			div.col-lg-9.col-md-8.nsups-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'New Sign Ups'
					div.box-body.min-height-block
						div.pull-left#nsups-click
							div.export-dashboard
								button#btnfilterMonth.btn.btn-drp.btn-custom= moment().format('MMMM, YYYY')
								ul.dropdown-lst#newsgnups
									- for (var x = 0; x < 12; x++)
										li(data-value = moment().subtract(x, 'month').format('YYYY-MM'), class=x == 0 ? "active" : "")= moment().subtract(x, 'month').format('MMMM, YYYY')
						div.pull-right.total-page-views
							span.notosan-bold.numb= numberWithCommas(totalNewSignup)
							span.text Total Sign Ups
						div.linetopdashboard
						div.linebottomdashboard
						#nsups
		div.row
			div.col-md-12.appvisitors-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Repeat Visitors / Unique Visitors'
					div.box-body 
						div
							div#appvisitors-click.pull-left.margin-right-20
								div.pull-left.export-dashboard.margin-right-20
									button.btn.btn-drp.btn-custom Week
									ul.dropdown-lst#appvisitors-select
										li.active(data-value="week") Week
										li(data-value="month") Month
										li(data-value="custom") Custom
								a#repeat.btn.btn-style1 Repeat Visits
								
							div.form-group.date-picker-group.pull-left.margin-right-20
								div.input-group.date.hidden#datetimepickerRepeat1
									input.form-control(type='text', placeholder="From Date")
									span.input-group-addon
										span.glyphicon.glyphicon-calendar
										
							div.form-group.date-picker-group.pull-left.margin-right-20
								div.input-group.date.hidden#datetimepickerRepeat2
									input.form-control(type='text', placeholder="To Date")
									span.input-group-addon
										span.glyphicon.glyphicon-calendar
										
							div.btn.btn-style1.hidden.pull-left#repeat-chart-custom-btn Submit
							
							div.pull-right.visits
								span.notosan-bold.numb #{avgRepeatRatio}
								span.text Avg, Repeat Ratio
						#appvisitors
		div.row
			div.col-lg-3.col-md-4.gender-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Gender'
					div.box-body.min-height-block
						#gender.donut-chart
						div.row.info-gender
							div.col-md-6
								span.notosan-bold.percent #{percentMale}%
								span.text Males
							div.col-md-6
								span.notosan-bold.percent #{percentFemale}%
								span.text Females
	
	
			div.col-lg-9.col-md-8.agebreak-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Age Breakdown'											
					div.box-body.min-height-block
						button#auth-button.pull-right Sign in Google Account
						div.col-lg-6.col-md-4.wrap-donut
							#agebreak.donut-chart
						div.col-lg-6.col-md-8.wrap-info-donut
							div.row
								div.col-lg-3.col-md-4
									span.notosan-bold.percent#data1824 0%
									span.text 18 - 24
	
								div.col-lg-3.col-md-4
									span.notosan-bold.percent#data2534 0%
									span.text 25 - 34
								div.col-lg-3.col-md-4
									span.notosan-bold.percent#data2544 0%
									span.text 35 - 44
							div.row
								div.col-lg-3.col-md-4
									span.notosan-bold.percent#data4554 0%
									span.text 45 - 54
								div.col-lg-3.col-md-4
									span.notosan-bold.percent#data5563 0%
									span.text 55 - 64
								div.col-lg-3.col-md-4
									span.notosan-bold.percent#data65 0%
									span.text 65 and Above
		div.row
			div.col-lg-3.col-md-4.bouncerate-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Bounce Rate'
					div.box-body.min-height-block
						#bouncerate.donut-chart
						div.row.info-bncrate
							div.col-md-12
								span.notosan-bold.percent#dataBounceRate 0%
								span.text Bounce Rate
			div.col-lg-9.col-md-8.power-user-block
				div.bg-block.box.box-solid
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Power Users'
					div.box-body.wrap-pusers.min-height-block
						div.col-xs-12
							div.fixbtn.export-dashboard.pull-left
								form.general-form(action="#{appUrl}/admin/export", method="post", id="frmexport")
									input(type="hidden", name="app_id", value="#{app._id}", id="app_id")
									input(type="hidden", name="app_name", value="#{app.app_name}", id="app_name")
									input(type="hidden", name="app_type", value="", id="export_type")
									span#today-pusers.btn.btn-drp.btn-custom Export
									ul.dropdown-lst#today-pusers-export
										li
											a PDF
										li
											a Excel
						div.col-xs-12.table-responsive
							table#pwusertb.table.table-bordered.pusers
								thead
									tr
										th.nosort(style="",targets="0" ,oderable =false)
											
										th.text-center(style="") 
											span.title-pusers Points
										th.text-center(style="") 
											span.title-pusers Friends
										th.text-center(style="") 
											span.title-pusers Views
										th.text-center(style="") 
											span.title-pusers Shares
										th.text-center(style="") 
											span.title-pusers Likes
								tbody.addborders-pusers.export-today-pusers#export-today-pusers
									each item in poweruser
										if item.user_id
											tr
												td(style="")
													span
													if item.user_id.avatar != undefined && item.user_id.avatar
														img.img-circle(src="#{item.user_id.avatar}", width="90")
													else
														img.img-circle(src="/images/no-avatar.jpg", width="90")
													p(style="text-transform: capitalize;") 
														strong #{item.user_id.name}
												td.text-center(style="")
													p.justify-numb= numberWithCommas(item.point)
												td.text-center(style="")
													if item.user_id.fb_friends != undefined && item.user_id.fb_friends
														p.justify-numb= numberWithCommas(item.user_id.fb_friends)
													else
														p.justify-numb 0
												td.text-center(style="")
													if item.count_view
														p.justify-numb= numberWithCommas(item.count_view)
													else
														p.justify-numb 0
												td.text-center(style="")
													if item.share
														p.justify-numb= numberWithCommas(item.share)
													else
														p.justify-numb 0
												td.text-center(style="")
													if item.like
														p.justify-numb= numberWithCommas(item.like)
													else
														p.justify-numb 0
														
							div#xls.hidden
								table(border=1)
									tr
										td(style="font-weight:bold", colspan=7) #{app.app_name.toUpperCase()}
									tr
										td(style="font-weight:bold", colspan=7) Power Users
								table(border=1)
									tr
										td(style="font-weight:bold") No.
										td(style="font-weight:bold") Users
										td(style="font-weight:bold") Points
										td(style="font-weight:bold") Friends
										td(style="font-weight:bold") Visits
										td(style="font-weight:bold") Shares
										td(style="font-weight:bold") Likes
									each item, i in poweruser
										if item.user_id
											tr
												td #{(i+1)}
												td #{item.user_id.name}
												td
													if item.point
														p= numberWithCommas(item.point)
													else
														p -
												td 
													if item.user_id.fb_friends != undefined && item.user_id.fb_friends
														p.justify-numb= numberWithCommas(item.user_id.fb_friends)
													else
														p.justify-numb -
												td
													if item.count_view
														p.justify-numb= numberWithCommas(item.count_view)
													else
														p.justify-numb -
												td
													if item.share
														p.justify-numb= numberWithCommas(item.share)
													else
														p.justify-numb -
												td
													if item.like
														p.justify-numb= numberWithCommas(item.like)
													else
														p.justify-numb -
		div.row.line3print
			div.col-lg-3.col-md-4
				div.bg-block.box.box-solid.linksin-block
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Links In'
					div.box-body.min-height-block
						table#linksin.table.links-in
							thead
								tr
									td.nosort(style="width:70%")
										span.pleft-intble.title-pusers Url
									td.nosort(style="width:15%")
										span.title-pusers Count
							tbody.addborders-pusers.linksin
									
			div.col-lg-9.col-md-8
				div.bg-block.box.box-solid.affinityreach-block
					div.box-header.with-border
						h3.notosan-bold.box-title.title
							!= 'Affinity Reach'
					div.box-body.min-height-block
						.fixaffreach
							#affreach
			div.modal.fade.bs-example-modal-sm.alert-modal(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel")
				div.modal-dialog.modal-sm(role="document")
					div.modal-content
						div.modal-header
							button.close(type="button" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true") &times;
							h4.modal-title Alert
						div.modal-body

block js	
	script(src='/libs/moment/moment.js')
	script(src='/libs/moment/moment-timezone-with-data.js')
	script(src='/js/admin/bootstrap-datetimepicker.min.js')
	script(src='/libs/amchart-js/jquery.dataTables.min.js')
	script(src='/libs/amchart-js/dataTables.bootstrap.js')
	script(src='/libs/amchart-js/jquery.mCustomScrollbar.concat.min.js')
	script(src='/libs/amchart-js/amcharts.js')
	script(src='/libs/amchart-js/serial.js')
	script(src='/libs/amchart-js/pie.js')
	script(src='/libs/amchart-js/light.js')
	script(src='/libs/amchart-js/chalk.js')
	script(src='/js/admin/ga_dashboard.js')
	script(src='/js/admin/FileSaver.js')
	script(src='/js/admin/Blob.js')
	
	script.
		moment.tz.setDefault("Asia/Singapore");
		var pageViewDatas = JSON.parse('!{appViews}');
		var numMale = #{numMale};
		var numFemale = #{numFemale};
		var percentMale = "#{percentMale}";
		var percentFemale = "#{percentFemale}";
		var signupThisMonth = JSON.parse('!{signupThisMonth}');
		var numDayFromBeginThisMonth = #{numDayFromBeginThisMonth};
		var appViewToDate = "#{appViewToDate}";
		var appRepeatDatas = JSON.parse('!{appRepeats}');
		var appRepeatToDate = "#{appRepeatToDate}";
	script(src='/js/admin/runamchart.js')
	script(src='https://apis.google.com/js/client:platform.js')
	script(src='https://apis.google.com/js/platform.js?onload=authorize')
