extends layout

block content		
		div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title GamePlay Settings
				div.box-body
						form.question-form(action="#{appUrl}/admin/gameplay", method="post")
							input(type="hidden", name="app_id", value="#{app._id}")
							if message.length > 0
								div.col-md-12
									div.col-sm-12
										each m in message
											p.text-danger(style="font-weight: bold;") #{m}
						
							div.col-sm-10
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(for="rule", style="font-size: 17px;") Rules of the Game (How to Win)
										//textarea#rule.form-control.editwitheditor(name="rule", rows="9") #{app.rule}
										textarea#rule.form-control(name="rule", rows="9") #{app.rule}
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(for="completion_message", style="font-size: 17px;") Game Completion Message 
										span(style="font-size: 17px;") (Use {score} to include user's points within the message)
										//textarea#completion_message.form-control.editwitheditor(name="completion_message", rows="5") #{app.completion_message}
										textarea#completion_message.form-control(name="completion_message", rows="5") #{app.completion_message}
								div.form-group
									div.col-sm-12
										label.notosan-bold(style="font-size: 17px;") Background
										div.bonus-action-choice(data-toggle="buttons")
											label.btn.btn-style1.margin-right-10(class="#{app.completion_background == 'dark' ? 'active' : ''}") Dark
												input(type="radio", name="completion_background", value="dark", checked=(app.completion_background == 'dark'))
											label.btn.btn-style1(class="#{app.completion_background == 'light' ? 'active' : ''}") Light
												input(type="radio", name="completion_background", value="light", checked=(app.completion_background == 'light'))
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(style="font-size: 17px;",for="point_invite") Invitation Reward
										span(style="font-size: 17px;")
									div.col-sm-12
										input#point_invite.form-control.col-sm-3.col-md-3.col-xs-12(type="number", name="invite_point",min="0", value="#{app.invite_point}")
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(style="font-size: 17px;",for="point_adwarded") Points Awarded
										span(style="font-size: 17px;")  (per correct answer)
									div.col-sm-12
										input#point_adwarded.form-control.col-sm-3.col-md-3.col-xs-12(type="number", name="point_adwarded",min="0", value="#{app.point_adwarded}")

								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(style="font-size: 17px;",for="point_deducted") Points Deducted
										span(style="font-size: 17px;")  (per wrong answer)
									div.col-sm-12
										input#point_deducted.form-control.col-sm-3.col-md-3.col-xs-12(type="number", name="point_deducted", min="0", value="#{app.point_deducted}")
									
							div.col-sm-12.general-block(style="padding:10px 0 30px")
								div.text-center
									input.btn.btn-style1.margin-right-20.save-btn(value="Update", type="submit")
block js
	script(src='/libs/tinymce/js/tinymce/tinymce.min.js')
	script(src='/libs/tinymce/js/tinymce/jquery.tinymce.min.js')
	script(src='/js/admin/init-tinymce.js')