extends layout

block content		
		div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title Basic Settings
				div.box-body.general-block
						form.general-form(action="/#{app.url}/admin/general", method="post", enctype="multipart/form-data")
							input(type="hidden", name="app_id", value="#{app._id}")
							if message.length > 0
								div.col-md-12
									each m in message
										p.text-danger(style="font-weight: bold;") #{m}
							div.col-md-8
								div.form-group
									label.notosan-bold.question-item-title.col-sm-5(for="app-name") Application Name
									div.col-sm-7.col-md-7.col-xs-12
										input#app-name.form-control(name="app_name", type="text", value="#{app.app_name}")
								div.no-margin.form-group
									label.notosan-bold.col-sm-2(style="font-size: 17px;") URL
								div.form-group.margin-bottom-20
									label(for="app-url").notosan-bold.question-item-title.col-sm-5 www.quizzu.rocks/
									div.col-sm-7.col-md-7.col-xs-12
										input#app-url.form-control(name="url", type="text", value="#{app.url}", style="text-transform: lowercase;")
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(style="font-size: 17px;") Profile Image
										div.status-desc.margin-bottom-10 Dimensions: 800 x 800, PNG format
										label.btn.btn-style1(style="margin-top: 5px") Click to Upload
											input(type="file", name="profile_file", accept="image/*", style="display: none;")
										span.file-name-profile(style="padding-left: 10px; font-style: italic;")
										div.padding-wrap-img
											input(type="hidden" id="profile_img" value="#{app.profile_img}")
											img(src="#{app.profile_img}" id="img_profile")
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(style="font-size: 17px;") Application Introduction
										div.status-desc Format: PNG, JPEG or GIF
										div.status-desc.margin-bottom-10 Note: Introduction will be used acrossed all platforms. Layout will be cropped when viewed on portrait mode.
										label.btn.btn-style1(style="margin-top: 5px") Click to Upload
											input(type="file", name="intro_file", accept="image/*", style="display: none;")
										span.file-name-intro(style="padding-left: 10px; font-style: italic;")
										div.padding-wrap-img
											input(type="hidden" id="intro_file" value="#{app.intro_file}")
											img(src="#{app.intro_file}" id="img_intro")
								
								div.form-group.margin-bottom-20
									div.col-sm-12
										label(for="only_login_fb") Login Facebook Only
										br
										input#only_login_fb(name="only_login_fb", type="checkbox", checked=(app.only_login_fb != undefined && app.only_login_fb==true ? "checked" : undefined))
								
								div.form-group.margin-bottom-end
									div.col-sm-12
										label.notosan-bold(style="font-size: 17px;") Status
										div.status-desc.margin-bottom-10 Application will no longer ve accessible by users after deactivation. All questions and statistics will still be available to admin. Deactivation mode does not delete the application.
										div.bonus-action-choice(data-toggle="buttons")
											if admin_access == true
												label.btn.btn-style1.margin-right-10(class="#{app.app_status == '1' ? 'active' : ''}") Active
													input(type="radio", name="app_status", value="1", checked=(app.app_status == '1'))
												label.btn.btn-style1.margin-right-10(class="#{app.app_status == '0' ? 'active' : ''}") Deactive
													input(type="radio", name="app_status", value="0", checked=(app.app_status == '0'))
											else
												label.btn.btn-style1.margin-right-10.active Deactive
													input(type="radio", name="app_status", value="0")
							div.col-sm-10
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(for="term_condition", style="font-size: 17px;") Terms and Conditions
										//textarea#term_condition.form-control.editwitheditor(name="term_condition", rows="10") #{app.term_condition}
										textarea#term_condition.form-control(name="term_condition", rows="10") #{app.term_condition}
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(for="privacy", style="font-size: 17px;") Privacy Policy
										//textarea#privacy.form-control.editwitheditor(name="privacy", rows="10") #{app.privacy}
										textarea#privacy.form-control(name="privacy", rows="10") #{app.privacy}
								div.form-group.margin-bottom-20
									div.col-sm-12
										label.notosan-bold(for="term_service", style="font-size: 17px;") Terms of service
										//textarea#term_service.form-control.editwitheditor(name="term_service", rows="10") #{app.term_service}
										textarea#term_service.form-control(name="term_service", rows="10") #{app.term_service}
							if admin_access == true
								div.col-sm-12(style="padding:30px 0 30px")
									div.text-center
										input.btn.btn-style1.margin-right-20.save-btn(value="Update", type="submit")
block js
	script(src='/libs/tinymce/js/tinymce/tinymce.min.js')
	script(src='/libs/tinymce/js/tinymce/jquery.tinymce.min.js')
	script(src='/js/admin/init-tinymce.js')
	script(src='/js/superadmin/bootstrap-checkbox.min.js')
	script.
		jQuery(document).ready(function() {
			jQuery(':checkbox').checkboxpicker();
		});