doctype html
html
	head
		title QUIZZU - #{title}
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='google-signin-scope' content='https://www.googleapis.com/auth/analytics.readonly')
		link(rel="icon", type="image/png", href="/images/favicon.png")
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/admin-fonts/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/admin/ionicons.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet')
		link(rel='stylesheet', href='/stylesheets/admin/AdminLTE.css')
		link(rel='stylesheet', href='/stylesheets/admin/_all-skins.min.css')
		link(rel='stylesheet', href='/libs/jquery-ui/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/admin-main.css')
		block css
		
	body.hold-transition.skin-blue.sidebar-mini
		div.wrapper
			header.main-header
				div.logo.logo-left
					div.col-sm-10
						img(src="/images/logoquizzu.png")
					a.sidebar-toggle(href="#", data-toggle="offcanvas", role="button")
		
			aside.main-sidebar
				section.sidebar
					div.user-panel
						div.pull-left.image
							img(src="#{app.profile_img}").img-circle
						div.pull-left.info
							p #{app.app_name}
					div.wrap-menu-left
						a.header-main
							i.fa.fa-th-large(aria-hidden="true") 
							span Main 
						ul.sidebar-menu#navMenus
							li.treeview(class=activeMenu.parent === "dashboard" ? "active" : "")
								a(href="/#{app.url}/admin/dashboard")
									div(style="display:inline-block").icon-Dashboard.left-menu-icon
									span &nbsp;&nbsp;Dashboard
							li.treeview(class=activeMenu.parent === "application" ? "active" : "")
								a(href="/#{app.url}/admin/application")
									div(style="display:inline-block").icon-Application.left-menu-icon
									span &nbsp;&nbsp;Application
							li.treeview(class=activeMenu.parent === "customise" ? "active" : "")
								a(href="#")
									div(style="display:inline-block").icon-Customise.left-menu-icon
									span &nbsp;&nbsp;Customise
									span.pull-right-container
										i.fa.fa-angle-left.pull-right
								ul.treeview-menu
									li(class=typeof activeMenu.child != 'undefined' && activeMenu.child === "general" ? "active" : "") #[a(href="/#{app.url}/admin/general") #[span.icon-General]&nbsp;&nbsp;General ]
									li(class=typeof activeMenu.child != 'undefined' && activeMenu.child === "theme" ? "active" : "") #[a(href="/#{app.url}/admin/theme") #[span.icon-Theme]&nbsp;&nbsp;Theme ]
									li(class=typeof activeMenu.child != 'undefined' && activeMenu.child === "gameplay" ? "active" : "") #[a(href="/#{app.url}/admin/gameplay") #[span.icon-Gameplay]&nbsp;&nbsp;Gameplay ]
									li(class=typeof activeMenu.child != 'undefined' && activeMenu.child === "web" ? "active" : "") #[a(href="/#{app.url}/admin/web") #[span.icon-Web]&nbsp;&nbsp;Web ]
			div.content-wrapper
				section.content-header
					img(src="/images/header-logo.png")
					a(href="#{appUrl}/logout") #[span.pull-right.icon-Logout]
					a(href="#{appUrl}/admin/setting") #[span.pull-right.icon-Setting]
					
				section.content
					block content
		script.
			var ga_view_id = "#{app.ga_view_id}";
		script(src='/js/jquery-2.2.4.min.js')
		script(src='/libs/bootstrap/js/bootstrap.min.js')
		script(src='/js/admin/jquery.slimscroll.min.js')
		script(src='/js/admin/fastclick.min.js')
		script(src='/js/admin/app.min.js')
		script(src='/libs/jquery-ui/jquery-ui.js')
		script(src='/js/config.js')
		script(src='/js/admin/admin.js')
		script(src='/js/admin/Blob.js')
		script(src='/js/admin/Export2Excel.js')
		script(src='/js/admin/FileSaver.js')
		script(src='/js/admin/xlsx.core.min.js')
		script(src='/js/admin/jspdf.min.js')
		script(src='/js/admin/jspdf.plugin.autotable.src.js')
		script(src='/js/admin/html2canvas.min.js')
		script(src='https://apis.google.com/js/client.js?onload=authorize')

		block js
		
		script.
			var appUrl = '#{app.url}';
			var clickmenu = 0;
			$('.sidebar-toggle').click(function() {
				if(clickmenu == 0 ){
						clickmenu = 1;
						$('.logo.logo-left img').attr('style','display:none');
				}else {
					clickmenu = 0;
					$('.logo.logo-left img').attr('style','display:inline-block');
				}
					
			});