extends layout
block css
	link(rel='stylesheet', href='/stylesheets/admin/croppie.css')
block content
	div.row.hidden
		div.col-md-6
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title Application Overview
				div.box-body
					div.row.text-center
						div.col-md-4
							div 0
							div Questions
						div.col-md-4
							div 0
							div Highest Score
						div.col-md-4
							div 0
							div Average Score
		div.col-md-6
			div.box.box-solid
				div.box-header.with-border
					h3.box-title Status
				div.box-body
					div.row.text-center
						div.col-md-6
							div 1 Aug 2016
							div Stated
						div.col-md-6
							div Active
							div Status
					
	div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title New Standard Question
				div.box-body
					div.center_div
						form.question-form(action="#{appUrl}/admin/upsert-question", method="post")
							input(type="hidden", name="qs_status", value="0")
							input(type="hidden", name="img_base64", value="")
							div.error-message
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="qs-title") Title
								input#qs-title.form-control(name="qs_title", type="text")
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="qs-question") Question 
								span(style="font-size: 17px;") &nbsp;(Max 200 characters)
								textarea#qs-question.form-control(name="qs_question", rows="3", maxlength="200")
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Correct Answer
								div.answer-choice(data-toggle="buttons")
									label.btn.icon-Icon-no
										input(type="radio", name="qs_answer", value="0")
									label.btn.icon-Icon-Check
										input(type="radio", name="qs_answer", value="1")
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Font colour
								div.bonus-action-choice(data-toggle="buttons")
									label.btn.btn-style1.margin-right-10 Black
										input(type="radio", name="font_color", value="black")
									label.btn.btn-style1 White
										input(type="radio", name="font_color", value="white")
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="qs-explain") Explanation for Answer 
								span(style="font-size: 17px;") &nbsp;(Max 200 characters)
								textarea#qs-explain.form-control(name="qs_explain", rows="3", maxlength="200")
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Upload Image
								div Dimensions: 606 x 1080
								div.hidden.resuft-crop(style="overflow: hidden;position: relative;width:250px;height:auto;")
									div.preview-container(style="position: relative;width:250px;height:auto;")
										div.cr-boundary
										img.question-image(src="", alt="Question image")
										div.cr-viewport.cr-vp-square(style="width:250px;height:334px")
								label(style="margin-top: 5px") 
									a.btn.btn-style1.file-btn.margin-right-10
										span Click to Upload
											input(type="file", name="file", id="upload", value="Choose a file", accept="image/*", style="display: none;")
								
								span.file-name(style="font-style: italic;")
							div.text-center
								span.btn.btn-style1.preview-question.margin-right-20 Preview
								input.btn.btn-style1.margin-right-20.post-btn(value="Post", type="submit")
								input.btn.btn-style1.margin-right-20.save-btn(value="Save", type="submit")
								a.btn.btn-style1(href="/#{currentApp.url}/admin/application") Cancel
	div.modal.fade.bs-example-modal-lg#modal-upload(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
		div.modal-dialog.modal-lg(role="document")
			div.modal-content
				div.modal-body
					div.upload-wrap.col-md-12.no-padding
						div.croppie-container
				div.modal-footer
					a.crop-btn.btn.btn-style1 Crop
					a.btn.btn-style1(data-dismiss="modal") Cancel
block js
	script(src='/js/admin/croppie.min.js')
	script(src='/js/admin/exif.js')
