extends layout

block content		
		div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title Theme
				form.general-form(action="/#{app.url}/admin/theme", method="post", enctype="multipart/form-data")
					input(type="hidden", name="app_id", value="#{app._id}")

					if message.length > 0
						div.box-body
							div.col-md-12
								each m in message
									p.text-danger(style="font-weight: bold;") #{m}
					div
						div.box-body.general-block
							div.col-md-6
								label.notosan-bold(style="font-size: 17px;") Desktop Background
								div.margin-bottom-20 Dimensions: 800 x 800, PNG format
								label.btn.btn-style1(style="margin-top: 5px") Click to Upload
									input(type="file", name="theme_destop_bg", accept="image/*", style="display: none;")
								span.file-name(style="padding-left: 10px; font-style: italic;")
							div.col-md-3
								div.img-theme
									if app.theme_destop_bg
										img(src="#{app.theme_destop_bg}", alt="Desktop Background")
										input(type="hidden", name="currentThemeImg", value="#{app.theme_destop_bg}")
									else
										img(src="/images/background2.jpg", alt="Desktop Background")
										input(type="hidden", name="currentThemeImg", value="/images/background2.jpg")

					div(style="padding:40px 0 30px")
						div.box-body.general-block(style="margin-bottom: 20px;")
							div.col-md-6
								label.notosan-bold(style="font-size: 17px; margin-bottom: 25px;") Font Colour
								div.bonus-action-choice(data-toggle="buttons")
									label.btn.btn-style1.margin-right-10(class="#{app.font_color == 'black' ? 'active' : ''}") Black
										input(type="radio", name="font_color", value="black", checked=(app.font_color == 'black'))
									label.btn.btn-style1.margin-right-10(class="#{app.font_color == 'white' ? 'active' : ''}") White
										input(type="radio", name="font_color", value="white", checked=(app.font_color == 'white'))
					
						div.box-body.general-block
							div.text-center
								input.btn.btn-style1.margin-right-20.save-btn(value="Update", type="submit")