extends layout
block css
	link(rel='stylesheet', href='/stylesheets/admin/croppie.css')
block content
	div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title Update Question
				div.box-body
					div.center_div
						form.question-form(action="#{appUrl}/admin/upsert-question", method="post")
							input(type="hidden", name="qs_id", value="#{question._id}")
							input(type="hidden", name="qs_status", value="question.status")
							input(type="hidden", name="qs_current_image", value="#{question.image}")
							input(type="hidden", name="img_base64", value="")
							div.error-message
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="qs-title") Title
								input#qs-title.form-control(name="qs_title", type="text", value="#{question.title}")
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="qs-question") Question 
								span(style="font-size: 17px;") &nbsp;(Max 200 characters)
								textarea#qs-question.form-control(name="qs_question", rows="3", maxlength="200") #{question.question}
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Correct Answer
								div.answer-choice(data-toggle="buttons")
									label.btn.icon-Icon-no(class="#{question.correct_answer == '0' ? 'active' : ''}")
										input(type="radio", name="qs_answer", value="0", checked=(question.correct_answer == '0'))
									label.btn.icon-Icon-Check(class="#{question.correct_answer == '1' ? 'active' : ''}")
										input(type="radio", name="qs_answer", value="1", checked=(question.correct_answer == '1'))
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Font Colour
								div.bonus-action-choice(data-toggle="buttons")
									label.btn.btn-style1.margin-right-10(class="#{question.font_color == 'black' ? 'active' : ''}") Black
										input(type="radio", name="font_color", value="black", checked=(question.font_color == 'black'))
									label.btn.btn-style1(class="#{question.font_color == 'white' ? 'active' : ''}") White
										input(type="radio", name="font_color", value="white", checked=(question.font_color == 'white'))
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="qs-explain") Explanation for Answer
								span(style="font-size: 17px;") &nbsp;(Max 200 characters)
								textarea#qs-explain.form-control(name="qs_explain", rows="3", maxlength="200") #{question.explain}
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Upload Image
								div Dimensions: 606 x 1080
								div(style="overflow: hidden;position: relative;width:250px;height:auto;")
									div.preview-container(style="position: relative;width:250px;height:auto;")
										div.cr-boundary
										img.question-image(src="#{question.image}", alt="Question image")
										div.cr-viewport.cr-vp-square(style="width:250px;height:334px")
								label.btn.btn-style1(style="margin-top: 5px") Click to Upload
									input(type="file", name="file", accept="image/*", style="display: none;")
								span.file-name(style="padding-left: 10px; font-style: italic;")
							
							div.text-center(style="padding:30px 0 30px")
								span.btn.btn-style1.preview-question.margin-right-20 Preview
								input.btn.btn-style1.margin-right-20.post-btn(value="Post", type="submit")
								input.btn.btn-style1.margin-right-20.save-btn(value="Save", type="submit")
								a.btn.btn-style1(href="/#{currentApp.url}/admin/application") Cancel
	div.modal.fade.bs-example-modal-lg#modal-upload(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
		div.modal-dialog.modal-lg(role="document")
			div.modal-content
				div.modal-body
					div.upload-wrap.col-md-12.no-padding
						div.croppie-container
				div.modal-footer
					a.crop-btn.btn.btn-style1 Crop
					a.btn.btn-style1(data-dismiss="modal") Cancel
block js
	script(src='/js/admin/croppie.min.js')
	script(src='/js/admin/exif.js')