extends layout
block css
	link(rel='stylesheet', href='/stylesheets/admin/croppie.css')
block content
	div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title Update Bonus
				div.box-body
					div.center_div
						form.bonus-form(action="#{appUrl}/admin/upsert-bonus", method="post")
							input(type="hidden", name="bonus_id", value="#{bonus._id}")
							input(type="hidden", name="bonus_status", value="#{bonus.bonus_status}")
							input(type="hidden", name="qs_current_image", value="#{bonus.image}")
							input(type="hidden", name="img_base64", value="")
							div.error-message
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="bonus-title") Title
								input#bonus-title.form-control(name="bonus_title", type="text", value="#{bonus.title}")
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="bonus-question") Caption 
								span(style="font-size: 17px;") &nbsp;(Max 100 characters)
								textarea#bonus-question.form-control(name="bonus_caption", rows="3", maxlength="100") #{bonus.caption}
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="bonus-fb-link") Facebook Link
								textarea#bonus-fb-link.form-control(name="bonus_fb_link", rows="3") #{bonus.fb_link}
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Required Action
								div.bonus-action-choice(data-toggle="buttons")
									label.btn.btn-style1.margin-right-10(class="#{bonus.required_action == 'like' ? 'active' : ''}") Like Post
										input(type="radio", name="bonus_action", value="like", checked=(bonus.required_action == 'like'))
									label.btn.btn-style1(class="#{bonus.required_action == 'share' ? 'active' : ''}") Share Post
										input(type="radio", name="bonus_action", value="share", checked=(bonus.required_action == 'share'))
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Background
								div.bonus-action-choice(data-toggle="buttons")
									label.btn.btn-style1.margin-right-10(class="#{bonus.background == 'dark' ? 'active' : ''}") Dark
										input(type="radio", name="background", value="dark", checked=(bonus.background == 'dark'))
									label.btn.btn-style1(class="#{bonus.background == 'light' ? 'active' : ''}") Light
										input(type="radio", name="background", value="light", checked=(bonus.background == 'light'))
							div.form-group
								label.notosan-bold(style="font-size: 17px;", for="bonus-point") Bonus Points
								input#bonus-point.form-control(name="bonus_point", type="number", min="0", style="width: 170px;", value="#{bonus.point}")
							div.form-group
								label.notosan-bold(style="font-size: 17px;") Upload Image
								div Dimensions: 606 x 1080
								div(style="overflow: hidden;position: relative;width:250px;height:auto;")
									div.preview-container(style="position: relative;width:250px;height:auto;")
										div.cr-boundary
										img.question-image(src="#{bonus.image}", alt="Bonus image")
										div.cr-viewport.cr-vp-square(style="width:250px;height:334px")
								label.btn.btn-style1(style="margin-top: 5px") Click to Upload
									input(type="file", name="file", accept="image/*", style="display: none;")
								span.file-name(style="padding-left: 10px; font-style: italic;")
							
							div.text-center(style="padding:30px 0 30px")
								span.btn.btn-style1.preview-bonus.margin-right-20 Preview
								input.btn.btn-style1.margin-right-20.post-btn(value="Post", type="submit")
								input.btn.btn-style1.margin-right-20.save-btn(value="Save", type="submit")
								a.btn.btn-style1(href="/#{currentApp.url}/admin/application") Cancel
	div.modal.fade.bs-example-modal-lg#modal-upload(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
		div.modal-dialog.modal-lg(role="document")
			div.modal-content
				div.modal-body
					div.upload-wrap.col-md-12.no-padding
						div.croppie-container
				div.modal-footer
					a.crop-btn.btn.btn-style1 Crop
					a.btn.btn-style1(data-dismiss="modal") Cancel
block js
	script(src='/js/admin/croppie.min.js')
	script(src='/js/admin/exif.js')