extends layout

block content		
		div.row
		div.col-md-12
			div.box.box-solid
				div.box-header.with-border
					h3.notosan-bold.box-title.title Web Settings
				div.box-body
					div.col-sm-10
						div.form-group.margin-bottom-20
							div.col-sm-12
								label.notosan-bold(style="font-size: 17px;") Embed
								textarea#rule.form-control(name="rule", rows="9")
									html
										head
											<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, user-scalable=no">
										<style>#quizzuiframe {margin: 0px;overflow: hidden;} .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; height: 100%; width: 100% }</style>
										body#quizzuiframe
											<div class='embed-container' id="iframe"><iframe src='#{linkapi}' frameborder='0' allowfullscreen></iframe></div>
					div.col-sm-12.general-block(style="padding:20px 0 30px")
						div.text-center
							input#btncopy.btn.btn-style1.margin-right-20.save-btn(value="Copy", type="button")
block js
	script.
		$('#btncopy').click(function() {
			//document.execCommand($('#rule').val());
			//console.log($('#rule').val());
			$('#rule').select();
			document.execCommand('copy');
			alert('Copy to clipboard success');
		});