doctype html
html
	head
		title Page Note Found
		script(src='/js/jquery-2.2.4.min.js')
		script(src='/js/check-rotate.js')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', href='/stylesheets/main.css')
		style.
			#catch-rotate {
				left:0px;
			}
			#animation-rotate {
				margin-left: 0px;
				margin-top:0px;
			}
			#catch-rotate p {
				font-size: 40px;
			}
			#text404 {
				position: relative;
				text-align: center;
				margin-top: 2%;
				font-size: 30px;
			}
			#number404 {
				color: #f9405f;
				width: 100%;
				text-align: center;
				margin: 0 auto;
				display: inline-block;
				position: relative;
			}
			body {
				font-family: 'Open Sans'!important;
				overflow: hidden;
			}
			.contentimg {
				display: inline-block;
			}
			#img404{
				text-align: center;
				width: 100%;
				position: absolute;
				bottom: 5%;
			}
			.contentimg img {
				max-width: 65%;
			}
			
			@media screen and (min-width: 300px) {
				html { 
				background: url(/images/404-mobile.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
				#number404 {
					font-size: 100px;
					margin-top: 30%;
				}
			}
			
			@media screen and (min-width: 400px) {
				html { 
				background: url(/images/404-mobile.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
				#number404 {
					font-size: 100px;
					margin-top: 30%;
				}
			}
			
			@media screen and (min-width: 500px) {
				html { 
				background: url(/images/404-mobile.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
				#number404 {
					font-size: 100px;
					margin-top: 30%;
				}
			}
			
			
			@media screen and (min-width: 767px) {
				html { 
				background: url(/images/404-ipad.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			    position: absolute;
			    height: 100%;
			    width: 100%; 
				}
				#number404 {
					font-size: 100px;
					margin-top: 10%;
				}
				#text404 {
					font-size: 30px;
					margin-top:5%;
				}
			}
			
		
			
			@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
				#number404 {
					margin-top: 50%;
					font-size: 155px;
				}
			}
			
			
			@media screen and (min-width: 1500px) {
			#number404 {
				margin-top: 33%;
			}
			}
			
			
			
			@media screen and (min-width: 768px)
			and (-webkit-min-device-pixel-ratio: 1) {
				html { 
				background: url(/images/404-ipad.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
			}
			
			
			@media only screen 
			  and (min-device-width: 768px) 
			  and (max-device-width: 1024px) 
			  and (-webkit-min-device-pixel-ratio: 1) {
			  html {
				background: url(/images/404-ipad.jpg) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
				#number404 {
					font-size: 165px;
					margin-top: 30%;
				}
				
			
			}
			
			@media only screen 
			and (min-device-width : 768px) 
			and (max-device-width : 1024px) 
			and (orientation : landscape) {
				#number404 {
					margin-top: 2%;
				}
			}
			
			 
			@media all and (min-width: 1024px){
				html { 
				background: url(/images/404-desktop.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
				#number404 {
					margin-top: 10%;
				}
			}
			@media all and (min-width: 1028px){
				html { 
				background: url(/images/404-desktop.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
			}
			@media all and (min-width: 1366px){
				html { 
				background: url(/images/404-desktop.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
			}
			@media all and (min-width: 1600px){
				html { 
				background: url(/images/404-desktop.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
				#number404 {
					font-size: 200px;
					margin-top: 4%;
				}
				#text404 {
					margin-top:2%;
				}
			}
			@media all and (min-width: 1900px){
				html { 
				background: url(/images/404-desktop.jpg) no-repeat center center fixed; 
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				}
				#number404 {
					margin-top:7%;
				}
			}
			
			
	body
		div#catch-rotate
			div#animation-rotate
				p OOPS! </br> Please rotate your device!
		div#number404
			div 404
		div#text404 Hmm... the quiz that you <br/> are looking for is unavailable at the moment.
		div#img404
			div.contentimg
				img(src="/images/logoquizzu2.png", alt="logo404")
		