extends layout
block content
	div#home-logo
		img(src="/images/logoquizzu2.png", alt="home-logo")
	div
		div.home-left.innercontent
			h1 A new way to quiz your fans.
			h1 Coming soon.
			h4 We are currently in private beta.<br>Leave your email below to be notified when we launch.
			input.input-email.form-control#email(type="text",placeholder="Email Address", name="email")
			input#btn-newsletter.put-email.btn.btn-primary(type="button",value="Put me on the list")
		div.home-right
			img(src="/images/home-phone.png", alt="home-phone")