doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="icon", type="image/png", href="/images/favicon.png?v=2")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-family.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans')
		
		script(src='/js/jquery-2.2.4.min.js')
		script(src='/libs/bootstrap/js/bootstrap.min.js')
		script(src='/js/jquery.easing.1.3.js')
		script(src='/js/jquery.animate-enhanced.min.js')
		script(src='/js/check-rotate.js')
		script.
			$( document ).ready(function() {
				$('#btn-newsletter').click(function() {
					$.post( "/newsletter", { email: $('#email').val()})
						.done(function( data ) {
							console.log( data );
							if(data.success == 1) {
								$('#email').val('');
							}
						});
				 });
			});
		style.
			body
	body#home-body
		div#catch-rotate
			div#animation-rotate
			p OOPS! </br> Please rotate your device! 
		block content    
