extends layout
block css
	link(rel='stylesheet', href='/stylesheets/login.css')
block content
	div.row.my-container
		div.back
			a(href="#{appUrl}").icon-icon-Back
		div.forgot-pass-text
			span Forget Password
		form#forget-form(action='#{appUrl}/forget-password', method="POST")
			div.input-wrapper.row.forget-input
				label(for='email', class='forgot-label')
					span.icon-icon-Email
				input(id='email',class="login-input",type='text',value='',placeholder='Email',name='email')
			div.sign-in-btn.forgot-btn#forgot-btn
				input(type='submit',value='Reset my password',class="btn btn-pink")
			div.text-login.hidden
				span An email has been sent to your email address. <br/>Please check your email to continue.
	script.
		$(document).ready(function(){
		
			$(document)
				.on('submit', '#forget-form', function(e) {
						e.preventDefault();
						
						if(!isEmail($('#email').val())) {
							$(".text-login").removeClass("hidden");
							$('#email').val('');
							$(".text-login").text("Email not valid");
							return false;
						}else{																									
							$.ajax({
								method: "POST",
								url: "#{appUrl}/forget-password",
								data: { email: $('#email').val() }
							})
							.done(function( msg ) {					 
								$(".text-login").removeClass("hidden");
								if(msg.success == 1 ) {
									$('#email').val('');					
									$("#forgot-btn input[type=submit]").attr('value', 'Email sent');
									$(".text-login").html("An email has been sent to your email address. <br/>Please check your email to continue.");					
								}else if(msg.success == -1) {							
									$('#email').val('');
									$(".text-login").text("Email not exist");
								}else if(msg.success == -2) {
									$(".text-login").text("Email is linked to Facebook Account. Please log in using Facebook instead.");
								}								
								else if(msg.success == 0) {
									$(".text-login").text("Error, Please contact administrator");
								}
							});	
						}						
				});
			
						
		});
		
		
		
		function isEmail(email) { 
		    return /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))$/i.test(email);
		}