if currentApp.intro_file
	style.
		.background-style-1 {
			background-image: url('/../..#{currentApp.intro_file}');
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height:100%;
			overflow: hidden;
		}
		html {
			overflow: hidden;
		}
else
	style.
		.background-style-1 {
			background-image: url('/../../images/background1.jpg');
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height:100%;
		}
		
if currentApp.theme_destop_bg
	style.
		.background-style-2 {
			background-image: url('/../..#{currentApp.theme_destop_bg}');
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height:100%;
		}
else
	style.
		.background-style-2 {
			background-image: url('/../../images/background2.jpg');
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			height:100%;
		}