html
	head
		title QUIZZU - #{title}
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui, user-scalable=no')
		meta(name="description", content="Quizzu")
		meta(name="keywords", content="Quizzu")
		meta(name="author", content="Quizzu")
		link(rel="icon", type="image/png", href="/images/favicon.png?v=2")
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		block css
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		
		script(src='/js/jquery-2.2.4.min.js')
		script(src='/libs/bootstrap/js/bootstrap.min.js')
		script(src='/js/check-rotate.js')
		<script type="text/javascript" src="/js/jquery.vaccordion.js"></script>
		<script type="text/javascript" src="/js/config.js"></script>
		script.
			var ga_app_tracking_id = "#{currentApp.ga_app_tracking_id}";
		<script type="text/javascript" src="/js/ga.js"></script>
		<script type="text/javascript" src="/js/heap.js"></script>
		include game-background.jade

	body(class=(backgroundStyle1 != undefined && backgroundStyle1 == true && firstvisit == undefined) || (backgroundStyle1 != undefined && backgroundStyle1 == true && firstvisit != undefined && firstvisit) ? "background-style-1" : "background-style-2")
		div#catch-rotate
			div#animation-rotate
			p OOPS! </br> Please rotate your device! 
		block content
		block js
