extends layout

block css
	link(rel='stylesheet', href='/libs/pagetransitions/animations.css')
	link(rel='stylesheet', href='/stylesheets/questions.css')
	link(rel='stylesheet', href='/stylesheets/admin-fonts/font-awesome.min.css')
	link(rel='stylesheet', href='/libs/amchart-js/jquery.mCustomScrollbar.css')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

block content
	include menu.jade
	div.modal.fade.bs-example-modal-sm#inviteModal(tabindex="-1", role="dialog")
		div.modal-dialog.modal-sm
			div.modal-content
				div.modal-header
					button.close(type="button", data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h3.modal-title Recruit your friends
				div.modal-body
					form#invite-form(action='', method="POST")
						input(type="hidden", name="app_url", value="#{appUrl}")
						div.input-wrapper.row.invite-input
							// -cm
								label(for='email', class='invite-label')
									span.icon-icon-Email
							input(id='email',class="login-input form-control",type='text',value='',placeholder='Email',name='email')
						div.invite-btn
							input(type='submit',value='Invite',class="")
							img.loading.hidden(src="/images/loading.gif", style="margin-left: 10px;")
						div(style="margin-top: 20px;")
							div.text-danger.hidden
							div.text-success.hidden
	div.my-container.leaderboadcontainer
		div(style="overflow: hidden;")
			div#pt-main.pt-perspective
				div.question-page.walkthrough-page
					div.question-content
						div
							p.qs-title-1.text-leaderboard Leaderboard
							div.font-size-20.va-container#va-accordion
								ul.nav.tab-leaderboard
									li.active
										a(href="#everyone",data-toggle="tab") EVERYONE
									li
										a(href="#friends",data-toggle="tab") FRIENDS	
								div.leaderboard-font
										div.icon
											span.icon-icon-Email.pt-touch-button
										div.recruit
											span Recruit your friends and increase your score!
								div.tab-content
									div.tab-pane.fade.in.active.va-wrapper#everyone
										each scored, i in scoreds
											div.va-slice(class="#{scored.user_id._id == user.id ? 'you' : ''}")
												div.leaderboard-table
													div.score-col
														span= getRankingLeaderboard(map_reduce, scored.user_id._id)
													div.first-col
														if typeof scored.user_id.avatar != 'undefined'
															div.avatar-img(style="background-image:url(#{scored.user_id.avatar});background-position: center;background-size: cover;")
														else
															div.avatar-img(style="background-image:url(/images/no-avatar.jpg);background-position: center;background-size: cover;")
														
														//cm
															if typeof scored.user_id.avatar != 'undefined'
																img(src="#{scored.user_id.avatar}")
															else
																img(src="/images/no-avatar.jpg")
													div.second-col
														span= scored.user_id.name.substring(0, 10) + (scored.user_id.name.length > 10 ? '...' : '')
													div.scoreld
														span= numberWithCommas(scored.point)
										if ! is_user_in_list
											div.va-slice
												div.leaderboard-table
													div.score-col
														span text
													div.first-col
														img(src="/images/no-avatar.jpg")
													div.second-col
														span text
													div.scoreld
														span text
											div.va-slice.you.fix
												div.leaderboard-table
													div.score-col
														span= getRankingLeaderboard(map_reduce, user.id)
													div.first-col
														if typeof user.avatar != 'undefined'
															div.avatar-img(style="background-image:url(#{user.avatar});background-position: center;background-size: cover;")
														else
															div.avatar-img(style="background-image:url(/images/no-avatar.jpg);background-position: center;background-size: cover;")
													div.second-col
														span= user.name.substring(0, 10) + (user.name.length > 10 ? '...' : '')
													div.scoreld
														span= numberWithCommas(user_scored['point'])
									
									div.tab-pane.fade.in.active.va-wrapper#friends
										if invite_friends_scored.length
											each ifr_scored, i in invite_friends_scored
												div.va-slice(class="#{ifr_scored.user_id._id == user.id ? 'you' : ''}")
													div.leaderboard-table
														div.score-col
															span= getRankingLeaderboard(map_reduce, ifr_scored.user_id._id)
														div.first-col
															if typeof ifr_scored.user_id.avatar != 'undefined'
																div.avatar-img(style="background-image:url(#{ifr_scored.user_id.avatar});background-position: center;background-size: cover;")
															else
																div.avatar-img(style="background-image:url(/images/no-avatar.jpg);background-position: center;background-size: cover;")
															
															//cm
																if typeof ifr_scored.user_id.avatar != 'undefined'
																	img(src="#{ifr_scored.user_id.avatar}")
																else
																	img(src="/images/no-avatar.jpg")
														div.second-col
															span= ifr_scored.user_id.name.substring(0, 10) + (ifr_scored.user_id.name.length > 10 ? '...' : '')
														div.scoreld
															span= numberWithCommas(ifr_scored.point)
										else
											div.nolist
												img(src="/images/envelope.png")
												p.desc Recruit your friends and increase your score!						

block js
	script.
		var check_num = #{check_num};
	script(src='/js/jquery.vaccordion.js')
	script.
		$( window ).resize(function() {
		  	$('#va-accordion').vaccordion({
				expandedHeight	: 0,
				animSpeed		: 0,
				animEasing		: '',
				animOpacity		: 1
			});
			var divH = $('#va-accordion .tab-content .active .va-slice:first-child .first-col').height();
			var divW = $('#va-accordion .tab-content .active .va-slice:first-child .first-col').width();
			if(divH > divW)
			{
				$('.avatar-img').css({"width":divW, "height":divW});
			}else{
				$('.avatar-img').css({"width":divH, "height":divH});
			}

		});
		
		$(function() {
			$('#va-accordion').vaccordion({
				expandedHeight	: 0,
				animSpeed		: 0,
				animEasing		: '',
				animOpacity		: 1
			});
			var divH = $('#va-accordion .tab-content .active .va-slice:first-child .first-col').height();
			var divW = $('#va-accordion .tab-content .active .va-slice:first-child .first-col').width();
			if(divH > divW)
			{
				$('.avatar-img').css({"width":divW, "height":divW});
			}else{
				$('.avatar-img').css({"width":divH, "height":divH});
			}
		});
		
		function isEmail(email) { 
		    return /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))$/i.test(email);
		}
	script(src='/libs/amchart-js/jquery.mCustomScrollbar.concat.min.js')
	script(src='/js/main.js')
