extends layout
block css
	link(rel='stylesheet', href='/stylesheets/login.css')
block content
	div.my-container
		div.login-logo
			img.img-circle(src= "#{currentApp.profile_img}")
		form(action='#{appUrl}/login',method='post')
			if ! currentApp.only_login_fb
				div(class="input-wrapper color#{font_color}")
					label(for='email', class='login-label')
						img(src= "/images/#{icon_user}")
					input(id='email',class="login-input color#{font_color}",type='text',value='',placeholder='Email',name='email',style="color:#{font_color}!important;")
				div(class="input-wrapper color#{font_color}")
					label(for='password', class='login-label')
						img(src= "/images/#{icon_password}")
					input(id='password',class="login-input",type='password',value='',placeholder='Password',name='password',style="color:#{font_color}!important;")
				div.forgot-password
					a(href="#{appUrl}/forget-password",style="color:#{font_color}!important;").a-password Forgot Password
				if message.length > 0
					p.text-danger.margin-top-10 #{message}
				div.sign-in-btn
					input(type='submit',value='Sign In',class="btn btn-pink")
				div(style='margin: 10px 0px;color:#{font_color}!important;').text-center OR
			else
				div(style="margin-top:30%;")
				if message.length > 0
					p.text-danger.margin-top-10.text-center #{message}
			div.sign-in-btn
				div.text-center
					a(href="/auth/facebook#{appUrl}").fb-login-wrapper
						img(src= "/images/fb-logo.png", style="width: 27px;")
						span Log in with Facebook
			if ! currentApp.only_login_fb
				div(style="margin-top: 32px;color:#{font_color}!important;").text-center Don't have an account? #[a(href="#{appUrl}/sign-up")(style="color:#{font_color}!important;") Sign Up]
block js
	script(src='/libs/moment/moment.js')
	script(src='/libs/moment/moment-timezone-with-data.js')
	script.
		moment.tz.setDefault("Asia/Singapore");
		var appUrl = '#{currentApp.url}';
		var appId = '#{currentApp.id}';
	script(src='/js/web/landing-page.js')