div#mySidenav.sidenav
	div.row.marginside
		div.col-xs-8
			span.closebtn.icon-icon-Close-Full(onclick="closeNav()")
		div.col-xs-4.avatar-wrapper
			img(src="#{avatar}")
	div
		a(href="/#{app.url}/profile") Profile
		a(href="/#{app.url}/how-to-win") How to Win
		a(href="/#{app.url}/leaderboard") Leaderboard
		a(href="/#{app.url}/terms-and-conditions") Terms and Conditions
		a(href="/#{app.url}/privacy-policy") Privacy Policy
		a(href="terms-of-service") Terms of Service
		a(href="/#{app.url}/logout") Log Out
		div.menu-logo-bottom
			img.img-circle(src= "#{app.profile_img}")
		
div.menu-wrapper(class=typeof hideMenu != "undefined" && hideMenu == true ? "hidden" : "")
	div.menu-top
		div.col-xs-2.menu-icon-wrapper(class=firstvisit != undefined && ! firstvisit ? "hidden" : "")
			span.icon-icon-menu#menu-icon(onclick="openNav()", style="display:block;")
		if (questionPage)
			div.wrapper-cirle-and-point(class=firstvisit != undefined && ! firstvisit ? "" : "hidden")
				div.my-container.percent-competion-wrapper.text-center
					<div id="cirle-progress"></div>
				div.score
					div.score-num.total-score= numberWithCommas(userScored)
					div.question-bottom-text.score-text YOUR SCORE