html
	head
		title= title
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui')
		meta(name="description", content="Quizzu")
		meta(name="keywords", content="Quizzu")
		meta(name="author", content="Quizzu")
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/libs/pagetransitions/animations.css')
		link(rel='stylesheet', href='/stylesheets/questions.css')
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		script(src='/js/jquery-2.2.4.min.js')
		script(src='/libs/bootstrap/js/bootstrap.min.js')
		script(src='/js/preview.js')
		include game-background.jade
		style.
			@media screen
				and (min-width : 1200px)
				and (max-width : 1600px) {
					.fb-wrapper-module {
						margin-top: 30%;
					}
					.fb-wrapper-like {
						margin-top: 20%;
					}
			}
			
			@media screen
				and (min-width : 1900px){
					.fb-wrapper-module {
						margin-top: 50%;
					}
					.fb-wrapper-like {
						margin-top: 30%;
					}
					.fb-wrapper-like {
						margin-bottom: 40%;
					}
			}
		
	body.background-style-2
		div#fb-root
		script(src='/js/initfb.js')
		div.row.menu-wrapper
			div.menu-top
				div.col-xs-2.menu-icon-wrapper
				div.my-container.percent-competion-wrapper.text-center
					<div id="cirle-progress"></div>
				div.score
		div.my-container
			div(style="overflow: hidden;")
				div#pt-main.pt-perspective
					div(class=preview.background == "light" ? "light" : "dark").pt-page.question-page
						div(style="background: url('#{preview.img}');background-repeat: no-repeat;background-position: center bottom;background-size: 100% auto;").question-content
							if preview.required_action =='share'
								div.qs-bonus
									p.qs-title-1 Bonus Round!
									if preview.required_action == 'share'
										p.question-title.bonus #{preview.caption}
									else
										p.question-title.bonus #{preview.caption}
								div.col-xs-12.fb-wrapper-module
									div.fb-page(data-href="#{preview.fb_link}",data-adapt-container-width="true",data-show-posts="false",data-show-facepile="true",data-hide-cover="false")
										blockquote.fb-xfbml-parse-ignore(cite="#{preview.fb_link}")
											a(href="#{preview.fb_link}")
								
								div.wrapper-question
									div.question-footer
										div.row.check-wrapper.answer-action.bonus-bottom
											if preview.required_action == 'share'
												div.col-xs-6.text-right.proccess-skip
													span.icon-Icon-no
												div.col-xs-6.text-left
														span.icon-share.facebook-share(data-link="#{preview.fb_link}")
											else
												div.col-xs-12.text-center.proccess-skip
													span.icon-Icon-no
							else
								div.qs-bonus
									p.qs-title-1 Bonus Round!
									if preview.required_action == 'share'
										p.question-title.bonus #{preview.caption}
									else
										p.question-title.bonus #{preview.caption}
								div.col-xs-12.fb-wrapper-module
									div.fb-page(data-href="#{preview.fb_link}",data-adapt-container-width="true",data-show-posts="false",data-show-facepile="true",data-hide-cover="false")
										blockquote.fb-xfbml-parse-ignore(cite="#{preview.fb_link}")
											a(href="#{preview.fb_link}")
								
								div.wrapper-question
									div.question-footer
										div.row.check-wrapper.answer-action.bonus-bottom
											div.col-xs-12.fb-wrapper-like
												if preview.required_action == 'like'
													div.fb-like(data-href="#{preview.fb_link}", data-layout="button", data-action="like", data-size="large", data-show-faces="true")
											div.col-xs-12.text-center.proccess-skip
												span.icon-Icon-no

							
		script(src='/libs/pagetransitions/modernizr.custom.js')
		script(src='/libs/pagetransitions/jquery.dlmenu.js')
		script(src='/libs/pagetransitions/pagetransitions.js')
		script(src='/js/web/progressbar.min.js')