html
	head
		title= title
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui')
		meta(name="description", content="Quizzu")
		meta(name="keywords", content="Quizzu")
		meta(name="author", content="Quizzu")
		link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/libs/pagetransitions/animations.css')
		link(rel='stylesheet', href='/stylesheets/questions.css')
		link(rel='stylesheet', href='/stylesheets/responsive.css')
		script(src='/js/jquery-2.2.4.min.js')
		script(src='/libs/bootstrap/js/bootstrap.min.js')
		script(src='/js/preview.js')
		include game-background.jade
	body.background-style-2.preview-question
		div.row.menu-wrapper
			div.menu-top
				div.col-xs-2.menu-icon-wrapper
				div.my-container.percent-competion-wrapper.text-center
					<div id="cirle-progress"></div>
				div.score
		div.my-container
			div(style="overflow: hidden;")
				div#pt-main.pt-perspective
										
					div(class=preview.font_color == "black" ? "light" : "dark").pt-page.question-page.true-question
						div(style="background: url('#{preview.img}');background-repeat: no-repeat;background-position: center bottom;background-size: 100% auto;").question-content
							p.question-title #{preview.question}
							div.wrapper-question
								div.hidden.qs-answer !{preview.answer}
							
								div.question-footer
									div.row.check-wrapper.answer-action
										div.col-xs-6.text-right
											span.icon-Icon-no(data-answer="0")
										div.col-xs-6.text-left
											span.icon-Icon-Check(data-answer="1")
										
		div.question-modal.modal.fade.bs-example-modal-sm#helpModal(tabindex="-1", role="dialog", data-backdrop="static", data-keyboard="false")
			div.modal-dialog.modal-sm
				div.modal-content
					div.modal-body
						h2.text-center OOPS!
						div.help-content !{preview.explain}
						div.text-center
							span.icon-Icon-Check
							
		script(src='/libs/pagetransitions/modernizr.custom.js')
		script(src='/libs/pagetransitions/jquery.dlmenu.js')
		script(src='/libs/pagetransitions/pagetransitions.js')
		script(src='/js/web/progressbar.min.js')