extends layout

block css
	link(rel='stylesheet', href='/libs/pagetransitions/animations.css')
	link(rel='stylesheet', href='/stylesheets/questions.css')
	link(rel='stylesheet', href='/libs/amchart-js/jquery.mCustomScrollbar.css')
	style.
		.pt-page {
			position: relative;
			overflow: auto;
		}
block content
	include menu.jade
	div.my-container
			div(style="overflow: hidden;")
				div#pt-main.pt-perspective
					div.pt-page.walkthrough-page.pt-page-current
						div.question-content
							
							div.qs-result
								p.profile-info Privacy Policy
								
								div.terms#everyone !{bodytext}
									


block js
	script(src='/libs/amchart-js/jquery.mCustomScrollbar.concat.min.js')
	script(src='/js/main.js')