extends layout

block css
	link(rel='stylesheet', href='/libs/pagetransitions/animations.css')
	link(rel='stylesheet', href='/stylesheets/questions.css')
	style.
		.pt-perspective {
			overflow: hidden;
		}
		.walkthrough-page {
			background: #fff;
		}
		::-webkit-input-placeholder {
		   color: #363636;
		}
		
		:-moz-placeholder {
		   color: #363636;  
		}
		
		::-moz-placeholder {
		   color: #363636;  
		}
		
		:-ms-input-placeholder {
		   color: #363636;  
		}
		.text-profile {
			color: #363636;
		}
		.nav-profile .icon-icon-Username:before{
			color: #868686;
		}
		.nav-profile .icon-icon-Email:before{
			color: #868686;
		}
		.nav-profile .icon-icon-Password:before{
			color: #868686;
		}		
		.nav-profile .icon-icon-NewPassword:before{
			color: #c9c9c9;
		}
		
		
		

block content
	include menu.jade
	div.my-container#profile
		div(style="overflow: hidden;")
			div#pt-main.pt-perspective
				form#formsubmit(action='#{appUrl}/profile', method="POST", enctype="multipart/form-data")
					div.pt-page.walkthrough-page.pt-page-current
						div.question-content
							
							div.qs-result
								p.profile-info Profile Settings
								div.avatar
									div.boxavatar
										label
										img#OpenImgUpload(src="#{avatar}")
										//img(src="#{avatar}" id="img_profile" style="display: none;")
										input(type="file", name="profile_file", accept="image/*", style="display: none;")
										input(type='hidden',value='#{avatar}',name='current_image')
								div
									ul.nav-profile
										li
											span.icon-icon-Username
											input(id='email',class="login-input",type='text',value='#{name}',placeholder='Name',name='name', autofocus).text-profile
										li
											span.icon-icon-Email
											input(id='email',class="login-input",type='text',value='#{email}',placeholder='Email',name='email' disabled).text-profile
										if ! fb_id
											li
												span.icon-icon-Password
												input(id='email',class="login-input",type='password',value='',placeholder='Current Password',name='password').text-profile
											li
												span.icon-icon-NewPassword
												input(id='email',class="login-input",type='password',value='',placeholder='New Password',name='newpassword').text-profile
											li
												span.icon-icon-NewPassword
												input(id='email',class="login-input",type='password',value='',placeholder='Verify Password',name='vertifypassword').text-profile
											
							div.errorMessage
								if message.length > 0
									div.col-md-12
										each m in message
											p.text-danger(style="font-weight: bold;") #{m}
											
							div.successful-message
												if successful.length > 0
													div.col-md-12
														each m in successful
															p.text-success(style="font-weight: bold;") #{m}									
							div.wrapper-question
								div.question-footer
									div.row.check-wrapper-profile
										div.col-xs-12.text-center.check-profile
											span.icon-Icon-Check#iconChecksubmit


block js
	script(src='/js/main.js')
