extends layout
block css
	link(rel='stylesheet', href='/libs/pagetransitions/animations.css')
	link(rel='stylesheet', href='/stylesheets/questions.css')
	link(rel='stylesheet', href='/libs/amchart-js/jquery.mCustomScrollbar.css')

block content
	- var questionPage = true
	div#fb-root
	script(src='/js/initfb.js')
	include menu.jade
			
	div.my-container
		div(style="overflow: hidden;")
			div#pt-main.pt-perspective
				if firstvisit
					div.pt-page.walkthrough-page
						div.walkthrough-icon-wrapper
							img(src="/images/dot-1.png")
							img(src="/images/dot-2.png")
							img(src="/images/dot-2.png")
						div.row.walkthrough-img-wrapper
							div.col-xs-3
							div.col-xs-6
								img(src="/images/wrong.png")
							div.col-xs-3
						div.walkthrough-desc Every page consist of a question. Select the tick or cross to answer the question.
						div.walkthrough-next
							button.btn.btn-pink.pt-touch-button Next
							
					div.pt-page.walkthrough-page
						div.walkthrough-icon-wrapper
							img(src="/images/dot-2.png")
							img(src="/images/dot-1.png")
							img(src="/images/dot-2.png")
						div.row.walkthrough-img-wrapper
							div.col-xs-3
							div.col-xs-6
								img(src="/images/bonus.png")
							div.col-xs-3
						div.walkthrough-desc Look out for bonus questions that will reward you with additional points!
						div.walkthrough-next
							button.btn.btn-pink.pt-touch-button Next
						
					div.pt-page.walkthrough-page
						div.walkthrough-icon-wrapper
							img(src="/images/dot-2.png")
							img(src="/images/dot-2.png")
							img(src="/images/dot-1.png")
						div.row.walkthrough-img-wrapper
							div.col-xs-3
							div.col-xs-6
								img(src="/images/play.png")
							div.col-xs-3
						div.walkthrough-desc Great! You are now ready to hit play.
						div.walkthrough-next
							button.btn.btn-pink.pt-touch-button Next

				each question in questions
					div(class=question.font_color == "black" ? "light" : "dark").pt-page.question-page.true-question.increase-page-view
						div(style="background: url('#{question.image}');background-repeat: no-repeat;background-position: center bottom;background-size: 100% auto;").question-content
							input(type="hidden", name="question_id", value="#{question._id}")
							input(type="hidden", name="correct_answer", value="#{question.correct_answer}")
							input(type="hidden", name="explain", value="#{question.explain}")
							p.question-title #{question.question}
							div.wrapper-question
								div.question-footer
									div.row.check-wrapper.answer-action
										div.col-xs-6.text-right
											span.icon-Icon-no(data-answer="0")
										div.col-xs-6.text-left
											span.icon-Icon-Check(data-answer="1")
				each bn in bonus
					if bn.required_action == 'share'
						div(class=bn.background == "light" ? "light" : "dark").pt-page.question-page.increase-page-view.true-question.increase-page-view.share-page
							div(style="background: url('#{bn.image}');background-repeat: no-repeat;background-position: center bottom;background-size: 100% auto;").question-content
								div.qs-bonus
									input(type="hidden", name="bn_id", value="#{bn._id}")
									p.qs-title-1 Bonus Round!
									if bn.required_action == 'share'
										p.question-title.bonus #{bn.caption}
									else
										p.question-title.bonus #{bn.caption}
								div.col-xs-12.fb-wrapper-module
									div.fb-page(data-href="#{bn.fb_link}",data-adapt-container-width="true",data-show-posts="false",data-show-facepile="true",data-hide-cover="false")
										blockquote.fb-xfbml-parse-ignore(cite="#{bn.fb_link}")
											a(href="#{bn.fb_link}")
								
								div.wrapper-question
									div.question-footer
										div.row.check-wrapper.answer-action.bonus-bottom
											if bn.required_action == 'share'
												div.col-xs-6.text-right.proccess-skip
													span.icon-Icon-no
												div.col-xs-6.text-left
														span.icon-share.facebook-share(data-link="#{bn.fb_link}")
											else
												div.col-xs-12.text-center.proccess-skip
													span.icon-Icon-no
					else
						div(class=bn.background == "light" ? "light" : "dark").pt-page.question-page.increase-page-view.increase-page-view.like-page
							div(style="background: url('#{bn.image}');background-repeat: no-repeat;background-position: center bottom;background-size: 100% auto;").question-content
								div.qs-bonus
									input(type="hidden", name="bn_id", value="#{bn._id}")
									p.qs-title-1 Bonus Round!
									if bn.required_action == 'share'
										p.question-title.bonus #{bn.caption}
									else
										p.question-title.bonus #{bn.caption}
								div.col-xs-12.fb-wrapper-module
									div.fb-page(data-href="#{bn.fb_link}",data-adapt-container-width="true",data-show-posts="false",data-show-facepile="true",data-hide-cover="false")
										blockquote.fb-xfbml-parse-ignore(cite="#{bn.fb_link}")
											a(href="#{bn.fb_link}")
								
								div.wrapper-question
									div.question-footer
										div.row.check-wrapper.answer-action.bonus-bottom
											div.col-xs-12.fb-wrapper-like
												if bn.required_action == 'like'
													div.fb-like(data-href="#{bn.fb_link}", data-layout="button", data-action="like", data-size="large", data-show-faces="true")
											div.col-xs-12.text-center.proccess-skip
												span.icon-Icon-no

				div(class=app.completion_background == "light" ? "light" : "dark").pt-page.question-page.final-page
					div.question-content.awesome
						div.question-title
							div.item-awesome
								div.qs-title-1
									div.row.check-wrapper
										div.col-xs-12.text-center
											span.icon-trophy_star.cursor-inherit
										span Awesome!
								div.qs-title-1
									div !{app.completion_message.replace(/{score}/g, ' <span class="today-score">0</span> ')}
						
						div.wrapper-question
							div.question-footer
								div.row.check-wrapper
									div.col-xs-12.text-center
										span.icon-share.facebook-share-owner

									
	div.question-modal.modal.fade.bs-example-modal-sm#helpModal(tabindex="-1", role="dialog", data-backdrop="static", data-keyboard="false")
		div.modal-dialog.modal-sm
			div.modal-content
				div.modal-body
					h2.text-center OOPS!
					div.help-content
					div.text-center
						span.icon-Icon-Check
	div.modal.fade.bs-example-modal-sm#countPlayModal(tabindex="-1", role="dialog", data-backdrop="static", data-keyboard="false")
		div.modal-dialog.modal-sm
			div.modal-content
				div.modal-body
					h2.text-center You have played game. Please comeback tomorrow !
					div.help-content
					div.text-center
						a(href='#{ "/" + app.url + "/logout" }') Logout
block js
	script(src='/libs/pagetransitions/modernizr.custom.js')
	script(src='/libs/pagetransitions/jquery.dlmenu.js')
	script(src='/libs/pagetransitions/pagetransitions.js')
	script(src='/libs/amchart-js/jquery.mCustomScrollbar.concat.min.js')
	script(src='/js/web/progressbar.min.js')
	script.
		var appUrl = '#{app.url}',
			appName = '!{escape(app.app_name).replace(/'/g, "\'")}',
			appProfileImg = '#{app.profile_img}',
			totalQuestionAndRound = '#{totalQuestionAndRound}',
			countPlay = '#{countPlay}',
			role =  '#{role}',
			score = parseInt('#{userScored}'),
			point_adwarded = parseInt('#{app.point_adwarded}'),
			point_deducted = parseInt('#{app.point_deducted}');
	script(src='/js/main.js')
	script(src='/js/question.js')
