extends layout
block css
	link(rel='stylesheet', href='/stylesheets/login.css')
block content
	div.row.my-container
		div.back
			a(href="#{appUrl}").icon-icon-Back
		div.forgot-pass-text
			span #{title}
		form(action='#{appUrl}/reset-password', method="POST")
			input(id='expired', value='#{expired}', name='expired', type='hidden')
			input(id='token', value='#{token}', name='token', type='hidden')		
			div.input-wrapper.row.forget-input(class= classdisable === 'disable' ? 'disable' : '')
				label(for='email', class='forgot-label')
					span.icon-icon-Password
				if disabled == 'disabled'
					input(id='password',class="login-input",type='password',value='',placeholder='New Password',name='password', disabled='#{disabled}')
				else
					input(id='password',class="login-input",type='password',value='',placeholder='New Password',name='password')
			div.input-wrapper.row.forget-input(class= classdisable === 'disable' ? 'disable' : '')
				label(for='email', class='forgot-label')
					span.icon-icon-Password
				if disabled == 'disabled'
					input(id='repassword',class="login-input",type='password',value='',placeholder='New Password Confirmation',name='repassword', disabled='#{disabled}')
				else
					input(id='repassword',class="login-input",type='password',value='',placeholder='New Password Confirmation',name='repassword')
			div.sign-in-btn.forgot-btn#forgot-btn
				input(type='button',value='#{titlebutton}',class="btn btn-pink")
			div.text-login
				span #{message}
			
	script.
		$(document).ready(function(){
			$('#forgot-btn input[type=button]').click(function() {
				if($('#expired').val() == 1) return !1;
				
				if($('#password').val() != $('#repassword').val()) {
					$('.text-login').text('Password is mismatch');
					return !1;
				}
			 
				$('.text-login').text('');
				$.ajax({
					method: "POST",
					url: "#{appUrl}/reset-password",
					data: { password: $('#password').val(), repassword: $('#repassword').val(), token: $('#token').val() }
				})
				.done(function( msg ) {					
					if(msg.code) {
						$('#password').val('');
						$('#repassword').val('');
						$("#forgot-btn input[type=button]").attr('value', 'You have successfully reset your password!');
					}else {
						$("#forgot-btn input[type=button]").attr('value', 'Error, please reset pass again');
					}
					
				});
											
			});
		})