<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		title Ascott Christmas Quiz - Shanghai
		style.
			html{
				margin: 0;
				height: 100%;
				overflow: hidden;
			}
			iframe{
				position: absolute;
				left:0;
				right:0;
				bottom:0;
				top:0;
				border:0;
			}
body
	<iframe id="typeform-full" width="100%" height="100%" frameborder="0" src="https://robin211.typeform.com/to/xZnD8B"></iframe>
	<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/embed.js"></script>
