extends layout
block css
	link(rel='stylesheet', href='/stylesheets/login.css')
block content
	div.my-container
		a(href="#{appUrl}/")
			img(src= "/images/icon-back.png", style="margin-top: 5%;")
		div(style="margin-left: 25px;").title Sign Up
		form(action='#{appUrl}/sign-up',method='post')
			div.input-wrapper
				label(for='name', class='login-label')
					img(src= "/images/icon-person.png")
				input(id='name',class="login-input",type='text',value='',placeholder='Name',name='name')
			div.input-wrapper
				label(for='email', class='login-label')
					img(src= "/images/icon-email.png")
				if emailDefault
					input(id='email',class="login-input",type='text',value='#{emailDefault}',placeholder='Email',name='email',readonly="readonly")
				else
					input(id='email',class="login-input",type='text',value='',placeholder='Email',name='email')
			div.input-wrapper
				label(for='password', class='login-label')
					img(src= "/images/icon-password.png")
				input(id='password',class="login-input",type='password',value='',placeholder='Password',name='password')
			if message.length > 0
				p.text-danger.margin-top-10 #{message}
			div.sign-in-btn
				input(type='submit',value='Join',class="btn btn-pink")
			div(style='margin: 10px 0px;').text-center OR
			div.sign-in-btn
				div.text-center
					a(href="/auth/facebook").fb-login-wrapper
						img(src= "/images/fb-logo.png", style="width: 27px;")
						span Log in with Facebook

			div(style="margin-top: 80px; color: #e5d4cc;").text-center Already have an account? #[a(href="#{appUrl}/") Sign In]
